<template>
  <div class="category-bar-box">
    <app-product-list></app-product-list>
    <app-total-box></app-total-box>
    <app-navigation></app-navigation>
    <app-category-page-list></app-category-page-list>
    <app-category-list></app-category-list>
  </div>
</template>

<script>
import Navigation from "./Navigation.vue";
import CategoryList from "./CategoryList.vue";
import CategoryPageList from "./CategoryPageList.vue";
import ProductList from './ProductList.vue';
import TotalBox from './TotalBox.vue';

export default {
  data() {
    return {};
  },
  components: {
    "app-navigation": Navigation,
    "app-category-list": CategoryList,
    "app-category-page-list": CategoryPageList,
    "app-product-list": ProductList,
    "app-total-box": TotalBox,
  }
};
</script>

<style>

</style>
