<template>
  <div class="category-page-list">
    <div class="wrapper">
      <div class="list-item-box">
        <ul class="list-item-data">
          <li class="single-item" v-for="(catItem, index) in $store.state.category.categoryPaginated" :key="index">
            <div class="single-item-details" @click="handleClickCatItem(catItem)">
              {{catItem.name}}
            </div>
          </li>
        </ul>
        <div class="page-box">
          <div class="page-item page-next" @click="nextPage()">
            <span>
              {{ $t('Page') }} {{$store.state.category.nextPage}}
            </span>
          </div>
          <div class="page-item page-prev" @click="prevPage()">
            <span>
              {{ $t('Page') }} {{$store.state.category.prevPage}}
            </span>
          </div>
        </div>
      </div>
      <div class="total-amount-box">
        <ul class="total-amount-box-data">
          <li class="total-amount-item">
            <p class="item-title">
              Letzter Betrag:
            </p>
            <p>{{letztebetrag}}€</p>
          </li>
          <li class="total-amount-item">
            <p class="item-title">
              Gegeben:
            </p>
            <p>{{gegeben}}€</p>
          </li>
          <li class="total-amount-item">
            <p class="item-title">
              Rückgeld:
            </p>
            <p>{{ruckgeld}}€</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
  import {
    globalStore
  } from '@/global/global.js';
  import axios from 'axios'
  export default {
    dependencies: ['commonService'],
    data() {
      return {
        letztebetrag: 0,
        gegeben: 0,
        ruckgeld: 0
      };
    },
    computed: {},
    methods: {
        nextPage() {
            this.$store.dispatch('nextPageCategory');

            setTimeout(() => {
                this.handleColorBtnCategory();
            }, 100);
            
        },
        prevPage() {
            this.$store.dispatch('prevPageCategory');
            
            setTimeout(() => {
                this.handleColorBtnCategory();
            }, 100);
        },
        handleClickCatItem(item) {
            this.$store.dispatch('doClickToCategoryItem', item);
            this.$store.dispatch('resetPagerProductList');
            setTimeout(() => {
                this.handleColorBtnProduct();
            }, 100);
        },
        get_last_order() {
            let userinfo = JSON.parse(localStorage.getItem(globalStore.cookieNameLoginInfo)).value[0];
            const postBody = {
                "params": {
                    'userid': userinfo.userid
                }
            };
            axios.post(`${globalStore.baseUrl}orders/get_last_order`, postBody)
                .then(response => {
                    if(typeof response.data.result === 'undefined'){
                        this.letztebetrag = 0;
                        this.gegeben = 0;
                        this.ruckgeld = 0;
                        return ;
                    }
                    var ret = JSON.parse(response.data.result);
                    var order = JSON.parse(ret.value.replace(/\bNaN\b/g, 'null'));
                    if(order.length === 1){
                        this.letztebetrag = order[0].total_with_discount || 0;
                        this.gegeben = order[0].total_give || 0;
                        this.ruckgeld = order[0].return_back || 0;
                    }
                    this.letztebetrag = parseFloat(this.letztebetrag).toFixed(2);
                    this.gegeben = parseFloat(this.gegeben).toFixed(2);
                    this.ruckgeld = parseFloat(this.ruckgeld).toFixed(2);
                });
        },
        handleColorBtnCategory() {
            let list = document.querySelector('.list-item-data');
            let items = list.querySelectorAll('.single-item');
            globalStore.handleAlternateColorButton(list, items, 4);
        },
        handleColorBtnProduct() {
            let list = document.querySelector('.category-child-items');
            if(globalStore.domExists(list)) {
              let items = list.querySelectorAll('.single-product-item');
              globalStore.handleAlternateColorButton(list, items, 6);
            }
        },
    },
    created() {
        this.$store.commit('initCurrentPageIndex');
        this.$store.dispatch('initCategoryDataWhenFirstLoad', false);
        this.$store.dispatch('handlePaginateNumberIndex', this.$store.state.category.startPage);
    },
    mounted(){
      this.get_last_order();
      this.handleColorBtnCategory();
    }
  };

</script>

<style>


</style>
