<template>
  <div class="category-list-wrapper">
    <div class="category-list-child">
      <ul class="category-child-items">
        <li
          class="child-item single-product-item"
          v-for="(product, index) in $store.state.product.allProductLazyLoad"
          :key="index"
          @click="selectProductToOrder(product)"
        >
          <div class="child-link">
            <div class="child-price">
              <span> {{ product.sale_price }}€ </span>
            </div>
            <div
              class="child-name"
              v-if="enable_product_translate && $store.state.i18n.lang === 'de'"
            >
              {{ product.name_de }}
            </div>
            <div class="child-name" v-else>
              {{ product.name }}
            </div>
            <div class="child-overlay"></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="product-list-scroll-box">
      <div class="scroll-box-wrapper">
        <div class="btn-scroll btn-scroll-up" @click="scrollUp('up')"></div>
        <div class="pager-text">
          <span>
            {{ $store.state.product.pagerProductList }}
          </span>
        </div>
        <div
          class="btn-scroll btn-scroll-down"
          @click="scrollDown('down')"
        ></div>
      </div>
    </div>
  </div>
</template>

<script>
import { globalStore } from "@/global/global.js";
import axios from "axios";

export default {
  dependencies: ["commonService"],
  data() {
    return {
      enable_product_translate: false,
    };
  },
  methods: {
    selectProductToOrder(product) {
      this.$store.dispatch("doSelectProductToOrder", product);

      if (this.$store.state.product.isShowKeyBoardSearchProduct) {
        this.$store.dispatch("handleShowHideKeyboardSearchProduct", false);
      }
    },
    scrollUp(value) {
      this.$store.dispatch("handleDataScrollProductBox", [value]);
    },
    scrollDown(value) {
      this.$store.dispatch("handleDataScrollProductBox", [value]);
    },
    handleColorBtnProduct() {
      let list = document.querySelector(".category-child-items");
      let items = list.querySelectorAll(".single-product-item");
      globalStore.handleAlternateColorButton(list, items, 6);
    },
  },
  created() {
    //   this.$store.commit('setDataScrollProductBox');
    this.$store.dispatch("resetPagerProductList");
  },
  async mounted() {
    //   this.handleColorBtnProduct();
    let response = await axios.post(
      `${globalStore.baseUrl}setting/enable_product_translate`,
      {}
    );
    this.enable_product_translate = JSON.parse(response.data.result);
  },
};
</script>

<style></style>
