<template>
  <header>
    <div class="container">
      <div class="header-wrapper" v-if="headerType === 'default'">
        <div class="header-side-box">
          <div class="logo-box">
            <div class="logo-img" :style="{'background-image': `url(${logo})`}"></div>
            <!-- <img src="@/assets/images/pos-logo.png" alt="logo POS"> -->
          </div>
          <div class="header-bedi">
                <div class="header-bedi-title" @click="clickCustomerBtn()"
                     v-if="($route.path == '/home' || $route.path == '/payment') && $store.state.helper.isHomeReady">
                    <div v-if="parseInt($store.state.product.currentOrder.customer_id || 0) < 1">
                        {{ $t('Customer') }}
                    </div>
                    <div v-if="$store.state.product.currentOrder.customer_id > 0">
                        {{$store.state.product.currentOrder.customer_name}}
                    </div>
                </div>
                <div class="header-bedi-title">
                    {{userinfo.username}} - (S:{{$store.state.product.currentSesssionName}})
                </div>
                <div class="list-header-bedi-data" v-if="$route.path == '/home'">
                    <div class="header-bedi-data" v-for="(order, index) in $store.state.product.orders" @click="select_order(order.ref)" :class="[$store.state.product.orderselectedindex === index ? 'is-active' : '']">
                        {{index+1}}({{parseFloat(order.total_with_discount||0).toFixed(2)}})
                    </div>
                </div>
                <div class="header-bedi-add-more" @click="add_new_order()" v-if="$route.path == '/home'">
                    <div class="add-more-btn"></div>
                </div>
          </div>
        </div>
        <div class="header-side-box">
          <!-- <div class="logout-box">
            <a class="cs-btn" @click="openCustomerScreen()">
              CS
            </a>
          </div> -->
        </div>
      </div>
      <div class="header-wrapper center-element" v-if="headerType === 'header-customer'">
          <div class="logo-box">
            <img src="@/assets/images/pos-logo.png" alt="logo POS">
          </div>
      </div>
    </div>
  </header>
</template>

<script>
    import { globalStore } from '@/global/global.js'
    import axios from 'axios'
    export default {
        dependencies: ['commonService'],
        props: ['templateType'],
        data() {
            return {
                userinfo: {},
                headerType: '',
                logo: []
            };
        },
        methods: {
            clickCustomerBtn(){
                this.$router.push({path: '/list-customer'});
            },
            openCustomerScreen(){
                let route = this.$router.resolve({path: '/customer'});
                window.open(route.href, 'newwindow', 'fullscreen=yes');
            },
            async add_new_order(){
              let currentUser = JSON.parse(localStorage.getItem(globalStore.cookieNameLoginInfo)).value[0];
              const postBody = {"params": {"user_login": currentUser['username']}};
              let response = await axios.post(`${globalStore.baseUrl}user/getmaxorder`, postBody);
              let max_order = JSON.parse(response.data.result);
              max_order = JSON.parse(max_order.value);
              max_order = max_order[0]['max_order'];
              if (max_order === null){
                globalStore.showPopup('requirePasswordNewOrder');
                return;
              }
              let current_orders = this.$store.state.product.orders;
              current_orders = current_orders.length;
              if (parseInt(current_orders) >= parseInt(max_order)){
                globalStore.showPopup('requirePasswordNewOrder');
              }else{
                this.$store.dispatch('addNewOrder');
              }
            },
            select_order(order_ref){
                this.$store.dispatch('selectOrder', order_ref);
            },
            get_user_info_header(){
                let tempUserinfo = JSON.parse(localStorage.getItem(globalStore.cookieNameLoginInfo));
                if(tempUserinfo === null){
                    this.$router.push({path: '/'});
                }else {
                  this.userinfo = JSON.parse(localStorage.getItem(globalStore.cookieNameLoginInfo)).value[0];
                }
            },
            getLogoImg() {
                let req = require.context('../../../public/static/logo', false, /.*/);
                let logoTemp = [];
                req.keys().forEach((key) => {
                    req(key);
                    logoTemp.push(key);
                });
                this.logo = globalStore.setCharAt(logoTemp[0], 0, '/static/logo');
            }
        },
        mounted() {
            this.get_user_info_header();
            if(!this.commonService.checkValid(this.templateType)) {
                this.headerType = 'default';
            } else {
                this.headerType = this.templateType;
            }
            globalStore.socket.on('ask_socket_login', (val) => {
                let usernameask = val;
                if(this.userinfo.username.toString() === usernameask.username.toString() &&
                    usernameask.logintime > this.userinfo.logintime){
                  globalStore.socket.emit('alreadylogin', usernameask);
                }
            });
            globalStore.socket.on('alreadylogin', (val) => {
                if(val.logintime === this.userinfo.logintime){
                  globalStore.userLogout();
                  this.$router.push({path: '/'});
                }
            });

            this.$root.$on('headerForceUpdate', () => {
                this.$forceUpdate();
            });

            this.getLogoImg();
        }
    };
</script>

<style>


</style>
