<template>
  <div class="menu-board-box">
    <!-- <app-menu-board-item></app-menu-board-item> -->
    <div class="calculator-box">
      <div class="calculator-btns">
        <div class="btns-col-numbers">
          <ul class="list-btns-calc">
            <li class="number-btn" @click="clickNum('7')">
              <span>
              7
              </span>
              <span class="overlay-btn"></span>
            </li>
            <li class="number-btn" @click="clickNum('8')">
              <span>
              8
              </span>
              <span class="overlay-btn"></span>
            </li>
            <li class="number-btn" @click="clickNum('9')">
              <span>
              9
              </span>
              <span class="overlay-btn"></span>
            </li>
            <li class="number-btn" @click="clickNum('4')">
              <span>
              4
              </span>
              <span class="overlay-btn"></span>
            </li>
            <li class="number-btn" @click="clickNum('5')">
              <span>
              5
              </span>
              <span class="overlay-btn"></span>
            </li>
            <li class="number-btn" @click="clickNum('6')">
              <span>
              6
              </span>
              <span class="overlay-btn"></span>
            </li>
            <li class="number-btn" @click="clickNum('1')">
              <span>
              1
              </span>
              <span class="overlay-btn"></span>
            </li>
            <li class="number-btn" @click="clickNum('2')">
              <span>
              2
              </span>
              <span class="overlay-btn"></span>
            </li>
            <li class="number-btn" @click="clickNum('3')">
              <span>
              3
              </span>
              <span class="overlay-btn"></span>
            </li>
            <li class="number-btn" @click="clickNum('.')">
              <span>
              ,
              </span>
              <span class="overlay-btn"></span>
            </li>
            <li class="number-btn" @click="clickNum('0')">
              <span>
              0
              </span>
              <span class="overlay-btn"></span>
            </li>
            <li class="number-btn btn-loschen" @click="clickNum('back')">
              <span>
              C
              </span>
              <span class="overlay-btn"></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="payment-box">
      <div class="payment-btn btn-barzah" @click="clickPayment('cash')">
          {{ $t('Pay') }}
      </div>
      <!-- <div class="payment-btn btn-karten" @click="clickPayment('card')">
          {{ $t('Credit') }}
      </div> -->
    </div>
  </div>
</template>

<script>
import { globalStore } from '@/global/global.js';
import { mapState } from 'vuex'
import axios from 'axios';

export default {
    data() {
      return {};
    },
    components: {},
    computed: {
      ...mapState({
        isHomeReady: state => state.helper.isHomeReady
      })
    },
    methods: {
      clickNum(value) {
        this.$store.dispatch('handleClickNumberBoard', value);
      },
      async clickPayment(value){
        if(this.isHomeReady) {
          let lines = this.$store.state.product.currentOrder.lines;

          if(typeof lines.length == 'undefined'){
              globalStore.showPopup('warningNoProduct');
              return;
          }
          if(this.$store.state.product.currentOrder.is_offer){
            globalStore.showPopup('passwordOffer');
            return;
          }
          for (let i = 0; i < lines.length; i++) {
              const element = lines[i];
              if(parseFloat(element.sale_price) <= 0 && !element.disable_selected &&
                !element.name.toLowerCase().includes("pfand")
                && !element.full_name.toLowerCase().includes("deckel.")){
                  this.$store.state.popup.warningContent = value;
                  globalStore.showPopup('requirePasswordPayment');
                  return;
              }
              if(element.full_name.toLowerCase().includes("deckel.")){
                if(parseFloat(element.total_price) === 0 && !element.disable_selected){
                  if(element['line_geschenk'] === 'undefined' || !element['line_geschenk']){
                    this.$store.state.popup.warningContent = value;
                    globalStore.showPopup('requirePasswordPayment');
                    return;
                  }
                }
              }
              // Chặn khi giá thấp hơn min price
              if(element['uom'].toString().toLowerCase() === 'umpackung'){
                if((parseFloat(element.total_price)/parseFloat(element.quantity)).toFixed(2) < parseFloat(element.packung_min_price) && !element.disable_selected){
                  this.$store.state.popup.warningContent = value;
                  globalStore.showPopup('requirePasswordPayment');
                  return;
                }
              }
              if(element['uom'].toString().toLowerCase() === 'karton'){
                if((parseFloat(element.total_price)/parseFloat(element.quantity)).toFixed(2) < parseFloat(element.karton_min_price) && !element.disable_selected){
                  this.$store.state.popup.warningContent = value;
                  globalStore.showPopup('requirePasswordPayment');
                  return;
                }
              }

              if((parseFloat(element.total_price)/parseFloat(element.quantity)).toFixed(2) < parseFloat(element.min_price)){
                if(!element['name'].toLowerCase().includes("pfand")){
                  this.$store.state.popup.warningContent = value;
                  globalStore.showPopup('requirePasswordPayment');
                  return;
                }
              }
              if(typeof element['line_geschenk'] === 'undefined' || !element['line_geschenk']){
                if(parseFloat(element.quantity) === 0) {
                  this.$store.state.popup.warningContent = this.$t('Product cannot have quantity is zero');
                  globalStore.showPopup('showWarning');
                  return;
                }
              }
          }
          if(parseFloat(this.$store.state.product.currentOrder.total_with_discount) === 0){
            globalStore.showPopup('requirePasswordPayment');
            return;
          }

          let response = await axios.get(`${globalStore.baseUrl}socket/checkonline`, {});
          if(response.data.sucessfull){
            this.$store.dispatch('ClickPayment', value);
          }
        }
      },
      handleHeightPaymentBox() {
        let headerBox = document.querySelector('header');
        let categoryBarBox = document.querySelector('.category-bar-box');
        let packageBox = document.querySelector('.package-bar-box');
        let calculatorBox = document.querySelector('.calculator-box');
        let paymentBox = document.querySelector('.payment-box');

        let heightHeader = headerBox.getBoundingClientRect().height;
        let heightOrderBar = window.innerHeight - heightHeader;
        let heightPackageBox = packageBox.getBoundingClientRect().height;
        let heightCalculator = calculatorBox.getBoundingClientRect().height;

        let heightPaymentBox = heightOrderBar - heightPackageBox - heightCalculator;
        paymentBox.style.height = `${heightPaymentBox}px`;
      }
    },
    created() {
      this.$store.commit('initSelectedindex');
    },
    mounted() {
      this.$store.dispatch('handleChangeInputState', 'menge');
      // this.handleHeightPaymentBox();
    }
  };

</script>

<style>


</style>
