<template>
  <nav class="nav-box">
    <div class="nav-box-wrapper">
      <ul class="main-menu">
        <li class="main-menu-item">
          <div class="breadcrumb-item home" @click="goToHomeCategory()">
            Index
          </div>
        </li>
        <div
          v-for="(category, index) in $store.state.category.dataBreadcrumbItem"
          :key="index"
        >
          <li class="main-menu-item">
            <div
              class="breadcrumb-item"
              @click="handleClickBreadcrumbItem(category)"
            >
              {{ category.name }}
            </div>
          </li>
        </div>
      </ul>
      <div class="search-nav">
        <input
          class="input-default input-search-default white"
          type="text"
          :placeholder="$t('Search')"
          v-model="searchvalue"
          @focus="showKeyboard"
        />
        <div class="reset-search" @click="resetSearch()"></div>
      </div>
    </div>
    <vue-touch-keyboard
      class="keyboard-nav-search-product"
      v-if="$store.state.product.isShowKeyBoardSearchProduct"
      :layout="layout"
      :cancel="hideKeyboard"
      :accept="acceptKeyboard"
      :input="input"
      :change="changeValueKeyboard"
    />
  </nav>
</template>

<script>
import { globalStore } from "@/global/global.js";
export default {
  data() {
    return {
      searchvalue: "",
      // biến sử dụng cho bàn phím ảo
      layout: "compact",
      input: null,
      options: {
        useKbEvents: false,
        preventClickEvent: false,
      },
    };
  },
  methods: {
    goToHomeCategory() {
      this.$store.dispatch("initCategoryDataWhenFirstLoad", true);
      this.$store.dispatch("resetPagerProductList");

      setTimeout(() => {
        this.handleColorBtnCategory();
        this.handleColorBtnProduct();
      }, 100);
    },
    handleClickBreadcrumbItem(category) {
      this.$store.dispatch("doClickToCategoryItem", category);
      this.$store.dispatch("resetPagerProductList");

      setTimeout(() => {
        this.handleColorBtnCategory();
        this.handleColorBtnProduct();
      }, 100);
    },
    handleColorBtnCategory() {
      let list = document.querySelector(".list-item-data");
      let items = list.querySelectorAll(".single-item");
      globalStore.handleAlternateColorButton(list, items, 4);
    },
    handleColorBtnProduct() {
      let list = document.querySelector(".category-child-items");
      let items = list.querySelectorAll(".single-product-item");
      globalStore.handleAlternateColorButton(list, items, 6);
    },
    // method sử dụng cho bàn phím ảo
    acceptKeyboard(text) {
      this.hideKeyboard();
    },
    showKeyboard(e) {
      this.input = e.target;
      // this.layout = e.target.dataset.layout;

      if (!this.$store.state.product.isShowKeyBoardSearchProduct) {
        this.$store.dispatch("handleShowHideKeyboardSearchProduct", true);
      }
    },
    hideKeyboard() {
      this.$store.dispatch("handleShowHideKeyboardSearchProduct", false);
    },
    changeValueKeyboard(value) {
      // this.user = value;
    },
    changeSearchValue(e) {
      setTimeout(() => {
        this.searchvalue = e.target.value;
        this.$store.dispatch("filterProductByWord", [this.searchvalue]);
      }, 200);
    },
    resetSearch() {
      this.searchvalue = "";
      this.$store.commit("setStateSearching");
      // this.$store.commit('setDataProductLazyLoad', this.$store.state.product.allProduct);

      // xử lý màu background của sản phẩm
      setTimeout(() => {
        let list = document.querySelector(".category-child-items");
        let items = list.querySelectorAll(".single-product-item");
        globalStore.handleAlternateColorButton(list, items, 6);
      }, 80);
    },
  },
  watch: {
    searchvalue(retval) {
      this.$store.dispatch("filterProductByWord", [retval]);
    },
  },
  created() {
    this.$store.commit("setStateSearching");
    this.$store.dispatch("setProductForSearch");
  },
};
</script>

<style></style>
