<template>
  <div class="order-bar-box" :class="{ready: !isHomeReady}">
    <app-package-bar></app-package-bar>
    <app-menu-board></app-menu-board>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import OrderDetails from "./OrderDetails.vue";
import PackageBar from "./PackageBar.vue";
import MenuBoard from "./MenuBoard.vue";
export default {
  data() {
    return {};
  },
  computed: {
    ...mapState({
      isHomeReady: state => state.helper.isHomeReady
    })
  },
  components: {
    "app-order-details": OrderDetails,
    "app-menu-board": MenuBoard,
    "app-package-bar": PackageBar,
  }
};
</script>

<style>

</style>
