<template>
  <div class="package-bar-box">
    <ul class="list-package" v-if="currentSeite === 1">
      <li class="package-item">
        <div class="btn-item item-next-page" @click="doNextSeite()">
          <span class="item-package-icon"></span>
          <span class="item-package-text">
            {{ $t('Page') }} {{nextSeite}}
          </span>
        </div>
      </li>
      <li class="package-item">
        <div class="btn-item item-cancel" @click="doStorno()">
          <span class="item-package-icon"></span>
          <span class="item-package-text">
            {{ $t('Cancellation') }}
          </span>
        </div>
      </li>
      <li class="package-item">
        <div class="btn-item item-sell-list">
          <span class="item-package-icon"></span>
          <span class="item-package-text">
            Verkauflist
          </span>
          <router-link :to="{ path: 'list-ordered', query: { type: 'verkaufs' } }" class="link-item"></router-link>
        </div>
      </li>
      <!--      <li class="package-item">-->
      <!--        <div class="btn-item item-bon">-->
      <!--          <span class="item-package-icon"></span>-->
      <!--          <span class="item-package-text">-->
      <!--            NB-Bon-->
      <!--          </span>-->
      <!--          <router-link :to="{ path: 'list-ordered', query: { type: 'bon' } }" class="link-item"></router-link>-->
      <!--        </div>-->
      <!--      </li>-->
      <li class="package-item">
        <!-- <li class="package-item" :class="[$store.state.product.isActiveRefreshApp ? 'is-on' : 'is-off']"> -->
        <div class="btn-item item-refresh" @click="doRefreshProduct()">
          <span class="item-package-icon"></span>
          <span class="item-package-text">
                {{ $t('Refresh') }}
            </span>
        </div>
      </li>
      <li class="package-item">
        <div class="btn-item item-price" @click="showPopupRabattPrice('priceType'); changeState('preis');"
             :class="{'is-active' : $store.state.product.statebuffer === 'preis'}">
          <span class="item-package-icon"></span>
          <span class="item-package-text">
            {{ $t('Price') }}
          </span>
        </div>
      </li>
      <li class="package-item">
        <div class="btn-item item-discount"
             @click="showPopupRabattPrice('rabattType'); changeState('rabatt'); setDefaultDiscountType(false)"
             :class="{'is-active' : $store.state.product.statebuffer === 'rabatt'}">
          <span class="item-package-icon"></span>
          <span class="item-package-text">
            {{ $t('Discount') }}
          </span>
        </div>
      </li>
      <li class="package-item">
        <div class="btn-item item-amount" @click="changeState('menge')"
             :class="{'is-active' : $store.state.product.statebuffer === 'menge'}">
          <span class="item-package-icon"></span>
          <span class="item-package-text">
            {{ $t('Quantity') }}
          </span>
        </div>
      </li>
      <li class="package-item">
        <div class="btn-item item-priceInfo" @click="doShowPriceInfo('priceInfo')"
             :class="{'is-active' : $store.state.product.showPriceInfo}">
          <span class="item-package-icon"></span>
          <span class="item-package-text">
            {{ $t('PriceInfo') }}
          </span>
        </div>
      </li>
    </ul>
    <ul class="list-package" v-if="currentSeite === 2">
      <li class="package-item">
        <div class="btn-item item-prev-page" @click="doPrevSeite()">
          <span class="item-package-icon"></span>
          <span class="item-package-text">
            {{ $t('Page') }} {{prevSeite}}
          </span>
        </div>
      </li>
      <li class="package-item">
        <div class="btn-item item-next-page" @click="doNextSeite()">
          <span class="item-package-icon"></span>
          <span class="item-package-text">
            {{ $t('Page') }} {{nextSeite}}
          </span>
        </div>
      </li>
      <li class="package-item">
        <div class="btn-item item-logout" @click="logout()">
          <span class="item-package-icon"></span>
          <span class="item-package-text">
            {{ $t('logout') }}
          </span>
        </div>
      </li>
      <li class="package-item" :class="[$store.state.product.currentOrder.customer_id > 0 ? 'is-on' : 'is-off']">
        <div class="btn-item item-remove-customer" @click="doRemoveCustomerFromOrder()">
          <span class="item-package-icon"></span>
          <span class="item-package-text">
            {{ $t('Remove customer') }}
          </span>
        </div>
      </li>
      <li class="package-item">
        <div class="btn-item item-alle" @click="doStornoAll()">
          <span class="item-package-icon"></span>
          <span class="item-package-text">
            {{ $t('Cancellation all') }}
          </span>
        </div>
      </li>
      <li class="package-item">
        <div class="btn-item item-coupon" @click="showCoupon()">
          <span class="item-package-icon"></span>
          <span class="item-package-text">
            {{ $t('Coupon') }}
          </span>
        </div>
      </li>
      <li class="package-item">
        <div class="btn-item item-reload" @click="reloadOrder()">
          <span class="item-package-icon"></span>
          <span class="item-package-text">
              {{ $t('Reload') }}
          </span>
        </div>
      </li>
      <li class="package-item">
        <div class="btn-item item-bon" style="opacity: 0.8" @click="setOffer()"
             :class="{'is-active' : $store.state.product.currentOrder.is_offer}">
          <!-- <span class="item-package-icon"></span>
          <span class="item-package-text">
            Angebot
          </span> -->
        </div>
      </li>
    </ul>
    <ul class="list-package" v-if="currentSeite === 3">
      <li class="package-item">
        <div class="btn-item item-prev-page" @click="doPrevSeite()">
          <span class="item-package-icon"></span>
          <span class="item-package-text">
                {{ $t('Page') }} {{prevSeite}}
            </span>
        </div>
      </li>
      <li class="package-item">
        <div class="btn-item item-umsatz" @click="clickUmsatz()">
          <span class="item-package-icon"></span>
          <span class="item-package-text">
              {{ $t('Sales') }}
          </span>
        </div>
      </li>
      <li class="package-item">
        <div class="btn-item item-absch" @click="clickAbschluss()">
          <span class="item-package-icon"></span>
          <span class="item-package-text">
              {{ $t('Balancing') }}
            </span>
        </div>
      </li>
      <li class="package-item" :class="{ 'is-off': !$store.state.helper.enable_retoure }">
        <div class="btn-item item-restore" @click="doRetoure()">
          <span class="item-package-icon"></span>
          <span class="item-package-text">
              {{ $t('Return') }}
            </span>
        </div>
      </li>
      <!-- <li class="package-item">
          <div class="btn-item item-credit" @click="clickPayment('card')">
          <span class="item-package-icon"></span>
          <span class="item-package-text">
              {{ $t('Credit') }}
          </span>
          </div>
      </li> -->
    </ul>

    <div class="action-pack-box">
      <div class="btn-action" @click="doChangePackung()">
        <div class="do-action">
          {{ $t('Pack') }}
        </div>
      </div>
      <div class="btn-action" @click="doChangeKarton()">
        <div class="do-action">
          {{ $t('Carton') }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {globalStore} from '@/global/global.js';
  import axios from 'axios';
  import lzutf8 from 'lzutf8';

  export default {
    dependencies: ['commonService'],
    data() {
      return {
        currentSeite: 1,
        nextSeite: 2,
        prevSeite: 1,
        allProducts: [],
        allCategory: [],
      };
    },
    methods: {
      doNextSeite() {
        if (this.currentSeite < 4) {
          this.currentSeite += 1;
          this.nextSeite = this.currentSeite + 1;
          this.prevSeite = this.currentSeite - 1;
        }
      },
      doPrevSeite() {
        if (this.currentSeite > 0) {
          this.currentSeite -= 1;
          this.nextSeite = this.currentSeite + 1;
          this.prevSeite = this.currentSeite - 1;
        }
      },
      changeState(value) {
        this.$store.dispatch('handleChangeInputState', value);
      },
      showPopupRabattPrice() {
        if (this.$store.state.product.currentOrder.lines.length) {
          let currentLine = this.$store.state.product.currentOrder.lines[this.$store.state.product.selectedIndex];
          if (currentLine['line_geschenk']) {
            return;
          }
          currentLine.origin_sale_price = currentLine.sale_price;
          if (typeof currentLine != 'undefined' && currentLine.name.toLowerCase().includes("pfand") === true ||
            this.$store.state.product.currentOrder.lines[this.$store.state.product.selectedIndex].disable_selected === true) {
            return;
          }
          globalStore.showPopup('productExpendPrice');
        }
      },
      doShowPriceInfo() {
        this.$store.commit('changeStatePopupPriceInfo');
      },
      doStorno() {
        let currentLine = this.$store.state.product.currentOrder.lines[this.$store.state.product.selectedIndex];
        if (typeof currentLine['line_geschenk'] !== 'undefined') {
          if (currentLine['line_geschenk'] && parseInt(currentLine['total_price']) === 0) {
            currentLine['quantity'] = 0;
            return;
          }
        }
        if (typeof currentLine != 'undefined' && parseFloat(currentLine.discount_value) > 0) {
          this.$store.state.popup.warningContent = this.$t('Cannot Storno product with discount');
          globalStore.showPopup('showWarning');
          return;
        }
        if (currentLine.quantity <= 0) {
          this.$store.state.popup.warningContent = this.$t('Quantity should be more than 0');
          globalStore.showPopup('showWarning');
          return;
        }
        if (this.$store.state.product.selectedIndex === 0) {
          this.$store.dispatch('handleProductStorno');
        } else {
          if (parseInt(currentLine['geschenk']) > 100 && this.$store.state.product.selectedIndex === 1) {
            this.$store.dispatch('handleProductStorno');
          } else {
            globalStore.showPopup('passwordStorno');
          }
        }
        //
      },
      setOffer() {
        this.$store.dispatch('setOffer');
      },
      doStornoAll() {
        var lines = this.$store.state.product.currentOrder.lines;
        if (lines.length == 0) {
          this.$store.state.popup.warningContent = this.$t('This is blank order');
          globalStore.showPopup('showWarning');
          return;
        }
        globalStore.showPopup('passwordStornoAll');
      },
      doChangePackung() {
        this.$store.dispatch('handleChangePackung');
      },
      doChangeKarton() {
        this.$store.dispatch('handleChangeKarton');
      },
      clickUmsatz() {
        globalStore.showPopup('requirePassword');
      },
      clickAbschluss() {
        globalStore.showPopup('confirmAbschluss');
      },
      doRetoure() {
        globalStore.showPopup('passwordRetoure');
      },
      showCoupon() {
        globalStore.showPopup('couponShow');
      },
      reloadOrder(){
        if(this.$store.state.product.currentOrder.lines.length > 0){
          this.$store.state.popup.warningContent = this.$i18n.t('This is not blank order, please create new');
          globalStore.showPopup('showWarning');
          return;
        }
        this.$router.push({ path: 'list-ordered', query: { type: 'reload' } });
      },
      logout() {
        globalStore.showPopup('confirmLogoutPopup');
      },
      // clickPayment(value){
      //     // Giá nhỏ hơn 0 là lên pop up
      //     var lines = this.$store.state.product.currentOrder.lines;
      //     if(typeof lines.length == 'undefined'){
      //         globalStore.showPopup('warningNoProduct');
      //         return;
      //     }
      //     for (let i = 0; i < lines.length; i++) {
      //         const element = lines[i];
      //         if(element.quantity == 0){
      //             this.$store.state.popup.warningContent = this.$t('Product cannot have quantity is zero');
      //             globalStore.showPopup('showWarning');
      //             return;
      //         }
      //         if(element.sale_price <= 0 && !element.disable_selected){
      //             this.$store.state.popup.warningContent = value;
      //             globalStore.showPopup('requirePasswordPayment');
      //             return;
      //         }
      //     }
      //     this.$store.dispatch('ClickPayment', value);
      // },
      handleColorBtnProduct() {
        let list = document.querySelector('.category-child-items');
        let items = list.querySelectorAll('.single-product-item');
        globalStore.handleAlternateColorButton(list, items, 6);
      },
      getAllProduct() {
        return this.commonService.getSingleRequest(`${globalStore.baseUrl}product/getlist`, {});
      },
      getAllCategory() {
        return this.commonService.getSingleRequest(`${globalStore.baseUrl}category/getlist`, {});
      },
      doRefreshProduct() {
        // if(!this.$store.state.product.currentOrder.lines.length > 0) {
        //     let loadingBox = document.querySelector('.loading-box');
        //     loadingBox.classList.add('loading-state');
        //     axios.all([
        //         this.getAllCategory(),
        //         this.getAllProduct()
        //     ])
        //     .then(axios.spread((category, product) => {
        //         loadingBox.classList.remove('loading-state');

        //         this.allProducts = product.data.result;

        //         lzutf8.compressAsync(this.allProducts, { outputEncoding: 'StorageBinaryString' }, (resultProducts, errorProducts) => {
        //             if (errorProducts === undefined) {
        //                 this.commonService.storeToLocalStorage(globalStore.storageNameAllProduct, resultProducts);
        //                 this.commonService.storeToLocalStorage(globalStore.storageNameAllCategory, category.data.result);
        //             }
        //             else {
        //                 console.log('Compression error:', errorProducts.message);
        //             }
        //         });

        //         this.allProducts = JSON.parse(JSON.parse(this.allProducts).value);
        //         this.allCategory = JSON.parse(JSON.parse(category.data.result).value);
        //         this.$store.commit('setDataCategory', this.allCategory);
        //         this.$store.commit('setDataProduct', this.allProducts);

        //         // xử lý list category
        //         this.$store.commit('initCurrentPageIndex');
        //         this.$store.dispatch('initCategoryDataWhenFirstLoad', false);
        //         this.$store.dispatch('handlePaginateNumberIndex', this.$store.state.category.startPage);

        //         // xử lý list product
        //         setTimeout(() => {
        //             this.handleColorBtnProduct();
        //             globalStore.scrollToElement('category-list-child', 'single-product-item', 0);

        //             globalStore.socket.emit('refreshCS');
        //             window.location.reload();
        //         }, 100);
        //     }));
        // }

        setTimeout(() => {
          window.location.reload();
        }, 50)
      },
      doRemoveCustomerFromOrder(refId) {
        this.$store.dispatch('deleteCustomerFromOrder');
        this.$forceUpdate();

        this.$root.$emit('headerForceUpdate');
      },
      setDefaultDiscountType(value) {
        this.$store.commit('setDefaultDiscountType', value);
      },
      async check_enable_retoure() {
        let response = await axios.post(`${globalStore.baseUrl}setting/get_setting`, {});
        let ret = JSON.parse(response.data.result);
        let retval = JSON.parse(ret.value.replace(/\bNaN\b/g, 'null'));
        this.$store.state.helper.enable_retoure = retval[0]['enable_retoure'];
      },
    },

    mounted() {
      this.$store.dispatch('checkRefreshApp');
      this.check_enable_retoure();
    },
  };
</script>

<style>

</style>
