<template>
  <div class="paymet-details-box">
    <div class="payment-details-with-card">
      <h1 class="total-payment-title">
        {{ total_with_discount }} €
      </h1>
      <div class="btn-payment-card-type" @click="doPaymentType('card')"
           v-if="localPaymentType === 'cash'">
        <div class="btn-payment-card-type-img"></div>
        <div class="btn-payment-card-type-text">
          {{ $t('Credit') }}
        </div>
      </div>
      <div class="btn-payment-card-type" @click="doPaymentType('cash')"
           v-if="localPaymentType === 'card'">
        <div class="btn-payment-card-type-img cash-type"></div>
        <div class="btn-payment-card-type-text">
          {{ $t('Cash') }}
        </div>
      </div>
    </div>
    <div class="rabatt-box">
      <div class="rabatt-col" @click="clickRabattbox()">
        <h3>
          {{ $t('Discount') }}
        </h3>
        <div class="rabatt-details">
          <div class="rabatt-details-input">
            <input type="text" v-model="$store.state.product.currentOrder.total_discount">
          </div>
          <div class="rabatt-details-type" v-if="$store.state.product.currentOrder.discount_type === 'amount'">
            €
          </div>
          <div class="rabatt-details-type" v-if="$store.state.product.currentOrder.discount_type === 'percent'">
            %
          </div>
        </div>
      </div>
      <div class="rabatt-col">
        <h3>Gesamtsumme vor Rabatt</h3>
        <h3 class="money-rabatt">
          {{ subtotal }} €
        </h3>
      </div>
    </div>

    <div class="gegeben-box">
      <div class="wrapper">
        <h3 style="display: flex; justify-content: space-between;">
          <span>Gegeben</span>
          <span>
              {{total_give_display | centToEuroFormat}}
          </span>
        </h3>
        <div class="gegeben-data">
          <input type="text" style="text-align: right;" @click="resetTotalGive()" v-model="$store.state.product.currentOrder.total_give_display">
          <div class="gegeben-data-overlay" v-if="localPaymentType == 'card'"></div>
        </div>
      </div>
    </div>

    <div class="wechsel-box">
      <div class="wrapper">
        <h3>
          Wechselgeld:
        </h3>
        <h3>
          {{$store.state.product.currentOrder.return_back}} €
        </h3>
      </div>
    </div>
    <div class="money-box type-cash" v-if="paymenttype === 'cash'">
      <div class="wrapper">
        <ul class="coin-row">
          <li class="coin-item" @click="clickMoney('1')">
            <span>
              <img src="@/assets/images/money/1cent.png"/>
              <div class="overlay-coin-btn"></div>
            </span>
          </li>
          <li class="coin-item" @click="clickMoney('2')">
            <span>
              <img src="@/assets/images/money/2cent.png"/>
              <div class="overlay-coin-btn"></div>
            </span>
          </li>
          <li class="coin-item" @click="clickMoney('5')">
            <span>
              <img src="@/assets/images/money/5cent.png"/>
              <div class="overlay-coin-btn"></div>
            </span>
          </li>
          <li class="coin-item" @click="clickMoney('10')">
            <span>
              <img src="@/assets/images/money/10cent.png"/>
              <div class="overlay-coin-btn"></div>
            </span>
          </li>
          <li class="coin-item" @click="clickMoney('20')">
            <span>
              <img src="@/assets/images/money/20cent.png"/>
              <div class="overlay-coin-btn"></div>
            </span>
          </li>
          <li class="coin-item" @click="clickMoney('50')">
            <span>
              <img src="@/assets/images/money/50cent.png"/>
              <div class="overlay-coin-btn"></div>
            </span>
          </li>
          <li class="coin-item" @click="clickMoney('100')">
            <span>
              <img src="@/assets/images/money/1euro.png"/>
              <div class="overlay-coin-btn"></div>
            </span>
          </li>
          <li class="coin-item" @click="clickMoney('200')">
            <span>
              <img src="@/assets/images/money/2euro.png"/>
              <div class="overlay-coin-btn"></div>
            </span>
          </li>
        </ul>
        <ul class="coin-row money-paper-row">
          <li class="coin-item" @click="clickMoney('500')">
            <span>
              <img src="@/assets/images/money/5euro.png"/>
              <div class="overlay-coin-btn"></div>
            </span>
          </li>
          <li class="coin-item" @click="clickMoney('1000')">
            <span>
              <img src="@/assets/images/money/10euro.png"/>
              <div class="overlay-coin-btn"></div>
            </span>
          </li>
          <li class="coin-item" @click="clickMoney('2000')">
            <span>
              <img src="@/assets/images/money/20euro.png"/>
              <div class="overlay-coin-btn"></div>
            </span>
          </li>
          <li class="coin-item" @click="clickMoney('5000')">
            <span>
              <img src="@/assets/images/money/50euro.png"/>
              <div class="overlay-coin-btn"></div>
            </span>
          </li>
          <li class="coin-item" @click="clickMoney('10000')">
            <span>
              <img src="@/assets/images/money/100euro.png"/>
              <div class="overlay-coin-btn"></div>
            </span>
          </li>
          <li class="coin-item" @click="clickMoney('20000')">
            <span>
              <img src="@/assets/images/money/200euro.png"/>
              <div class="overlay-coin-btn"></div>
            </span>
          </li>
        </ul>
      </div>
    </div>

    <div class="money-box type-card" v-if="paymenttype === 'card'">
      <div class="wrapper">
        <ul class="coin-row money-paper-row">
          <li class="coin-item" @click="clickCard('Google')">
            <span>
              <img src="@/assets/images/card/card-g.jpg"/>
            </span>
          </li>
          <li class="coin-item" @click="clickCard('Visa')">
            <span>
              <img src="@/assets/images/card/card-visa.jpg"/>
            </span>
          </li>
          <li class="coin-item" @click="clickCard('EC')">
            <span>
              <img src="@/assets/images/card/card-electronic.jpg"/>
            </span>
          </li>
          <li class="coin-item" @click="clickCard('Apple')">
            <span>
              <img src="@/assets/images/card/card-apple.jpg"/>
            </span>
          </li>
          <li class="coin-item" @click="clickCard('AMEX')">
            <span>
              <img src="@/assets/images/card/card-amex.jpg"/>
            </span>
          </li>
          <li class="coin-item" @click="clickCard('Master')">
            <span>
              <img src="@/assets/images/card/card-master.jpg"/>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
  import {globalStore} from '@/global/global.js';

  export default {
    computed:{
      total_give_display(){
        return this.$store.state.product.currentOrder.total_give_display;
      },
      total_with_discount(){
        return parseFloat(this.$store.state.product.currentOrder.total_with_discount).toFixed(2);
      },
      subtotal(){
        return parseFloat(this.$store.state.product.currentOrder.subtotal).toFixed(2);
      },
      paymenttype(){
        return this.$store.state.product.currentOrder.paymentType;
      },


    },
    data() {
      return {
        localPaymentType: 'cash'
      }
    },
    methods: {
      clickRabattbox: function () {
        this.$store.state.payment.buffertemp = '';
        globalStore.showPopup('productTotalDiscountinput');
      },
      clickMoney(value) {
        this.$store.dispatch('handleClickMoney', value);
        // highlight btn khi click
        let btn = event.target;
        btn.classList.add('is-active');
        setTimeout(() => {
          btn.classList.remove('is-active');
        }, 80);
      },
      clickCard(value) {
        this.$store.dispatch('handleClickCard', value);
      },
      doPaymentType(value) {
        this.$store.dispatch('confirmDiscountTotalValue');
        this.localPaymentType = value;
        this.$store.dispatch('setPaymentType', value);
        // this.$store.dispatch('handleClickPassen');
        this.$router.push('payment?type=' + value)
      },
      resetTotalGive() {
        this.$store.dispatch('resetTotalGive');
      }
    },
    created(){
      this.$store.commit('resetBuffertemp');
      this.$store.dispatch('handleClickPassen');
      this.$store.dispatch('setPaymentType', this.$route.query.type);
    },
    mounted() {
      this.$store.dispatch('getCurrentOrderPayment');
    },
  };

</script>

<style>


</style>
