<template>
    <div class="order-bar-box big-size">
        <div class="menu-board-box full-height">
            <div class="calculator-box payment-calculator">
                <div class="calculator-btns">
                    <div class="btns-col-numbers">
                        <ul class="list-btns-calc">
                            <li class="number-btn" @click="clickNum('7')">
                                7
                                <span class="overlay-btn"></span>
                            </li>
                            <li class="number-btn" @click="clickNum('8')">
                                8
                                <span class="overlay-btn"></span>
                            </li>
                            <li class="number-btn" @click="clickNum('9')">
                                9
                                <span class="overlay-btn"></span>
                            </li>
                            <li class="number-btn" @click="clickNum('4')">
                                4
                                <span class="overlay-btn"></span>
                            </li>
                            <li class="number-btn" @click="clickNum('5')">
                                5
                                <span class="overlay-btn"></span>
                            </li>
                            <li class="number-btn" @click="clickNum('6')">
                                6
                                <span class="overlay-btn"></span>
                            </li>
                            <li class="number-btn" @click="clickNum('1')">
                                1
                                <span class="overlay-btn"></span>
                            </li>
                            <li class="number-btn" @click="clickNum('2')">
                                2
                                <span class="overlay-btn"></span>
                            </li>
                            <li class="number-btn" @click="clickNum('3')">
                                3
                                <span class="overlay-btn"></span>
                            </li>
                            <li class="number-btn" @click="clickNum('.')">
                                ,
                                <span class="overlay-btn"></span>
                            </li>
                            <li class="number-btn" @click="clickNum('0')">
                                0
                                <span class="overlay-btn"></span>
                            </li>
                            <li class="number-btn" @click="clickNum('00')">
                                00
                                <span class="overlay-btn"></span>
                            </li>
                            <li class="number-btn btn-wide btn-delete" @click="clickNum('delete')"></li>
                            <li class="number-btn btn-reset" @click="clickNum('reset')">
                                C
                                <span class="overlay-btn"></span>
                            </li>
                            <li class="number-btn btn-wide btn-incr-height" @click="clickNum('passen')">
                                ={{ $t('Match') }}
                                <span class="overlay-btn"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="btn-bestigen-box" @click="calCulateBeforePrint()">
                <span>{{ $t('Confirm') }}</span>
            </div>
            <div class="btn-zuruck-box" @click="goBackHome()">
                <a>
                    {{ $t('Back') }}
                </a>
            </div>
        </div>
    </div>
</template>

<script>
  import {globalStore} from '@/global/global.js';

  export default {
    data() {
      return {};
    },
    components: {},
    methods: {
      clickNum(value) {
        this.$store.dispatch('handleClickNumpad', value);
      },
      changeDiscountType(value) {
        this.$store.dispatch('handleChangeDiscountType', value);
      },
      calCulateBeforePrint() {
        let queryurl = this.$route.query.type;
        if (queryurl === 'card') {
          this.$store.dispatch('handleClickCard', 'EC');
          return;
        }
        // Ở dưới là bắt đầu tính toán
        this.$store.dispatch('calculateAfterTotalDiscount');
        if (
          parseFloat(parseFloat(this.$store.state.product.currentOrder.total_give).toFixed(2)) 
          < 
          parseFloat(parseFloat(this.$store.state.product.currentOrder.total_with_discount).toFixed(2))
        ) {
          globalStore.showPopup('invalidTotalGive');
          return;
        }
        this.$store.dispatch('moveToPrintPage');
      },
      goBackHome() {
        this.$store.dispatch('resetBackBtn');
        this.$router.push({
          path: 'home',
          query: {origin: 'back'}
        });
      }
    }
  };
</script>