<template>
  <div class="product-list-box table-border-cell" :class="{'disable-click' : $store.state.product.showPriceInfo}">
    <div class="product-list-wrapper">
      <div class="row-header product-list-header">
        <div class="row-pl">
          <!-- <div class="col-pl">
            Nummer
          </div> -->
          <div class="col-pl col-pl-name">
            Artikel
          </div>
          <div class="col-pl" style="max-width: 65px;">
            Menge
          </div>
          <div class="col-pl" style="max-width: 75px;">
            Einheit
          </div>
          <div class="col-pl" style="max-width: 92px; min-width: 92px;">
            Einzelpreis
          </div>
          <div class="col-pl alert">
            Rabatt
          </div>
          <div class="col-pl">
            Mwst
          </div>
          <div class="col-pl">
            Zw. Summe
          </div>
          <div class="col-pl">
            Summe
          </div>
        </div>
      </div>
      <div class="row-body product-list-body">
        <div class="row-pl single-row-product-order" v-for="(product, index) in $store.state.product.currentOrder.lines"
             @click="selectProductOrder(product, index)"
             :class="{'is-storno' : product.disable_selected === true,
             'is-geschenk' : product['line_geschenk'],
             'is-geschenk-storno' : product['line_geschenk'] && product['quantity'].toString() === '0',
             'is-zero': check_is_zero(product)}">
          <!-- <div class="col-pl">
            {{product.barcode}}
          </div> -->
          <div class="col-pl col-pl-name">
            {{product.name | truncate(48, '') }}
          </div>
          <div class="col-pl" style="max-width: 65px;">
            {{product.quantity}}
          </div>
          <div class="col-pl" style="max-width: 75px;">
            {{product.uom}}
          </div>
          <div class="col-pl" style="max-width: 92px; min-width: 92px;">
            {{parseFloat(product.sale_price).toFixed(2)}}€
          </div>
          <div class="col-pl alert">
            {{parseFloat(product.line_discount).toFixed(2)}}<span v-if="product.lineDiscountPercentage">%</span><span v-else>€</span>
          </div>
          <div class="col-pl">
            {{parseFloat(product.total_mwst).toFixed(2)}}€
          </div>
          <div class="col-pl">
            {{parseFloat(product.subtotal).toFixed(2)}}€
          </div>
          <div class="col-pl">
            {{parseFloat(product.total_price).toFixed(2)}}€
          </div>
        </div>
      </div>
    </div>
    <div class="product-list-scroll-box">
      <div class="scroll-box-wrapper">
        <div class="btn-scroll btn-scroll-up" @click="moveUp('up')"></div>
        <div class="btn-scroll btn-scroll-down" @click="moveDown('down')"></div>
      </div>
    </div>
  </div>
</template>

<script>
import { globalStore } from '@/global/global.js';

export default {
    data() {
        return {
          origin:'', //Link gốc từ đâu bay tới
        };
    },
    methods: {
        check_is_zero(prod){
          if(typeof(prod) === 'undefined'){
            return false;
          }
          if(parseFloat(prod['quantity']) === 0){
            return true;
          }
          if(parseFloat(prod['total_price']) === 0){
            return true;
          }
          if((parseFloat(prod['total_price'])/parseFloat(prod['quantity'])).toFixed(2) < parseFloat(prod['min_price'])){
            if(!prod['name'].toLowerCase().includes("pfand")) {
              return true;
            }
          }
          if(prod['uom'] === 'Karton'){
            if((parseFloat(prod['total_price'])/parseFloat(prod['quantity'])).toFixed(2) < parseFloat(prod['karton_min_price'])){
              if(!prod['name'].toLowerCase().includes("pfand")) {
                return true;
              }
            }
          }
          if(prod['uom'] === 'Umpackung'){
            if((parseFloat(prod['total_price'])/parseFloat(prod['quantity'])).toFixed(2) < parseFloat(prod['packung_min_price'])){
              if(!prod['name'].toLowerCase().includes("pfand")){
                return true;
              }
            }
          }
          return false;
        },
        moveUp(value) {
            // this.$store.dispatch('handleDataScrollProductOrderList', [value]);
            this.$store.dispatch('handleUpDownOrderlineSelected', [value]);
        },
        moveDown(value) {
            // this.$store.dispatch('handleDataScrollProductOrderList', [value]);
            this.$store.dispatch('handleUpDownOrderlineSelected', [value]);
        },
        selectProductOrder(product, index) {
            this.$store.dispatch('handleClickOnOrderLine', [index,product]);
        }
    },
    created() {
        this.$store.commit('setDataScrollProductOrderList');
        this.$store.dispatch('setValueIndexOrderlineHighlight', 0);
    },
    mounted() {
        let origin = this.$route.query.origin || '';
        this.$store.dispatch('initOrder', origin);
        globalStore.initHightLightOrder();
        this.check_is_zero();
    }
};
</script>
