<template>
  <div class="total-box">
    <div class="total-box-title" @click="goToHomeCategory()">
      Gesamt
    </div>
    <div class="total-box-details">
      <div class="details-content">
        <p>Mwst {{thue7}}%</p>
        <p>{{mwst7}}€</p>
      </div>
      <div class="details-content">
        <p>Mwst {{thue19}}%</p>
        <p>{{mwst19}}€</p>
      </div>
      <div class="details-content">
        <p>Netto</p>
        <p>{{netto}}€</p>
      </div>
      <div class="details-content">
        <p>Brutto</p>
        <p>{{subtotal}}€</p>
      </div>
    </div>
  </div>
</template>

<script>
  import {globalStore} from '@/global/global.js';
  import axios from 'axios';

  export default {
    computed: {
      mwst7() {
        return parseFloat(this.$store.state.product.currentOrder.mwst7).toFixed(2);
      },
      mwst19() {
        return parseFloat(this.$store.state.product.currentOrder.mwst19).toFixed(2);
      },
      netto() {
        return parseFloat(this.$store.state.product.currentOrder.netto).toFixed(2);
      },
      subtotal() {
        return parseFloat(this.$store.state.product.currentOrder.subtotal).toFixed(2);
      },

    },
    data() {
      return {
        thue7: '7',
        thue19: '19',
      };
    },
    methods: {
      goToHomeCategory() {
        this.$store.dispatch('initCategoryDataWhenFirstLoad', true);
        this.$store.dispatch('resetPagerProductList');

        setTimeout(() => {
          this.handleColorBtnCategory();
          this.handleColorBtnProduct();
        }, 100);
      },
      handleColorBtnCategory() {
        let list = document.querySelector('.list-item-data');
        let items = list.querySelectorAll('.single-item');
        globalStore.handleAlternateColorButton(list, items, 4);
      },
      handleColorBtnProduct() {
        let list = document.querySelector('.category-child-items');
        let items = list.querySelectorAll('.single-product-item');
        globalStore.handleAlternateColorButton(list, items, 6);
      },
    },
    async mounted() {
      const postBody = {"params": {}};
      let response = await axios.post(`${globalStore.baseUrl}product/beginchangedate`, postBody);
      let val = JSON.parse(response.data.result);
      let datebegin = val.value;

      let respon = await axios.post(`${globalStore.baseUrl}product/endchangedate`, postBody);
      val = JSON.parse(respon.data.result);
      let dateend = val.value;

      if (this.$moment(new Date()) >= this.$moment(datebegin) &&
          this.$moment(new Date()) <= this.$moment(dateend)) {
        this.thue7 = '5';
        this.thue19 = '16';
      }
    }
  };
</script>

<style>

</style>
