<template>
  <div class="weight-details-box">
    <div class="gegeben-box wt-type name-type">
      <div class="wrapper">
        <h3>Mì cốc Kimchi 75g NONG SHIM</h3>
      </div>
    </div>
    <div class="gegeben-box wt-type">
      <div class="wrapper">
        <h3>Khối lượng</h3>
        <div class="gegeben-data">
          <input type="text" style="text-align: right;">
        </div>
      </div>
    </div>
    <div class="gegeben-box wt-type">
      <div class="wrapper">
        <h3>Đơn giá</h3>
        <div class="gegeben-data">
          <input type="text" style="text-align: right;">
        </div>
      </div>
    </div>
    <div class="gegeben-box wt-type total-type">
      <div class="wrapper">
        <h3>Tổng tiền</h3>
        <div class="total-price">
          4000€
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {};
    },
    components: {},
    methods: {},
    created() {}
  };
</script>

<style>
</style>