<template>
  <div class="body-wrapper">
    <main>
      <div class="bericht-header">
        <div class="bericht-header-button">
          <button type="button" @click="change_bericht_type('tages')" :class="{'is-active' : this.berichtType === 'tages'}">{{ $t('Tages Bericht') }}</button>
          <button type="button" @click="change_bericht_type('tagessession')" :class="{'is-active' : this.berichtType === 'tagessession'}">{{ $t('Tages Session Bericht') }}</button>
          <button type="button" @click="change_bericht_type('monat')" :class="{'is-active' : this.berichtType === 'monat'}">{{ $t('Monat Bericht') }}</button>
          <button type="button" @click="change_bericht_type('monatuser')" :class="{'is-active' : this.berichtType === 'monatuser'}">{{ $t('Monat User Bericht') }}</button>
          <button type="button" @click="change_bericht_type('jahr')" :class="{'is-active' : this.berichtType === 'jahr'}">{{ $t('Jahres Bericht') }}</button>
          <button type="button" @click="change_bericht_type('jahresuser')" :class="{'is-active' : this.berichtType === 'jahresuser'}">{{ $t('Jahres User Bericht') }}</button>
          <button type="button" @click="change_bericht_type('opensession')" :class="{'is-active' : this.berichtType === 'opensession'}">{{ $t('Open Session') }}</button>
          <button type="button" @click="goToVerkauflist()">{{ $t('Verkauf list') }}</button>
          <button type="button" @click="goToNegativeProduct()">Neg. Prdk.</button>
          <button type="button" @click="goToVerkauflistExport()">Übersicht</button>
        </div>
        <div class="bericht-info-header">
          <datepicker v-model="selectedDate" :format="formatDate" v-if="berichtType === 'tagessession'" class="datepicker-common">
          </datepicker>
	        <datepicker v-model="selectedMonth" v-if="berichtType === 'monat' || berichtType === 'monatuser'" :minimumView="'month'" :maximumView="'month'" :format="'MM-yyyy'" class="datepicker-common">
	        </datepicker>
          <select class="select-common" v-model="selectedYear" v-if="berichtType === 'jahr' || berichtType === 'jahresuser'">
            <option v-for="(year, index) in years" :value="year" :key="index">{{year}}</option>
          </select>
          <select class="select-common" v-model="selectedSession" v-if="berichtType === 'tagessession'">
            <option v-for="(session, index) in sessions" :value="session.id" :key="index">{{session.name}}</option>
          </select>
          <select class="select-common" v-model="selectedUser" v-if="berichtType === 'monatuser' || berichtType === 'jahresuser'">
            <option v-for="(user, index) in posusers" :value="user" :key="index">{{user.login}}-{{user.name}}</option>
          </select>
        </div>
      </div>
      <div class="main-box bericht-page">
        <div class="flex-box bill-details-box">
          <div class="bill-layout-wrapper">
            <div class="bill-layout bill-layout-type2" v-if="berichtType === 'opensession'">
              <div class="bill-header">
                <div class="bill-single-item">
                  <div class="bill-row">
                    <div class="bill-col bill-col-product">
                      Kasse
                    </div>
                    <div class="bill-col bill-col-total-amount">
                      Begin zeit:
                    </div>
                  </div>
                </div>
                <div class="bill-single-item"> <br /> </div>
                <div class="bill-single-item" v-for="item in opensessions" :key="item.id">
                  <div class="bill-row">
                    <div class="bill-col bill-col-product">
                      {{item.user_name}}
                    </div>
                    <div class="bill-col bill-col-total-amount">
                      {{item.begintime}}
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!-- phần giao diện cho in hóa đơn -->
            <div class="bill-layout bill-layout-type2 bill-fix-height" v-if="berichtType != 'opensession'">
              <div class="bill-header">
                <h1>{{companyinfo.company_name}}</h1>
                <p>{{companyinfo.company_address1}}</p>
                <p v-if="typeof companyinfo.company_address3 !== 'undefined' && companyinfo.company_address3.length > 0" >{{companyinfo.company_address3}}</p>
                <p v-if="typeof companyinfo.company_address2 !== 'undefined' && companyinfo.company_address2.length > 0">{{companyinfo.company_address2}}</p>
                <p v-if="typeof companyinfo.company_tel !== 'undefined' && companyinfo.company_tel.length > 0">{{companyinfo.company_tel}}</p>
                <p v-if="typeof companyinfo.company_fax !== 'undefined' && companyinfo.company_fax.length > 0">{{companyinfo.company_fax}}</p>
                <p v-if="typeof companyinfo.company_steuer !== 'undefined' && companyinfo.company_steuer.length > 0">{{companyinfo.company_steuer}}</p>
                <p>------------------------</p>
              </div>
              <div class="bill-datetime">
                <!-- Ngày giờ của tages -->
                <p v-if="berichtType === 'tages'">Bericht Nr: {{sequence}}</p>

                <p v-if="berichtType === 'tages'">Von : {{lastbericht_fromdate | moment("DD.MM.YYYY HH:mm:ss")}}</p>
                <p v-if="berichtType === 'tages'">Zum : {{lastbericht_todate | moment("DD.MM.YYYY HH:mm:ss")}}</p>
                <!-- Ngày giờ của tages session -->
                <p class="heading-type" v-if="berichtType === 'tagessession'">Bericht: {{selectedSessionName}}</p>
                <p class="heading-type" v-if="berichtType === 'tagessession'" style="text-align: left;">{{selectedUsername}}</p>
                <p v-if="berichtType === 'tagessession'">Von : {{selectedSessionBegin | moment("DD.MM.YYYY HH:mm:ss")}}</p>
                <p v-if="berichtType === 'tagessession'">Zum : {{selectedSessionEnd | moment("DD.MM.YYYY HH:mm:ss")}}</p>
                <!-- Ngày giờ của monat -->
                <p v-if="berichtType === 'monat'">Bericht: {{sequence}}</p>
                <p v-if="berichtType === 'monat'">Für den : {{$moment(selectedMonth).format('MM-YYYY')}}</p>
                <p v-if="berichtType === 'monat'">Von : {{lastbericht_fromdate | moment("DD.MM.YYYY HH:mm:ss")}}</p>
                <p v-if="berichtType === 'monat'">Zum : {{lastbericht_todate | moment("DD.MM.YYYY HH:mm:ss")}}</p>

                <p v-if="berichtType === 'monatuser'">Für den : {{$moment(selectedMonth).format('MM-YYYY')}}</p>
                <p style="text-align: left" v-if="berichtType === 'monatuser'">{{selectedUser.name}}</p>
                <p v-if="berichtType === 'monatuser'">Von : {{lastbericht_fromdate | moment("DD.MM.YYYY HH:mm:ss")}}</p>
                <p v-if="berichtType === 'monatuser'">Zum : {{lastbericht_todate | moment("DD.MM.YYYY HH:mm:ss")}}</p>
                <!-- Ngày giờ của jahr -->
                <p v-if="berichtType === 'jahr' || berichtType === 'jahresuser'">Für den : {{selectedYear}}</p>
                <p v-if="berichtType === 'jahresuser'" style="text-align: left;">{{selectedUser.name}}</p>
                <p v-if="berichtType === 'jahr' || berichtType === 'jahresuser'">Von : {{lastbericht_fromdate | moment("DD.MM.YYYY HH:mm:ss")}}</p>
                <p v-if="berichtType === 'jahr' || berichtType === 'jahresuser'">Zum : {{lastbericht_todate | moment("DD.MM.YYYY HH:mm:ss")}}</p>
              </div>

              <div class="bill-row bill-row-heading">
                <p>___Übersicht_____________________</p>
              </div>
              <div class="bill-single-item"> </div>
              <div class="bill-single-item">
                <div class="bill-row">
                  <div class="bill-col bill-col-product">
                    Anzahl - Waren Mwst. {{thue7}}%
                  </div>
                  <div class="bill-col bill-col-total-amount">
                    {{anzahlmwst7}}
                  </div>
                </div>
              </div>
              <div class="bill-single-item">
                <div class="bill-row">
                  <div class="bill-col bill-col-product">
                    Summe - Waren Mwst. {{thue7}}%
                  </div>
                  <div class="bill-col bill-col-total-amount">
                    {{total7}}€
                  </div>
                </div>
              </div>
              <div class="bill-single-item">
                <div class="bill-row">
                  <div class="bill-col bill-col-product">
                    Anzahl - Waren Mwst. {{thue19}}%
                  </div>
                  <div class="bill-col bill-col-total-amount">
                    {{anzahlmwst19}}
                  </div>
                </div>
              </div>
              <div class="bill-single-item">
                <div class="bill-row">
                  <div class="bill-col bill-col-product">
                    Summe - Waren Mwst. {{thue19}}%
                  </div>
                  <div class="bill-col bill-col-total-amount">
                    {{total19}}€
                  </div>
                </div>
              </div>
              <div class="bill-single-item">
                <div class="bill-row">
                  <div class="bill-col bill-col-product">
                    Vorgange "Stornos"
                  </div>
                  <div class="bill-col bill-col-total-amount">
                    ({{anzahlstorno}}){{summestorno}}€
                  </div>
                </div>
              </div>
              <div class="bill-single-item">
                <div class="bill-row">
                  <div class="bill-col bill-col-product">
                    Anzahl Kunden
                  </div>
                  <div class="bill-col bill-col-total-amount">
                    {{kundenanzahl}}
                  </div>
                </div>
              </div>
              <div class="bill-single-item">
                <div class="bill-row bill-row-summe">
                  <div class="bill-col bill-col-product">
                    <b>Summe</b>
                  </div>
                  <div class="bill-col bill-col-total-amount">
                    <b>{{total_with_discount}}€</b>
                  </div>
                </div>
              </div>
              <div class="bill-row bill-row-heading">
                <p>___Steuer_______________________</p>
              </div>
              <div class="bill-row bill-row-summe">
                <div class="bill-col bill-col-sperate" style="font-weight:bold;">
                  BAREINNAHMEN in €
                </div>
              </div>
              <div class="bill-single-item">
                <div class="bill-row bill-row-full">
                  <div class="bill-col bill-col-product">
                    Mwst {{thue7}}% ({{barmwst7}}€) aus {{barnetto7}}€
                  </div>
                  <div class="bill-col bill-col-total-amount" style="text-align: right; font-weight: bold; margin: 5px 0;">
                    ={{bartotal7}}€
                  </div>
                </div>
              </div>
              <div class="bill-single-item">
                <div class="bill-row bill-row-full">
                  <div class="bill-col bill-col-product">
                    Mwst {{thue19}}% ({{barmwst19}}€) aus {{barnetto19}}€
                  </div>
                  <div class="bill-col bill-col-total-amount" style="text-align: right; font-weight: bold; margin: 5px 0;">
                    ={{bartotal19}}€
                  </div>
                </div>
              </div>
              <div class="bill-row">
                <div class="bill-col bill-col-product">
                  Rabatt
                </div>
                <div class="bill-col bill-col-total-amount">
                  {{bar_total_discount_in_amount}}€
                </div>
              </div>
              <div class="bill-row">
                <div class="bill-col bill-col-product">
                  Anzahl
                </div>
                <div class="bill-col bill-col-total-amount">
                  {{anzahlbar}}
                </div>
              </div>
              <div class="bill-row bill-row-summe" style="font-weight:bold;">
                <div class="bill-col bill-col-product">
                  Summe
                </div>
                <div class="bill-col bill-col-total-amount">
                  {{bar_total_with_discount}}
                </div>
              </div>
              <div class="bill-row bill-row-summe">
                <div class="bill-col bill-col-sperate" style="font-weight:bold;">
                  KREDITZAHLUNGEN in €
                </div>
              </div>
              <div class="bill-single-item">
                <div class="bill-row bill-row-full">
                  <div class="bill-col bill-col-product">
                    Mwst {{thue7}}% ({{creditmwst7}}€) aus {{creditnetto7}}€
                  </div>
                  <div class="bill-col bill-col-total-amount" style="text-align: right; font-weight: bold; margin: 5px 0;">
                    ={{credittotal7}}€
                  </div>
                </div>
              </div>
              <div class="bill-single-item">
                <div class="bill-row bill-row-full">
                  <div class="bill-col bill-col-product">
                    Mwst {{thue19}}% ({{creditmwst19}}€) aus {{creditnetto19}}€
                  </div>
                  <div class="bill-col bill-col-total-amount" style="text-align: right; font-weight: bold; margin: 5px 0;">
                    ={{credittotal19}}€
                  </div>
                </div>
              </div>
              <div class="bill-single-item">
                <div class="bill-row">
                  <div class="bill-col bill-col-product">
                    Rabatt
                  </div>
                  <div class="bill-col bill-col-total-amount">
                    {{credit_total_discount_in_amount}}€
                  </div>
                </div>
              </div>
              <div class="bill-single-item">
                <div class="bill-row">
                  <div class="bill-col bill-col-product">
                    Anzahl
                  </div>
                  <div class="bill-col bill-col-total-amount">
                    {{anzahlcredit}}
                  </div>
                </div>
              </div>
              <div class="bill-row bill-row-summe" style="font-weight:bold;">
                <div class="bill-col bill-col-product">
                  Summe
                </div>
                <div class="bill-col bill-col-total-amount">
                  {{credit_total_with_discount}}
                </div>
              </div>
              <div class="bill-row bill-row-heading">
                <p>_____Summen___________________</p>
              </div>
              <div class="bill-single-item">
                <div class="bill-row">
                  <div class="bill-col bill-col-product">
                    Summe Mwst
                  </div>
                  <div class="bill-col bill-col-total-amount">
                    {{mwst}}€
                  </div>
                </div>
              </div>
              <div class="bill-single-item">
                <div class="bill-row">
                  <div class="bill-col bill-col-product">
                    Summe Netto
                  </div>
                  <div class="bill-col bill-col-total-amount">
                    {{netto}}€
                  </div>
                </div>
              </div>
              <div class="bill-single-item" style="font-weight:bold;">
                <div class="bill-row bill-row-summe">
                  <div class="bill-col bill-col-product">
                    Summe Brutto
                  </div>
                  <div class="bill-col bill-col-total-amount">
                    {{total_with_discount}}€
                  </div>
                </div>
              </div>
              <div class="bill-row bill-row-heading">
                <p>________________________________</p>
              </div>
              <div class="bill-datetime">
                <p>Gedruckt am: {{new Date() | moment("DD.MM.YYYY HH:mm:ss")}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="print-box">
          <div class="btn-print-box do-print" @click="printDocument()">
            <span class="icon-box"></span>
            <span class="text-box">
              Druck
            </span>
          </div>
          <div class="btn-print-box do-download" @click="exportExcelTagessession()" v-if="berichtType === 'tagessession'">
            <span class="icon-box"></span>
            <span class="text-box">
              Excel
            </span>
          </div>
          <div class="btn-print-box do-download" @click="exportExcelTagesGesamt()" v-if="berichtType === 'tagessession'">
            <span class="icon-box"></span>
            <span class="text-box">
              Excel Gesamt
            </span>
          </div>
          <div class="btn-print-box do-download" @click="exportExcelMonat()" v-if="berichtType === 'monat'">
            <span class="icon-box"></span>
            <span class="text-box">
              Excel
            </span>
          </div>
          <div class="btn-print-box do-download" @click="exportExcelMonatUser()" v-if="berichtType === 'monatuser'">
            <span class="icon-box"></span>
            <span class="text-box">
              Excel
            </span>
          </div>
          <div class="btn-print-box do-next" @click="logout()">
            <span class="icon-box"></span>
            <span class="text-box">
              Schließen
            </span>
          </div>
        </div>
      </div>
    </main>
    <div class="loading-box-bericht" v-if="loadingState">
      <div class="sk-circle-bericht">
        <div class="sk-circle1-bericht sk-child-bericht"></div>
        <div class="sk-circle2-bericht sk-child-bericht"></div>
        <div class="sk-circle3-bericht sk-child-bericht"></div>
        <div class="sk-circle4-bericht sk-child-bericht"></div>
        <div class="sk-circle5-bericht sk-child-bericht"></div>
        <div class="sk-circle6-bericht sk-child-bericht"></div>
        <div class="sk-circle7-bericht sk-child-bericht"></div>
        <div class="sk-circle8-bericht sk-child-bericht"></div>
        <div class="sk-circle9-bericht sk-child-bericht"></div>
        <div class="sk-circle10-bericht sk-child-bericht"></div>
        <div class="sk-circle11-bericht sk-child-bericht"></div>
        <div class="sk-circle12-bericht sk-child-bericht"></div>
      </div>
    </div>
    <app-popup></app-popup>
  </div>
</template>

<script>
  import Header from "./partials/Header.vue";
  import Datepicker from 'vuejs-datepicker';
  import axios from 'axios'
  import XLSX from 'xlsx'
  import Popup from "./modules/Popup.vue";
  import {
    globalStore
  } from '../global/global.js';
  export default {
    dependencies: ['commonService'],
    data() {
      return {
        begindate:{},
        companyinfo: {},
        berichtType: 'tages',
        selectedDate: new Date(),
        formatDate: 'dd-MM-yyyy',
        selectedMonth: this.$moment(this.selectedDate).format("YYYY-MM-DD"),
        months:[],
        selectedSession:'',
        selectedSessionName:'',
        selectedSessionBegin: new Date(),
        selectedSessionEnd: new Date(),
        sessions: [],
        opensessions:[],
        selectedYear: this.$moment(this.selectedDate).format("YYYY"),
        years: [],
        posusers:[],
        selectedUser: {},
        selectedUsername:'',
        sequence: '',
        bericht_name: '',
        lastbericht_fromdate: new Date(),
        lastbericht_todate: new Date(),
        // Các biến số liệu
        barmwst7: '',
        barmwst19: '',
        bartotal7: '',
        bartotal19: '',
        creditmwst7: '',
        creditmwst19: '',
        credittotal7: '',
        creditnetto7: '',
        creditnetto19: '',
        barnetto7: '',
        barnetto19: '',
        credittotal19: '',
        discount_mwst7: '',
        discount_mwst19: '',
        kundenanzahl: '',
        mwst: '',
        mwst7: '',
        mwst19: '',
        orderdiscountlines: '',
        netto: '',
        total7: '',
        total19: '',
        anzahlbar: '',
        anzahlcredit: '',
        total_with_discount: '',
        bar_total_with_discount: '',
        credit_total_with_discount: '',
        bar_total_discount_in_amount: '',
        credit_total_discount_in_amount: '',
        // DƯới đây tính bằng orderline
        anzahlmwst7: '',
        anzahlmwst19: '',
        anzahlstorno: '',
        summestorno: '',
        disablePrintMonth: false,
        export_data: [],
        loadingState: false,

        thue7: '7',
        thue19: '19',
      };
    },
    components: {
      Datepicker,
      "app-popup": Popup,
    },

    methods: {
      getconfig(){
        axios.post(`${globalStore.baseUrl}setting/get_setting`, {})
            .then(response => {
              let ret = JSON.parse(response.data.result);
              let retval = JSON.parse(ret.value.replace(/\bNaN\b/g, 'null'));
              this.companyinfo = retval[0];
            });
      },
      printDocument() {
        if(this.disablePrintMonth == true && this.berichtType == 'monat'){
          this.$store.state.popup.warningContent = this.$i18n.t('Can not print');
          globalStore.showPopup('showWarning');
          return;
        }
        if(this.selectedSession == '' && this.berichtType == 'tagessession'){
          this.$store.state.popup.warningContent = this.$i18n.t('Please select session');
          globalStore.showPopup('showWarning');
          return;
        }
        this.save_bericht_to_server();
        window.print();
      },
      resetAllValue(){
        this.sequence = '';
        this.selectedSessionName = '';
        this.selectedSessionBegin = new Date();
        this.selectedSessionEnd = new Date();
        this.lastbericht_fromdate = new Date();
        this.lastbericht_todate = new Date();
        this.selectedSession = '';
        this.selectedSessionName = '';
        this.barmwst7 = '';
        this.barmwst19 = '';
        this.bartotal7 = '';
        this.bartotal19 = '';
        this.creditmwst7 = '';
        this.creditmwst19 = '';
        this.credittotal7 = '';
        this.creditnetto7 = '';
        this.creditnetto19 = '';
        this.barnetto7 = '';
        this.barnetto19 = '';
        this.credittotal19 = '';
        this.discount_mwst7 = '';
        this.discount_mwst19 = '';
        this.kundenanzahl = '';
        this.mwst = '';
        this.mwst7 = '';
        this.mwst19 = '';
        this.orderdiscountlines = '';
        this.netto = '';
        this.total7 = '';
        this.total19 = '';
        this.anzahlbar = '';
        this.anzahlcredit = '';
        this.total_with_discount = '';
        this.bar_total_with_discount = '';
        this.credit_total_with_discount = '';
        this.bar_total_discount_in_amount = '';
        this.credit_total_discount_in_amount = '';
        this.anzahlmwst7 = '';
        this.anzahlmwst19 = '';
        this.anzahlstorno = '';
        this.summestorno = '';
      },
      logout(){
        localStorage.removeItem(globalStore.cookieNameLoginInfo);
        this.$router.push('/');
      },
      downloadfile(content, fileName, contentType) {
        let a = document.createElement("a");
        let file = new Blob([content], {type: contentType});
        a.href = URL.createObjectURL(file);
        a.download = fileName;
        a.click();
      },
      async exportExcelTagesGesamt(){
        if(this.sessions.length === 0){
          this.$store.state.popup.warningContent = this.$i18n.t('No session on this date');
          globalStore.showPopup('showWarning');
          return;
        }
        let postBody = {
          "params": {
            "selected_date": this.$moment(this.selectedDate).format("YYYY-MM-DD")
          }
        };
        this.loadingState = true;
        let response = await axios.post(`${globalStore.baseUrl}bericht/detailtagesdate`, postBody);
        let details = JSON.parse(response.data.result);
        let detailexport = [['Datum', 'Beleg','Vom Kasse', 'Auftrag Rabatt', 'Barcode', 'Artikel Beschreibung', 'Drucken Beschreibung', 'Artikel Nummer', 'Artikel Menge','Artikel Einheit','Artikel MwSt','Artikel Einzelpreis','Artikel Gesamtpreis','Kategorie','Summestorno']];
        let ws3arr = [['Artikel Nummer', 'Artikel Menge', 'Artikel Einheit', 'Artikel Bezeichnung', 'Voll Beschreibung', 'Artikel Einzelpreis', 'Artikel MwSt', 'Artikel Gesamtpreis', 'Netto']];
        for (let i = 0; i < details.length; i++) {
          if(i > 0){
            if(details[i]['beleg'] !== details[i-1]['beleg']){
              if(details[i-1]['total_discount_in_amount'] > 0){
                detailexport.push(['', '', '', '', '', '', '', '', '', '', '', 'Gesamt Rabatt', parseFloat('-'+details[i-1]['total_discount_in_amount']), '']);
              }
            }
          }
          detailexport.push([details[i]['orderdate'], details[i]['beleg'], details[i]['user_input'], details[i]['discount_value'], details[i]['barcode'], details[i]['product_name'], details[i]['print_name'], details[i]['artikel_nummer'], details[i]['quantity'], details[i]['uom'], details[i]['mwst'], details[i]['sale_price'], details[i]['total_price'], details[i]['category_name'], details[i]['summestorno']])
          ws3arr.push([details[i]['artikel_nummer'], details[i]['quantity'], details[i]['uom'], details[i]['product_name'], details[i]['full_name'], details[i]['sale_price'], details[i]['mwst'], details[i]['total_price'], details[i]['total_price_without_tax']]);
        }
        const ws = XLSX.utils.aoa_to_sheet(detailexport);
        const ws3 = XLSX.utils.aoa_to_sheet(ws3arr);

        response = await axios.post(`${globalStore.baseUrl}bericht/exporttagesdate`, postBody);
        let orders = JSON.parse(response.data.result);
        let orderexport = [['Datum', 'Beleg','Vom Kasse', 'Kunden Name','Gesamt Rabatt', 'Netto', 'Brutto','Mwst '+this.thue7+'%','Mwst '+this.thue19+'%','Total '+this.thue7+'%','Total '+this.thue19+'%','ZahlungsMethode','Summe Storno']];
        for (let i = 0; i < orders.length; i++) {
          orders[i]['zahlungsmethode'] = orders[i]['is_cash'] ? 'Barzahlung' : 'Kartenzahlung';
          orderexport.push([orders[i]['orderdate'], orders[i]['beleg'], orders[i]['user_input'], orders[i]['customer_name'], orders[i]['total_discount_in_amount'], orders[i]['netto'], orders[i]['total_with_discount'], orders[i]['mwst7'], orders[i]['mwst19'], orders[i]['total7'], orders[i]['total19'], orders[i]['zahlungsmethode'], orders[i]['summestorno']])
          orders[i].lines = [];
          for (let j = 0; j < details.length; j++) {
            if(orders[i]['beleg'] === details[j]['beleg']){
              orders[i].lines.push(details[j]);
            }
          }
        }
        const ws1 = XLSX.utils.aoa_to_sheet(orderexport);

        response = await axios.post(`${globalStore.baseUrl}bericht/detailtagesdategroupby`, postBody);
        let detailgroup = JSON.parse(response.data.result);
        let detailgroupexport = [['Artikel Beschreibung','Drucken Beschreibung','DE Beschreibung','Voll Beschreibung','Barcode','Artikel Nummer','Artikel Einheit','Artikel MwSt','Artikel Menge', 'Einkaufspreis','Artikel Einzelpreis','Auftrag Rabatt','Artikel Gesamtpreis','Variant','ProduktID']];
        for (let i = 0; i < detailgroup.length; i++) {
          detailgroupexport.push([detailgroup[i]['name'], detailgroup[i]['print_name'], detailgroup[i]['name_de'], detailgroup[i]['full_name'], detailgroup[i]['barcode'], detailgroup[i]['artikel_nummer'], detailgroup[i]['uom'], detailgroup[i]['mwst'], detailgroup[i]['quantity'], detailgroup[i]['buy_price'], detailgroup[i]['sale_price'], detailgroup[i]['discount_value'], detailgroup[i]['total_price'], detailgroup[i]['variantid'], detailgroup[i]['productid']])
        }
        const ws2 = XLSX.utils.aoa_to_sheet(detailgroupexport);
        const wb = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(wb, ws, 'Details');
        XLSX.utils.book_append_sheet(wb, ws1, 'Verkauf');
        XLSX.utils.book_append_sheet(wb, ws2, 'Produkt');
        XLSX.utils.book_append_sheet(wb, ws3, 'Lexware');
        XLSX.writeFile(wb, 'session.xlsx');
        // this.downloadfile(JSON.stringify(orders), 'session.json', 'text/plain');
        this.loadingState = false;
      },
      async exportExcelTagessession(){
        if(this.selectedSession == '' && this.berichtType == 'tagessession'){
          this.$store.state.popup.warningContent = this.$i18n.t('Please select session');
          globalStore.showPopup('showWarning');
          return;
        }
        let session = this.selectedSession;
        let postBody = {
          "params": {
            "sessionid": session
          }
        };
        this.loadingState = true;
        let response = await axios.post(`${globalStore.baseUrl}bericht/detailtagessession`, postBody);
        let details = JSON.parse(response.data.result);
        let detailexport = [['Datum', 'Beleg','Vom Kasse', 'Auftrag Rabatt', 'Barcode', 'Artikel Beschreibung', 'Drucken Beschreibung', 'Artikel Nummer', 'Artikel Menge','Artikel Einheit','Artikel MwSt','Artikel Einzelpreis','Artikel Gesamtpreis','Kategorie','Summestorno']];
        let ws3arr = [['Artikel Nummer', 'Artikel Menge', 'Artikel Einheit', 'Artikel Bezeichnung', 'Voll Beschreibung', 'Artikel Einzelpreis', 'Artikel MwSt', 'Artikel Gesamtpreis', 'Netto']];
        for (let i = 0; i < details.length; i++) {
          if(i > 0){
            if(details[i]['beleg'] !== details[i-1]['beleg']){
              if(details[i-1]['total_discount_in_amount'] > 0){
                detailexport.push(['', '', '', '', '', '', '', '', '', '', '', 'Gesamt Rabatt', parseFloat('-'+details[i-1]['total_discount_in_amount']), '']);
              }
            }
          }
          detailexport.push([details[i]['orderdate'], details[i]['beleg'], details[i]['user_input'], details[i]['discount_value'], details[i]['barcode'], details[i]['product_name'], details[i]['print_name'], details[i]['artikel_nummer'], details[i]['quantity'], details[i]['uom'], details[i]['mwst'], details[i]['sale_price'], details[i]['total_price'], details[i]['category_name'], details[i]['summestorno']])
          ws3arr.push([details[i]['artikel_nummer'], details[i]['quantity'], details[i]['uom'], details[i]['product_name'], details[i]['full_name'], details[i]['sale_price'], details[i]['mwst'], details[i]['total_price'], details[i]['total_price_without_tax']])
        }
        const ws = XLSX.utils.aoa_to_sheet(detailexport);
        const ws3 = XLSX.utils.aoa_to_sheet(ws3arr);

        response = await axios.post(`${globalStore.baseUrl}bericht/exporttagessession`, postBody);
        let orders = JSON.parse(response.data.result);
        let orderexport = [['Datum', 'Beleg','Vom Kasse', 'Kunden Name','Gesamt Rabatt', 'Netto', 'Brutto','Mwst '+this.thue7+'%','Mwst '+this.thue19+'%','Total '+this.thue7+'%','Total '+this.thue19+'%','ZahlungsMethode','Summe Storno']];
        for (let i = 0; i < orders.length; i++) {
          orders[i]['zahlungsmethode'] = orders[i]['is_cash'] ? 'Barzahlung' : 'Kartenzahlung';
          orderexport.push([orders[i]['orderdate'], orders[i]['beleg'], orders[i]['user_input'], orders[i]['customer_name'], orders[i]['total_discount_in_amount'], orders[i]['netto'], orders[i]['total_with_discount'], orders[i]['mwst7'], orders[i]['mwst19'], orders[i]['total7'], orders[i]['total19'], orders[i]['zahlungsmethode'], orders[i]['summestorno']])
          orders[i].lines = [];
          for (let j = 0; j < details.length; j++) {
            if(orders[i]['beleg'] === details[j]['beleg']){
              orders[i].lines.push(details[j]);
            }
          }
        }
        const ws1 = XLSX.utils.aoa_to_sheet(orderexport);

        response = await axios.post(`${globalStore.baseUrl}bericht/detailtagessessiongroupby`, postBody);
        let detailgroup = JSON.parse(response.data.result);
        let detailgroupexport = [['Artikel Beschreibung','Drucken Beschreibung','DE Beschreibung','Category','Voll Beschreibung', 'Barcode','Artikel Nummer','Artikel Einheit','Artikel MwSt','Artikel Menge','Enkaufspreis', 'Artikel Einzelpreis','Auftrag Rabatt','Artikel Gesamtpreis','Variant','ProduktID']];
        for (let i = 0; i < detailgroup.length; i++) {
          detailgroupexport.push([detailgroup[i]['name'], detailgroup[i]['print_name'], detailgroup[i]['name_de'], detailgroup[i]['name_cate'], detailgroup[i]['full_name'], detailgroup[i]['barcode'], detailgroup[i]['artikel_nummer'], detailgroup[i]['uom'], detailgroup[i]['mwst'], detailgroup[i]['quantity'], detailgroup[i]['buy_price'], detailgroup[i]['sale_price'], detailgroup[i]['discount_value'], detailgroup[i]['total_price'], detailgroup[i]['variantid'], detailgroup[i]['productid']])
        }
        const ws2 = XLSX.utils.aoa_to_sheet(detailgroupexport);
        const wb = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(wb, ws, 'Details');
        XLSX.utils.book_append_sheet(wb, ws1, 'Verkauf');
        XLSX.utils.book_append_sheet(wb, ws2, 'Produkt');
        XLSX.utils.book_append_sheet(wb, ws3, 'Lexware');
        XLSX.writeFile(wb, 'session.xlsx');
        // this.downloadfile(JSON.stringify(orders), 'session.json', 'text/plain');
        this.loadingState = false;
      },
      async exportExcelMonat(){
        if(this.disablePrintMonth && this.berichtType === 'monat'){
          this.$store.state.popup.warningContent = this.$i18n.t('Can not export');
          globalStore.showPopup('showWarning');
          return;
        }
        let monthstr = this.$moment(this.selectedMonth).format("YYYY-MM-01");
        let postBody = {
          "params": {
            "monat": monthstr
          }
        };
        this.loadingState = true;
        let response = await axios.post(`${globalStore.baseUrl}bericht/detailmonat`, postBody);
        let details = response.data.result;
        var mediaType="data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64,";
        var a = document.createElement("a");
        a.href = mediaType+details;
        a.download = "monat.xlsx";
        a.click();
        this.loadingState = false;
      },
      async exportExcelMonatUser(){
        if(this.disablePrintMonth === true && this.berichtType === 'monatuser'){
          this.$store.state.popup.warningContent = this.$i18n.t('Can not export');
          globalStore.showPopup('showWarning');
          return;
        }
        let monthstr = this.$moment(this.selectedMonth).format('YYYY-MM-01');
        let postBody = {
          "params": {
            "monat": monthstr,
            "userid": this.selectedUser.id
          }
        };
        this.loadingState = true;
        let response = await axios.post(`${globalStore.baseUrl}bericht/detailmonatuser`, postBody);
        let details = JSON.parse(response.data.result);
        let detailexport = [['Datum', 'Beleg','Vom Kasse', 'Auftrag Rabatt', 'Barcode', 'Artikel Beschreibung', 'Drucken Beschreibung', 'Artikel Nummer', 'Artikel Menge','Artikel Einheit','Artikel MwSt','Artikel Einzelpreis','Artikel Gesamtpreis','Kategorie','Summestorno']];
        let ws3arr = [['Artikel Nummer', 'Artikel Menge', 'Artikel Einheit', 'Artikel Bezeichnung', 'Voll Beschreibung', 'Artikel Einzelpreis', 'Artikel MwSt', 'Artikel Gesamtpreis', 'Netto']];
        for (let i = 0; i < details.length; i++) {
          if(i > 0){
            if(details[i]['beleg'] !== details[i-1]['beleg']){
              if(details[i-1]['total_discount_in_amount'] > 0){
                detailexport.push(['', '', '', '', '', '', '', '', '', '', '', 'Gesamt Rabatt', parseFloat('-'+details[i-1]['total_discount_in_amount']), '']);
              }
            }
          }
          detailexport.push([details[i]['orderdate'], details[i]['beleg'], details[i]['user_input'], details[i]['discount_value'], details[i]['barcode'], details[i]['product_name'], details[i]['print_name'], details[i]['artikel_nummer'], details[i]['quantity'], details[i]['uom'], details[i]['mwst'], details[i]['sale_price'], details[i]['total_price'], details[i]['category_name'], details[i]['summestorno']])
          ws3arr.push([details[i]['artikel_nummer'], details[i]['quantity'], details[i]['uom'], details[i]['product_name'], details[i]['full_name'], details[i]['sale_price'], details[i]['mwst'], details[i]['total_price'], details[i]['total_price_without_tax']])
        }
        const ws = XLSX.utils.aoa_to_sheet(detailexport);
        const ws3 = XLSX.utils.aoa_to_sheet(ws3arr);

        response = await axios.post(`${globalStore.baseUrl}bericht/exportmonatuser`, postBody);
        let orders = JSON.parse(response.data.result);
        let orderexport = [['Datum', 'Beleg','Vom Kasse','Kunden Name', 'Gesamt Rabatt', 'Netto', 'Brutto','Mwst '+this.thue7+'%','Mwst '+this.thue19+'%','Total '+this.thue7+'%','Total '+this.thue19+'%','ZahlungsMethode']];
        for (let i = 0; i < orders.length; i++) {
          orders[i]['zahlungsmethode'] = orders[i]['is_cash'] ? 'Barzahlung' : 'Kartenzahlung';
          orderexport.push([orders[i]['orderdate'], orders[i]['beleg'], orders[i]['user_input'], orders[i]['customer_name'], orders[i]['total_discount_in_amount'], orders[i]['netto'], orders[i]['total_with_discount'], orders[i]['mwst7'], orders[i]['mwst19'], orders[i]['total7'], orders[i]['total19'], orders[i]['zahlungsmethode']])
          orders[i].lines = [];
          for (let j = 0; j < details.length; j++) {
            if(orders[i]['beleg'] === details[j]['beleg']){
              orders[i].lines.push(details[j]);
            }
          }
        }
        const ws1 = XLSX.utils.aoa_to_sheet(orderexport);

        response = await axios.post(`${globalStore.baseUrl}bericht/detailmonatusergroupby`, postBody);
        let detailgroupby = JSON.parse(response.data.result);
        let detailgroupbyexport = [['Artikel Beschreibung','Drucken Beschreibung','DE Beschreibung','Voll Beschreibung','Barcode','Artikel Nummer','Artikel Einheit','Artikel MwSt','Artikel Menge', 'Einkaufspreis','Artikel Einzelpreis','Auftrag Rabatt','Artikel Gesamtpreis','Variant','ProduktID']];
        for (let i = 0; i < detailgroupby.length; i++) {
          detailgroupbyexport.push([detailgroupby[i]['name'], detailgroupby[i]['print_name'], detailgroupby[i]['name_de'], detailgroupby[i]['full_name'], detailgroupby[i]['barcode'], detailgroupby[i]['artikel_nummer'], detailgroupby[i]['uom'], detailgroupby[i]['mwst'], detailgroupby[i]['quantity'], detailgroupby[i]['buy_price'], detailgroupby[i]['sale_price'], detailgroupby[i]['discount_value'], detailgroupby[i]['total_price'], detailgroupby[i]['variantid'], detailgroupby[i]['productid']])
        }
        const ws2 = XLSX.utils.aoa_to_sheet(detailgroupbyexport);

        const wb = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(wb, ws, 'Details');
        XLSX.utils.book_append_sheet(wb, ws1, 'Verkauf');
        XLSX.utils.book_append_sheet(wb, ws2, 'Produkt');
        XLSX.utils.book_append_sheet(wb, ws3, 'Lexware');
        XLSX.writeFile(wb, 'monatuser.xlsx');
        // this.downloadfile(JSON.stringify(orders), 'monatuser.json', 'text/plain');
        this.loadingState = false;
      },
      get_jahr_user_bericht(){
        this.total_with_discount = '';
        let year = this.selectedYear;
        let postBody = {
          "params": {
            "year": year,
            "user_id": this.selectedUser.id
          }
        };
        this.lastbericht_fromdate = year + '-01-01 00:00:00';
        this.lastbericht_todate = year + '-12-31 23:59:59';
        axios.post(`${globalStore.baseUrl}bericht/jahresuserberichtorder`, postBody).then(response => {
          let ret = JSON.parse(response.data.result);
          let orderval = JSON.parse(ret.value);
          this.barmwst7 = (orderval[0].barmwst7 || 0).toFixed(2);
          this.barmwst19 = (orderval[0].barmwst19 || 0).toFixed(2);
          this.bartotal7 = (orderval[0].bartotal7 || 0).toFixed(2);
          this.bartotal19 = (orderval[0].bartotal19 || 0).toFixed(2);
          this.creditmwst7 = (orderval[0].creditmwst7 || 0).toFixed(2);
          this.creditmwst19 = (orderval[0].creditmwst19 || 0).toFixed(2);
          this.credittotal7 = (orderval[0].credittotal7 || 0).toFixed(2);
          this.credittotal19 = (orderval[0].credittotal19 || 0).toFixed(2);
          this.discount_mwst7 = (orderval[0].discount_mwst7 || 0).toFixed(2);
          this.discount_mwst19 = (orderval[0].discount_mwst19 || 0).toFixed(2);
          this.bar_total_discount_in_amount = (orderval[0].bar_total_discount_in_amount || 0).toFixed(2);
          this.credit_total_discount_in_amount = (orderval[0].credit_total_discount_in_amount || 0).toFixed(2);
          this.bar_total_with_discount = (orderval[0].bar_total_with_discount || 0).toFixed(2);
          this.credit_total_with_discount = (orderval[0].credit_total_with_discount || 0).toFixed(2);
          this.mwst = (orderval[0].mwst || 0).toFixed(2);
          this.mwst7 = (orderval[0].mwst7 || 0).toFixed(2);
          this.mwst19 = (orderval[0].mwst19 || 0).toFixed(2);
          this.netto = (orderval[0].netto || 0).toFixed(2);
          this.orderdiscountlines = (orderval[0].orderdiscountlines || 0).toFixed(2);
          this.total7 = (orderval[0].total7 || 0).toFixed(2);
          this.total19 = (orderval[0].total19 || 0).toFixed(2);
          this.anzahlbar = (orderval[0].anzahlbar || 0);
          this.anzahlcredit = (orderval[0].anzahlcredit || 0);
          this.total_with_discount = (orderval[0].total_with_discount || 0).toFixed(2);
          this.kundenanzahl = orderval[0].kundenanzahl || 0;
          this.creditnetto7 = (this.credittotal7 - this.creditmwst7).toFixed(2);
          this.creditnetto19 = (this.credittotal19 - this.creditmwst19).toFixed(2);
          this.barnetto7 = (this.bartotal7 - this.barmwst7).toFixed(2);
          this.barnetto19 = (this.bartotal19 - this.barmwst19).toFixed(2);
        });
        axios.post(`${globalStore.baseUrl}bericht/jahresuserberichtorderline`, postBody)
            .then(response => {
              let ret = JSON.parse(response.data.result);
              let orderval = JSON.parse(ret.value);
              this.anzahlmwst7 = orderval[0].anzahlmwst7 || 0;
              this.anzahlmwst19 = orderval[0].anzahlmwst19 || 0;
              this.anzahlstorno = orderval[0].anzahlstorno || 0;
              this.summestorno = (orderval[0].summestorno || 0).toFixed(2);
            });
      },
      async get_monat_user_bericht(){
        this.total_with_discount = '';
        let monthstr = this.$moment(this.selectedMonth).format('YYYY-MM-01');
        this.lastbericht_fromdate = monthstr + ' 00:00:00';
        this.lastbericht_todate = this.$moment(monthstr).endOf('month');
        // Đổi thuế 7 và 19
        let postBody = {"params": {}};
        let respon = await axios.post(`${globalStore.baseUrl}product/beginchangedate`, postBody);
        let val = JSON.parse(respon.data.result);
        let datebegin = val.value;

        respon = await axios.post(`${globalStore.baseUrl}product/endchangedate`, postBody);
        val = JSON.parse(respon.data.result);
        let dateend = val.value;

        if(this.$moment(this.lastbericht_fromdate) >= this.$moment(datebegin) &&
          this.$moment(this.lastbericht_fromdate) <= this.$moment(dateend)){
          this.thue7 = '5';
          this.thue19 = '16';
        }else{
          this.thue7 = '7';
          this.thue19 = '19';
        }
        postBody = {
          "params": {
            "monat": monthstr,
            "user_id": this.selectedUser.id
          }
        };
        this.loadingState = true;
        let response = await axios.post(`${globalStore.baseUrl}bericht/monatuserberichtorder`, postBody);
        let ret = JSON.parse(response.data.result);
        let orderval = JSON.parse(ret.value);
        this.barmwst7 = (orderval[0].barmwst7 || 0).toFixed(2);
        this.barmwst19 = (orderval[0].barmwst19 || 0).toFixed(2);
        this.bartotal7 = (orderval[0].bartotal7 || 0).toFixed(2);
        this.bartotal19 = (orderval[0].bartotal19 || 0).toFixed(2);
        this.creditmwst7 = (orderval[0].creditmwst7 || 0).toFixed(2);
        this.creditmwst19 = (orderval[0].creditmwst19 || 0).toFixed(2);
        this.credittotal7 = (orderval[0].credittotal7 || 0).toFixed(2);
        this.credittotal19 = (orderval[0].credittotal19 || 0).toFixed(2);
        this.discount_mwst7 = (orderval[0].discount_mwst7 || 0).toFixed(2);
        this.discount_mwst19 = (orderval[0].discount_mwst19 || 0).toFixed(2);
        this.bar_total_discount_in_amount = (orderval[0].bar_total_discount_in_amount || 0).toFixed(2);
        this.credit_total_discount_in_amount = (orderval[0].credit_total_discount_in_amount || 0).toFixed(2);
        this.bar_total_with_discount = (orderval[0].bar_total_with_discount || 0).toFixed(2);
        this.credit_total_with_discount = (orderval[0].credit_total_with_discount || 0).toFixed(2);
        this.mwst = (orderval[0].mwst || 0).toFixed(2);
        this.mwst7 = (orderval[0].mwst7 || 0).toFixed(2);
        this.mwst19 = (orderval[0].mwst19 || 0).toFixed(2);
        this.netto = (orderval[0].netto || 0).toFixed(2);
        this.orderdiscountlines = (orderval[0].orderdiscountlines || 0).toFixed(2);
        this.total7 = (orderval[0].total7 || 0).toFixed(2);
        this.total19 = (orderval[0].total19 || 0).toFixed(2);
        this.anzahlbar = (orderval[0].anzahlbar || 0);
        this.anzahlcredit = (orderval[0].anzahlcredit || 0);
        this.total_with_discount = (orderval[0].total_with_discount || 0).toFixed(2);
        this.kundenanzahl = orderval[0].kundenanzahl || 0;
        this.creditnetto7 = (this.credittotal7 - this.creditmwst7).toFixed(2);
        this.creditnetto19 = (this.credittotal19 - this.creditmwst19).toFixed(2);
        this.barnetto7 = (this.bartotal7 - this.barmwst7).toFixed(2);
        this.barnetto19 = (this.bartotal19 - this.barmwst19).toFixed(2);

        let response_line = await axios.post(`${globalStore.baseUrl}bericht/monatuserberichtorderline`, postBody);
        let ret_line = JSON.parse(response_line.data.result);
        let orderval_line = JSON.parse(ret_line.value);
        this.anzahlmwst7 = orderval_line[0].anzahlmwst7 || 0;
        this.anzahlmwst19 = orderval_line[0].anzahlmwst19 || 0;
        this.anzahlstorno = orderval_line[0].anzahlstorno || 0;
        this.summestorno = (orderval_line[0].summestorno || 0).toFixed(2);
        this.loadingState = false;
      },
      async get_session_bericht(){
        this.total_with_discount = '';
        let session = this.selectedSession;
        let postBody = {
          "params": {
            "session": session
          }
        };
        this.loadingState = true;
        let response = await axios.post(`${globalStore.baseUrl}bericht/sessionberichtorder`, postBody);
        let ret = JSON.parse(response.data.result);
        let orderval = JSON.parse(ret.value);
        this.barmwst7 = (orderval[0].barmwst7 || 0).toFixed(2);
        this.barmwst19 = (orderval[0].barmwst19 || 0).toFixed(2);
        this.bartotal7 = (orderval[0].bartotal7 || 0).toFixed(2);
        this.bartotal19 = (orderval[0].bartotal19 || 0).toFixed(2);
        this.creditmwst7 = (orderval[0].creditmwst7 || 0).toFixed(2);
        this.creditmwst19 = (orderval[0].creditmwst19 || 0).toFixed(2);
        this.credittotal7 = (orderval[0].credittotal7 || 0).toFixed(2);
        this.credittotal19 = (orderval[0].credittotal19 || 0).toFixed(2);
        this.discount_mwst7 = (orderval[0].discount_mwst7 || 0).toFixed(2);
        this.discount_mwst19 = (orderval[0].discount_mwst19 || 0).toFixed(2);
        this.bar_total_discount_in_amount = (orderval[0].bar_total_discount_in_amount || 0).toFixed(2);
        this.credit_total_discount_in_amount = (orderval[0].credit_total_discount_in_amount || 0).toFixed(2);
        this.bar_total_with_discount = (orderval[0].bar_total_with_discount || 0).toFixed(2);
        this.credit_total_with_discount = (orderval[0].credit_total_with_discount || 0).toFixed(2);
        this.mwst = (orderval[0].mwst || 0).toFixed(2);
        this.mwst7 = (orderval[0].mwst7 || 0).toFixed(2);
        this.mwst19 = (orderval[0].mwst19 || 0).toFixed(2);
        this.netto = (orderval[0].netto || 0).toFixed(2);
        this.orderdiscountlines = (orderval[0].orderdiscountlines || 0).toFixed(2);
        this.total7 = (orderval[0].total7 || 0).toFixed(2);
        this.total19 = (orderval[0].total19 || 0).toFixed(2);
        this.anzahlbar = (orderval[0].anzahlbar || 0);
        this.anzahlcredit = (orderval[0].anzahlcredit || 0);
        this.total_with_discount = (orderval[0].total_with_discount || 0).toFixed(2);
        this.kundenanzahl = orderval[0].kundenanzahl || 0;
        this.creditnetto7 = (this.credittotal7 - this.creditmwst7).toFixed(2);
        this.creditnetto19 = (this.credittotal19 - this.creditmwst19).toFixed(2);
        this.barnetto7 = (this.bartotal7 - this.barmwst7).toFixed(2);
        this.barnetto19 = (this.bartotal19 - this.barmwst19).toFixed(2);

        let response_line = await axios.post(`${globalStore.baseUrl}bericht/sessionberichtorderline`, postBody);
        let ret_line = JSON.parse(response_line.data.result);
        let orderval_line = JSON.parse(ret_line.value);
        this.anzahlmwst7 = orderval_line[0].anzahlmwst7 || 0;
        this.anzahlmwst19 = orderval_line[0].anzahlmwst19 || 0;
        this.anzahlstorno = orderval_line[0].anzahlstorno || 0;
        this.summestorno = (orderval_line[0].summestorno || 0).toFixed(2);
        // Đổi thuế 7 và 19
        postBody = {"params": {}};
        let respon = await axios.post(`${globalStore.baseUrl}product/beginchangedate`, postBody);
        let val = JSON.parse(respon.data.result);
        let datebegin = val.value;

        respon = await axios.post(`${globalStore.baseUrl}product/endchangedate`, postBody);
        val = JSON.parse(respon.data.result);
        let dateend = val.value;

        if(this.$moment(this.lastbericht_fromdate) >= this.$moment(datebegin) &&
          this.$moment(this.lastbericht_fromdate) <= this.$moment(dateend)){
          this.thue7 = '5';
          this.thue19 = '16';
        }else{
          this.thue7 = '7';
          this.thue19 = '19';
        }
        this.loadingState = false;
      },
      get_jahr_bericht(){
        this.total_with_discount = '';
        let year = this.selectedYear;
        let postBody = {
          "params": {
            "year": year
          }
        };
        this.lastbericht_fromdate = year + '-01-01 00:00:00';
        this.lastbericht_todate = year + '-12-31 23:59:59';
        axios.post(`${globalStore.baseUrl}bericht/jahrberichtorder`, postBody).then(response => {
          let ret = JSON.parse(response.data.result);
          let orderval = JSON.parse(ret.value);
          this.barmwst7 = (orderval[0].barmwst7 || 0).toFixed(2);
          this.barmwst19 = (orderval[0].barmwst19 || 0).toFixed(2);
          this.bartotal7 = (orderval[0].bartotal7 || 0).toFixed(2);
          this.bartotal19 = (orderval[0].bartotal19 || 0).toFixed(2);
          this.creditmwst7 = (orderval[0].creditmwst7 || 0).toFixed(2);
          this.creditmwst19 = (orderval[0].creditmwst19 || 0).toFixed(2);
          this.credittotal7 = (orderval[0].credittotal7 || 0).toFixed(2);
          this.credittotal19 = (orderval[0].credittotal19 || 0).toFixed(2);
          this.discount_mwst7 = (orderval[0].discount_mwst7 || 0).toFixed(2);
          this.discount_mwst19 = (orderval[0].discount_mwst19 || 0).toFixed(2);
          this.bar_total_discount_in_amount = (orderval[0].bar_total_discount_in_amount || 0).toFixed(2);
          this.credit_total_discount_in_amount = (orderval[0].credit_total_discount_in_amount || 0).toFixed(2);
          this.bar_total_with_discount = (orderval[0].bar_total_with_discount || 0).toFixed(2);
          this.credit_total_with_discount = (orderval[0].credit_total_with_discount || 0).toFixed(2);
          this.mwst = (orderval[0].mwst || 0).toFixed(2);
          this.mwst7 = (orderval[0].mwst7 || 0).toFixed(2);
          this.mwst19 = (orderval[0].mwst19 || 0).toFixed(2);
          this.netto = (orderval[0].netto || 0).toFixed(2);
          this.orderdiscountlines = (orderval[0].orderdiscountlines || 0).toFixed(2);
          this.total7 = (orderval[0].total7 || 0).toFixed(2);
          this.total19 = (orderval[0].total19 || 0).toFixed(2);
          this.anzahlbar = (orderval[0].anzahlbar || 0);
          this.anzahlcredit = (orderval[0].anzahlcredit || 0);
          this.total_with_discount = (orderval[0].total_with_discount || 0).toFixed(2);
          this.kundenanzahl = orderval[0].kundenanzahl || 0;
          this.creditnetto7 = (this.credittotal7 - this.creditmwst7).toFixed(2);
          this.creditnetto19 = (this.credittotal19 - this.creditmwst19).toFixed(2);
          this.barnetto7 = (this.bartotal7 - this.barmwst7).toFixed(2);
          this.barnetto19 = (this.bartotal19 - this.barmwst19).toFixed(2);
        });
        axios.post(`${globalStore.baseUrl}bericht/jahrberichtorderline`, postBody)
            .then(response => {
              let ret = JSON.parse(response.data.result);
              let orderval = JSON.parse(ret.value);
              this.anzahlmwst7 = orderval[0].anzahlmwst7 || 0;
              this.anzahlmwst19 = orderval[0].anzahlmwst19 || 0;
              this.anzahlstorno = orderval[0].anzahlstorno || 0;
              this.summestorno = (orderval[0].summestorno || 0).toFixed(2);
            });
      },
      async get_monat_bericht(){
        this.total_with_discount = '';
        let monthstr = this.$moment(this.selectedMonth).format('YYYY-MM-01');
        this.sequence = this.get_month_bericht_num(monthstr);
        this.lastbericht_fromdate = monthstr + ' 00:00:00';
        this.lastbericht_todate = this.$moment(monthstr).endOf('month');
        this.disablePrintMonth = this.$moment(new Date()) < this.lastbericht_todate;
        // Đổi thuế 7 và 19
        let postBody = {"params": {}};
        let respon = await axios.post(`${globalStore.baseUrl}product/beginchangedate`, postBody);
        let val = JSON.parse(respon.data.result);
        let datebegin = val.value;

        respon = await axios.post(`${globalStore.baseUrl}product/endchangedate`, postBody);
        val = JSON.parse(respon.data.result);
        let dateend = val.value;

        if(this.$moment(this.lastbericht_fromdate) >= this.$moment(datebegin) &&
          this.$moment(this.lastbericht_fromdate) <= this.$moment(dateend)){
          this.thue7 = '5';
          this.thue19 = '16';
        }else{
          this.thue7 = '7';
          this.thue19 = '19';
        }
        postBody = {
          "params": {
            "monat": monthstr
          }
        };
        this.loadingState = true;
        let response = await axios.post(`${globalStore.baseUrl}bericht/monatberichtorder`, postBody);
        let ret = JSON.parse(response.data.result);
        let orderval = JSON.parse(ret.value);
        this.barmwst7 = (orderval[0].barmwst7 || 0).toFixed(2);
        this.barmwst19 = (orderval[0].barmwst19 || 0).toFixed(2);
        this.bartotal7 = (orderval[0].bartotal7 || 0).toFixed(2);
        this.bartotal19 = (orderval[0].bartotal19 || 0).toFixed(2);
        this.creditmwst7 = (orderval[0].creditmwst7 || 0).toFixed(2);
        this.creditmwst19 = (orderval[0].creditmwst19 || 0).toFixed(2);
        this.credittotal7 = (orderval[0].credittotal7 || 0).toFixed(2);
        this.credittotal19 = (orderval[0].credittotal19 || 0).toFixed(2);
        this.discount_mwst7 = (orderval[0].discount_mwst7 || 0).toFixed(2);
        this.discount_mwst19 = (orderval[0].discount_mwst19 || 0).toFixed(2);
        this.bar_total_discount_in_amount = (orderval[0].bar_total_discount_in_amount || 0).toFixed(2);
        this.credit_total_discount_in_amount = (orderval[0].credit_total_discount_in_amount || 0).toFixed(2);
        this.bar_total_with_discount = (orderval[0].bar_total_with_discount || 0).toFixed(2);
        this.credit_total_with_discount = (orderval[0].credit_total_with_discount || 0).toFixed(2);
        this.mwst = (orderval[0].mwst || 0).toFixed(2);
        this.mwst7 = (orderval[0].mwst7 || 0).toFixed(2);
        this.mwst19 = (orderval[0].mwst19 || 0).toFixed(2);
        this.netto = (orderval[0].netto || 0).toFixed(2);
        this.orderdiscountlines = (orderval[0].orderdiscountlines || 0).toFixed(2);
        this.total7 = (orderval[0].total7 || 0).toFixed(2);
        this.total19 = (orderval[0].total19 || 0).toFixed(2);
        this.anzahlbar = (orderval[0].anzahlbar || 0);
        this.anzahlcredit = (orderval[0].anzahlcredit || 0);
        this.total_with_discount = (orderval[0].total_with_discount || 0).toFixed(2);
        this.kundenanzahl = orderval[0].kundenanzahl || 0;
        this.creditnetto7 = (this.credittotal7 - this.creditmwst7).toFixed(2);
        this.creditnetto19 = (this.credittotal19 - this.creditmwst19).toFixed(2);
        this.barnetto7 = (this.bartotal7 - this.barmwst7).toFixed(2);
        this.barnetto19 = (this.bartotal19 - this.barmwst19).toFixed(2);


        let response_line = await axios.post(`${globalStore.baseUrl}bericht/monatberichtorderline`, postBody)
        let ret_line = JSON.parse(response_line.data.result);
        let orderval_line = JSON.parse(ret_line.value);
        this.anzahlmwst7 = orderval_line[0].anzahlmwst7 || 0;
        this.anzahlmwst19 = orderval_line[0].anzahlmwst19 || 0;
        this.anzahlstorno = orderval_line[0].anzahlstorno || 0;
        this.summestorno = (orderval_line[0].summestorno || 0).toFixed(2);
        this.loadingState = false;
      },
      get_tages_bericht(){
        // let loadingBox = document.querySelector('.loading-box');
        // loadingBox.classList.add('loading-state');
        this.total_with_discount = '';
        let postBody = {
          "params": {
            "fromdate": this.$moment(this.lastbericht_fromdate).format("YYYY-MM-DD HH:mm:ss"),
            "todate": this.$moment(this.lastbericht_todate).format("YYYY-MM-DD HH:mm:ss")
          }
        };
        axios.post(`${globalStore.baseUrl}bericht/tagesberichtorder`, postBody).then(response => {
          let ret = JSON.parse(response.data.result);
          let orderval = JSON.parse(ret.value);
          this.barmwst7 = (orderval[0].barmwst7 || 0).toFixed(2);
          this.barmwst19 = (orderval[0].barmwst19 || 0).toFixed(2);
          this.bartotal7 = (orderval[0].bartotal7 || 0).toFixed(2);
          this.bartotal19 = (orderval[0].bartotal19 || 0).toFixed(2);
          this.creditmwst7 = (orderval[0].creditmwst7 || 0).toFixed(2);
          this.creditmwst19 = (orderval[0].creditmwst19 || 0).toFixed(2);
          this.credittotal7 = (orderval[0].credittotal7 || 0).toFixed(2);
          this.credittotal19 = (orderval[0].credittotal19 || 0).toFixed(2);
          this.discount_mwst7 = (orderval[0].discount_mwst7 || 0).toFixed(2);
          this.discount_mwst19 = (orderval[0].discount_mwst19 || 0).toFixed(2);
          this.bar_total_discount_in_amount = (orderval[0].bar_total_discount_in_amount || 0).toFixed(2);
          this.credit_total_discount_in_amount = (orderval[0].credit_total_discount_in_amount || 0).toFixed(2);
          this.bar_total_with_discount = (orderval[0].bar_total_with_discount || 0).toFixed(2);
          this.credit_total_with_discount = (orderval[0].credit_total_with_discount || 0).toFixed(2);
          this.mwst = (orderval[0].mwst || 0).toFixed(2);
          this.mwst7 = (orderval[0].mwst7 || 0).toFixed(2);
          this.mwst19 = (orderval[0].mwst19 || 0).toFixed(2);
          this.netto = (orderval[0].netto || 0).toFixed(2);
          this.orderdiscountlines = (orderval[0].orderdiscountlines || 0).toFixed(2);
          this.total7 = (orderval[0].total7 || 0).toFixed(2);
          this.total19 = (orderval[0].total19 || 0).toFixed(2);
          this.anzahlbar = (orderval[0].anzahlbar || 0);
          this.anzahlcredit = (orderval[0].anzahlcredit || 0);
          this.total_with_discount = (orderval[0].total_with_discount || 0).toFixed(2);
          this.kundenanzahl = orderval[0].kundenanzahl || 0;
          this.creditnetto7 = (this.credittotal7 - this.creditmwst7).toFixed(2);
          this.creditnetto19 = (this.credittotal19 - this.creditmwst19).toFixed(2);
          this.barnetto7 = (this.bartotal7 - this.barmwst7).toFixed(2);
          this.barnetto19 = (this.bartotal19 - this.barmwst19).toFixed(2);
        });
        axios.post(`${globalStore.baseUrl}bericht/tagesberichtorderline`, postBody)
            .then(response => {
              let ret = JSON.parse(response.data.result);
              let orderval = JSON.parse(ret.value);
              this.anzahlmwst7 = orderval[0].anzahlmwst7 || 0;
              this.anzahlmwst19 = orderval[0].anzahlmwst19 || 0;
              this.anzahlstorno = orderval[0].anzahlstorno || 0;
              this.summestorno = (orderval[0].summestorno || 0).toFixed(2);
            });
      },
      change_bericht_type(type){
        this.berichtType = type;
        // tính lại chiều cao của page in khi thay đổi content của header
        setTimeout(() => {
          this.setHeightContainerbericht();
        }, 50);
      },
      cal_selected_month(){
        let thangbatdau = this.$moment(this.begindate.begindate).startOf('month').format("YYYY-MM-DD");
        let date = new Date();
        let current_month = this.$moment(date).format("MM-YYYY");
        let month_to_add = this.$moment(date).startOf('month');
        while (month_to_add.isSameOrAfter(thangbatdau)){
          this.months.push(month_to_add.format("MM-YYYY"));
          month_to_add = this.$moment(month_to_add).subtract(1, 'months');
        }
      },
      get_month_bericht_num(selectedmonth){
        let first_month = this.$moment(this.begindate.begindate).subtract(1, 'months').format("YYYY-MM-DD");
        let current_month = this.$moment(selectedmonth).format("YYYY-MM-DD");
        let duration = this.$moment(current_month).diff(first_month, 'months');
        if(duration < 0){duration = 0;}
        return duration + 1;
      },
      cal_selected_year(){
        let nambatdau = this.$moment(this.begindate.begindate).startOf('year').format("YYYY-MM-DD");
        let date = new Date();
        let current_month = this.$moment(date).format("YYYY");
        let month_to_add = this.$moment(date).startOf('year');
        while (month_to_add.isSameOrAfter(nambatdau)){
          this.years.push(month_to_add.format("YYYY"));
          month_to_add = this.$moment(month_to_add).subtract(1, 'years');
        }
      },
      get_session_by_date(){
        let postBody = {
          "params": {
            "berichtdate": this.$moment(this.selectedDate).format("YYYY-MM-DD")
          }
        };
        axios.post(`${globalStore.baseUrl}session/get_by_day`, postBody)
            .then(response => {
              let ret = JSON.parse(response.data.result);
              ret = JSON.parse(ret.value);
              this.sessions = [];
              if(ret.length === 0){
                this.resetAllValue();
                this.$store.state.popup.warningContent = this.$i18n.t('No Session for today found, please close all session');
                globalStore.showPopup('showWarning');
                return;
              }
              for (let i = 0; i < ret.length; i++) {
                this.sessions.push({'name':ret[i].name,'id':ret[i].id});
              }
              this.selectedSession = ret[0].id;
              this.get_session_bericht();
            });
      },
      get_open_session(){
        axios.post(`${globalStore.baseUrl}session/get_opensession`, {}).then(response => {
          let ret = JSON.parse(response.data.result);
          ret = JSON.parse(ret.value);
          this.opensessions = ret;
        });
      },
      get_session_name_by_id(){
        if(this.selectedSession === ''){
          return;
        }
        let postBody = {
          "params": {
            "session_id": this.selectedSession
          }
        };
        axios.post(`${globalStore.baseUrl}session/get_by_id`, postBody)
            .then(async response => {
              let ret = JSON.parse(response.data.result);
              ret = JSON.parse(ret.value);
              this.selectedSessionName = ret[0].name;
              this.selectedUsername = ret[0].user_name;
              this.selectedSessionBegin = ret[0].begintime;
              this.selectedSessionEnd = ret[0].endtime;
              // Đổi thuế 7 và 19
              let postBody = {"params": {}};
              let respon = await axios.post(`${globalStore.baseUrl}product/beginchangedate`, postBody);
              let val = JSON.parse(respon.data.result);
              let datebegin = val.value;

              respon = await axios.post(`${globalStore.baseUrl}product/endchangedate`, postBody);
              val = JSON.parse(respon.data.result);
              let dateend = val.value;
              if(this.$moment(this.selectedSessionBegin) >= this.$moment(datebegin) &&
                this.$moment(this.selectedSessionBegin) <= this.$moment(dateend)){
                this.thue7 = '5';
                this.thue19 = '16';
              }else{
                this.thue7 = '7';
                this.thue19 = '19';
              }
            });
      },
      getbegindate(){
        axios.post(`${globalStore.baseUrl}setting/get_begindate`, {})
            .then(response => {
              let ret = JSON.parse(response.data.result);
              let retval = JSON.parse(ret.value.replace(/\bNaN\b/g, 'null'));
              this.begindate = retval[0];
              this.cal_selected_year();
              this.cal_selected_month();
            });
      },
      async get_last_bericht(){
        let userinfo = JSON.parse(localStorage.getItem(globalStore.cookieNameLoginInfo)).value[0];
        let user_id = userinfo.userid;
        let username = userinfo.username;
        let postBody = {
          "params": {
            "user_id": user_id,
            "berichttype": this.berichtType
          }
        };
        this.sessions = [];
        let response = await axios.post(`${globalStore.baseUrl}bericht/get_last_bericht`, postBody);
        let ret = JSON.parse(response.data.result);
        ret = JSON.parse(ret.value);
        let now = new Date();
        this.lastbericht_todate = this.$moment(now).format("YYYY-MM-DD HH:mm:ss");
        if(ret.length === 1){
          this.sequence = ret[0].sequence+1;
          this.bericht_name = ret[0].sequence;
          this.lastbericht_fromdate = this.$moment(ret[0].printtime).format("YYYY-MM-DD HH:mm:ss");
        }else{
          this.sequence = '1';
          this.bericht_name = '1';
          this.lastbericht_fromdate = this.begindate.begindate + ' 00:00:01';
        }
      },
      save_bericht_to_server(){
        if(this.berichtType === 'tages'){
          let userinfo = JSON.parse(localStorage.getItem(globalStore.cookieNameLoginInfo)).value[0];
          let user_name = userinfo.username;
          let user_id = userinfo.userid;
          let berichttime = this.$moment(this.selectedDate).format("YYYY-MM-DD");
          let printtime = this.$moment(new Date()).format("YYYY-MM-DD HH:mm:ss");
          let postBody = {
            "params": {
              "berichttime": berichttime,
              "sequence": this.sequence,
              "user_id": user_id,
              "user_name": user_name,
              "name": this.berichtType +"/"+this.sequence,
              "printtime": printtime,
              "fromdate": this.$moment(this.lastbericht_fromdate).format("DD.MM.YYYY HH:mm:ss"),
              "todate": this.$moment(this.lastbericht_todate).format("DD.MM.YYYY HH:mm:ss"),
              "berichttype": this.berichtType,
              'barmwst7': this.barmwst7,
              'barmwst19': this.barmwst19,
              'bartotal7': this.bartotal7,
              'bartotal19': this.bartotal19,
              'creditmwst7': this.creditmwst7,
              'creditmwst19': this.creditmwst19,
              'credittotal7': this.credittotal7,
              'credittotal19': this.credittotal19,
              'discount_mwst7': this.discount_mwst7,
              'discount_mwst19': this.discount_mwst19,
              'kundenanzahl': this.kundenanzahl,
              'mwst': this.mwst,
              'mwst7': this.mwst7,
              'mwst19': this.mwst19,
              'orderdiscountlines': this.orderdiscountlines,
              'netto': this.netto,
              'total7': this.total7,
              'total19': this.total19,
              'anzahlbar': this.anzahlbar,
              'anzahlcredit': this.anzahlcredit,
              'total_with_discount': this.total_with_discount,
              'bar_total_with_discount': this.bar_total_with_discount,
              'credit_total_with_discount': this.credit_total_with_discount,
              'anzahlmwst7': this.anzahlmwst7,
              'anzahlmwst19': this.anzahlmwst19,
              'anzahlstorno': this.anzahlstorno,
              'summestorno': this.summestorno,
              'berichtvon': this.lastbericht_fromdate,
              'berichtzum': this.lastbericht_todate,
            }
          };
          axios.post(`${globalStore.baseUrl}bericht/save_to_server`, postBody);
        }
        if(this.berichtType === 'tagessession'){
          let postBody = {
            "params": {
              "session_id": this.selectedSession
            }
          };
          axios.post(`${globalStore.baseUrl}session/get_by_id`, postBody)
              .then(response => {
                let ret = JSON.parse(response.data.result);
                ret = JSON.parse(ret.value);
                let user_name = ret[0].user_name;
                let session_id = ret[0].id;
                let session_name = ret[0].name;
                let user_id = ret[0].user_id;
                let fromtime = ret[0].begintime;
                let totime = ret[0].endtime;
                let berichttime = this.$moment(this.selectedDate).format("YYYY-MM-DD");
                let printtime = this.$moment(new Date()).format("YYYY-MM-DD HH:mm:ss");
                let postBodySend = {
                  "params": {
                    "berichttime": berichttime,
                    "sequence": this.selectedSessionName,
                    "user_id": user_id,
                    "user_name": user_name,
                    "session_id":session_id,
                    "name": this.berichtType + "/" + session_name,
                    "printtime": printtime,
                    "fromtime": this.$moment(fromtime).format("DD.MM.YYYY HH:mm:ss"),
                    "totime": this.$moment(totime).format("DD.MM.YYYY HH:mm:ss"),
                    "berichttype": this.berichtType,
                    'barmwst7': this.barmwst7,
                    'barmwst19': this.barmwst19,
                    'bartotal7': this.bartotal7,
                    'bartotal19': this.bartotal19,
                    'creditmwst7': this.creditmwst7,
                    'creditmwst19': this.creditmwst19,
                    'credittotal7': this.credittotal7,
                    'credittotal19': this.credittotal19,
                    'discount_mwst7': this.discount_mwst7,
                    'discount_mwst19': this.discount_mwst19,
                    'kundenanzahl': this.kundenanzahl,
                    'mwst': this.mwst,
                    'mwst7': this.mwst7,
                    'mwst19': this.mwst19,
                    'orderdiscountlines': this.orderdiscountlines,
                    'netto': this.netto,
                    'total7': this.total7,
                    'total19': this.total19,
                    'anzahlbar': this.anzahlbar,
                    'anzahlcredit': this.anzahlcredit,
                    'total_with_discount': this.total_with_discount,
                    'bar_total_with_discount': this.bar_total_with_discount,
                    'credit_total_with_discount': this.credit_total_with_discount,
                    'anzahlmwst7': this.anzahlmwst7,
                    'anzahlmwst19': this.anzahlmwst19,
                    'anzahlstorno': this.anzahlstorno,
                    'summestorno': this.summestorno,
                    'berichtvon': this.selectedSessionBegin,
                    'berichtzum': this.selectedSessionEnd
                  }
                };
                axios.post(`${globalStore.baseUrl}bericht/save_to_server`, postBodySend);
              });
        }
        if(this.berichtType === 'monat'){
          let userinfo = JSON.parse(localStorage.getItem(globalStore.cookieNameLoginInfo)).value[0];
          let user_name = userinfo.username;
          let user_id = userinfo.userid;
          let berichttime = this.$moment(this.selectedDate).format("YYYY-MM-DD");
          let printtime = this.$moment(new Date()).format("YYYY-MM-DD HH:mm:ss");;
          let postBody = {
            "params": {
              "berichttime": berichttime,
              "sequence": this.sequence,
              "user_id": user_id,
              "user_name": user_name,
              "name": this.berichtType +"/"+this.$moment(this.selectedMonth).format('MM-YYYY'),
              "printtime": printtime,
              "fromtime": this.$moment(this.lastbericht_fromdate).format("DD.MM.YYYY HH:mm:ss"),
              "totime": this.$moment(this.lastbericht_todate).format("DD.MM.YYYY HH:mm:ss"),
              "berichttype": this.berichtType,
              'barmwst7': this.barmwst7,
              'barmwst19': this.barmwst19,
              'bartotal7': this.bartotal7,
              'bartotal19': this.bartotal19,
              'creditmwst7': this.creditmwst7,
              'creditmwst19': this.creditmwst19,
              'credittotal7': this.credittotal7,
              'credittotal19': this.credittotal19,
              'discount_mwst7': this.discount_mwst7,
              'discount_mwst19': this.discount_mwst19,
              'kundenanzahl': this.kundenanzahl,
              'mwst': this.mwst,
              'mwst7': this.mwst7,
              'mwst19': this.mwst19,
              'orderdiscountlines': this.orderdiscountlines,
              'netto': this.netto,
              'total7': this.total7,
              'total19': this.total19,
              'anzahlbar': this.anzahlbar,
              'anzahlcredit': this.anzahlcredit,
              'total_with_discount': this.total_with_discount,
              'bar_total_with_discount': this.bar_total_with_discount,
              'credit_total_with_discount': this.credit_total_with_discount,
              'anzahlmwst7': this.anzahlmwst7,
              'anzahlmwst19': this.anzahlmwst19,
              'anzahlstorno': this.anzahlstorno,
              'summestorno': this.summestorno,
              'berichtvon': this.lastbericht_fromdate,
              'berichtzum': this.lastbericht_todate
            }
          };
          axios.post(`${globalStore.baseUrl}bericht/save_to_server`, postBody);
        }
        if(this.berichtType === 'monatuser'){
          let userinfo = JSON.parse(localStorage.getItem(globalStore.cookieNameLoginInfo)).value[0];
          let berichttime = this.$moment(this.selectedDate).format("YYYY-MM-DD");
          let printtime = this.$moment(new Date()).format("YYYY-MM-DD HH:mm:ss");;
          let postBody = {
            "params": {
              "berichttime": berichttime,
              "sequence": this.sequence,
              "user_id": this.selectedUser.id,
              "user_name": this.selectedUser.name,
              "name": this.berichtType + "/" + this.selectedUsername +"/"+this.$moment(this.selectedMonth).format('MM-YYYY') + '-' + this.selectedUser.id,
              "printtime": printtime,
              "fromtime": this.$moment(this.lastbericht_fromdate).format("DD.MM.YYYY HH:mm:ss"),
              "totime": this.$moment(this.lastbericht_todate).format("DD.MM.YYYY HH:mm:ss"),
              "berichttype": this.berichtType,
              'barmwst7': this.barmwst7,
              'barmwst19': this.barmwst19,
              'bartotal7': this.bartotal7,
              'bartotal19': this.bartotal19,
              'creditmwst7': this.creditmwst7,
              'creditmwst19': this.creditmwst19,
              'credittotal7': this.credittotal7,
              'credittotal19': this.credittotal19,
              'discount_mwst7': this.discount_mwst7,
              'discount_mwst19': this.discount_mwst19,
              'kundenanzahl': this.kundenanzahl,
              'mwst': this.mwst,
              'mwst7': this.mwst7,
              'mwst19': this.mwst19,
              'orderdiscountlines': this.orderdiscountlines,
              'netto': this.netto,
              'total7': this.total7,
              'total19': this.total19,
              'anzahlbar': this.anzahlbar,
              'anzahlcredit': this.anzahlcredit,
              'total_with_discount': this.total_with_discount,
              'bar_total_with_discount': this.bar_total_with_discount,
              'credit_total_with_discount': this.credit_total_with_discount,
              'anzahlmwst7': this.anzahlmwst7,
              'anzahlmwst19': this.anzahlmwst19,
              'anzahlstorno': this.anzahlstorno,
              'summestorno': this.summestorno,
              'berichtvon': this.lastbericht_fromdate,
              'berichtzum': this.lastbericht_todate
            }
          };
          axios.post(`${globalStore.baseUrl}bericht/save_to_server`, postBody);
        }
        if(this.berichtType === 'jahr'){
          let userinfo = JSON.parse(localStorage.getItem(globalStore.cookieNameLoginInfo)).value[0];
          let user_name = userinfo.username;
          let user_id = userinfo.userid;
          let berichttime = this.$moment(this.selectedDate).format("YYYY-MM-DD");
          let printtime = this.$moment(new Date()).format("YYYY-MM-DD HH:mm:ss");;
          let postBody = {
            "params": {
              "berichttime": berichttime,
              "sequence": this.sequence,
              "user_id": user_id,
              "user_name": user_name,
              "name": this.berichtType +"/"+this.selectedYear,
              "printtime": printtime,
              "fromtime": this.$moment(this.lastbericht_fromdate).format("DD.MM.YYYY HH:mm:ss"),
              "totime": this.$moment(this.lastbericht_todate).format("DD.MM.YYYY HH:mm:ss"),
              "berichttype": this.berichtType,
              'barmwst7': this.barmwst7,
              'barmwst19': this.barmwst19,
              'bartotal7': this.bartotal7,
              'bartotal19': this.bartotal19,
              'creditmwst7': this.creditmwst7,
              'creditmwst19': this.creditmwst19,
              'credittotal7': this.credittotal7,
              'credittotal19': this.credittotal19,
              'discount_mwst7': this.discount_mwst7,
              'discount_mwst19': this.discount_mwst19,
              'kundenanzahl': this.kundenanzahl,
              'mwst': this.mwst,
              'mwst7': this.mwst7,
              'mwst19': this.mwst19,
              'orderdiscountlines': this.orderdiscountlines,
              'netto': this.netto,
              'total7': this.total7,
              'total19': this.total19,
              'anzahlbar': this.anzahlbar,
              'anzahlcredit': this.anzahlcredit,
              'total_with_discount': this.total_with_discount,
              'bar_total_with_discount': this.bar_total_with_discount,
              'credit_total_with_discount': this.credit_total_with_discount,
              'anzahlmwst7': this.anzahlmwst7,
              'anzahlmwst19': this.anzahlmwst19,
              'anzahlstorno': this.anzahlstorno,
              'summestorno': this.summestorno,
              'berichtvon': this.lastbericht_fromdate,
              'berichtzum': this.lastbericht_todate,
            }
          };
          axios.post(`${globalStore.baseUrl}bericht/save_to_server`, postBody);
        }
        if(this.berichtType === 'jahresuser'){
          let userinfo = JSON.parse(localStorage.getItem(globalStore.cookieNameLoginInfo)).value[0];
          let berichttime = this.$moment(this.selectedDate).format("YYYY-MM-DD");
          let printtime = this.$moment(new Date()).format("YYYY-MM-DD HH:mm:ss");;
          let postBody = {
            "params": {
              "berichttime": berichttime,
              "sequence": this.sequence,
              "user_id": this.selectedUser.id,
              "user_name": this.selectedUser.name,
              "name": this.berichtType + "/" + this.selectedUsername +"/"+this.selectedYear,
              "printtime": printtime,
              "fromtime": this.$moment(this.lastbericht_fromdate).format("DD.MM.YYYY HH:mm:ss"),
              "totime": this.$moment(this.lastbericht_todate).format("DD.MM.YYYY HH:mm:ss"),
              "berichttype": this.berichtType,
              'barmwst7': this.barmwst7,
              'barmwst19': this.barmwst19,
              'bartotal7': this.bartotal7,
              'bartotal19': this.bartotal19,
              'creditmwst7': this.creditmwst7,
              'creditmwst19': this.creditmwst19,
              'credittotal7': this.credittotal7,
              'credittotal19': this.credittotal19,
              'discount_mwst7': this.discount_mwst7,
              'discount_mwst19': this.discount_mwst19,
              'kundenanzahl': this.kundenanzahl,
              'mwst': this.mwst,
              'mwst7': this.mwst7,
              'mwst19': this.mwst19,
              'orderdiscountlines': this.orderdiscountlines,
              'netto': this.netto,
              'total7': this.total7,
              'total19': this.total19,
              'anzahlbar': this.anzahlbar,
              'anzahlcredit': this.anzahlcredit,
              'total_with_discount': this.total_with_discount,
              'bar_total_with_discount': this.bar_total_with_discount,
              'credit_total_with_discount': this.credit_total_with_discount,
              'anzahlmwst7': this.anzahlmwst7,
              'anzahlmwst19': this.anzahlmwst19,
              'anzahlstorno': this.anzahlstorno,
              'summestorno': this.summestorno,
              'berichtvon': this.lastbericht_fromdate,
              'berichtzum': this.lastbericht_todate,
            }
          };
          axios.post(`${globalStore.baseUrl}bericht/save_to_server`, postBody);
        }
      },
      setDefaultUser(){
        this.selectedUser = {};
        if(this.posusers.length > 0){
          this.selectedUser = this.posusers[0];
        }
      },
      get_all_kassier(){
        let postBody = {
          "params": {}
        };
        axios.post(`${globalStore.baseUrl}user/get_all_kassier`, postBody)
            .then(response => {
              let ret = JSON.parse(response.data.result);
              ret = JSON.parse(ret.value);
              this.posusers = ret;
              this.setDefaultUser();
            });
      },
      setHeightContainerbericht() {
        let hHeader = document.querySelector('.bericht-header').getBoundingClientRect().height;
        let hFooter = document.querySelector('.print-box').getBoundingClientRect().height;
        document.querySelector('.bill-layout-wrapper').style.height = `calc(100vh - ${hHeader + hFooter}px)`;
      },
      get_user_info_bericht(){
        let tempUserinfo = JSON.parse(localStorage.getItem(globalStore.cookieNameLoginInfo));
        if(tempUserinfo === null){
          return false;
        }
        this.userinfo = JSON.parse(localStorage.getItem(globalStore.cookieNameLoginInfo)).value[0];
        return this.userinfo.cws_group === 'MANAGER';
      },
      goToVerkauflist(){
        this.$router.push({path: 'list-orderedchef'});
      },
      goToVerkauflistExport(){
        this.$router.push({path: 'list-orderedchef-export'});
      },
      goToNegativeProduct(){
        this.$router.push({path: 'list-negativeproduct'});
      },

    },
    async created() {
      this.berichtType = 'tagessession';
      this.getconfig();
      this.getbegindate();
      let checklogin = this.get_user_info_bericht();
      if (!checklogin) {
        this.$router.push({path: '/'});
      }
      // Đổi thuế 7 và 19
      let postBody = {"params": {}};
      let response = await axios.post(`${globalStore.baseUrl}product/beginchangedate`, postBody);
      let val = JSON.parse(response.data.result);
      let datebegin = val.value;

      let respon = await axios.post(`${globalStore.baseUrl}product/endchangedate`, postBody);
      val = JSON.parse(respon.data.result);
      let dateend = val.value;

      if(this.$moment(new Date()) >= this.$moment(datebegin) &&
          this.$moment(new Date()) <= this.$moment(dateend)){
        this.thue7 = '5';
        this.thue19 = '16';
      } else {
        this.thue7 = '7';
        this.thue19 = '19';
      }
    },
    mounted(){
      this.get_all_kassier();
      this.setHeightContainerbericht();
      globalStore.socket.on('ask_socket_login', (val) => {
        let usernameask = val;
        let userinfo = JSON.parse(localStorage.getItem(globalStore.cookieNameLoginInfo)).value[0];
        if(userinfo.username.toString() == usernameask.username.toString() && usernameask.logintime > userinfo.logintime){
          globalStore.socket.emit('alreadylogin', usernameask);
        }
      });
      globalStore.socket.on('alreadylogin', (val) => {
        let userinfo = JSON.parse(localStorage.getItem(globalStore.cookieNameLoginInfo)).value[0];
        if(val.logintime == userinfo.logintime){
          globalStore.userLogout();
          this.$router.push({path: '/'});
          return;
        }
      });
    },
    watch:{
      selectedDate(){
        this.get_session_by_date();
      },
      selectedMonth(){
        this.setDefaultUser();
        if(this.berichtType === 'monatuser'){
          this.get_monat_user_bericht();
        }
        if(this.berichtType === 'monat'){
          this.get_monat_bericht();
        }
      },
      selectedYear(){
        this.setDefaultUser();
        if(this.berichtType === 'jahr'){
          this.get_jahr_bericht();
        }
        if(this.berichtType === 'jahresuser'){
          this.get_jahr_user_bericht();
        }
      },
      lastbericht_fromdate(){
        this.get_tages_bericht();
      },
      selectedUser(){
        if(this.berichtType === 'monatuser'){
          if(typeof this.selectedUser === 'undefined'){
            this.setDefaultUser();
          }
          this.get_monat_user_bericht();
        }
        if(this.berichtType === 'jahresuser'){
          if(typeof this.selectedUser === 'undefined'){
            this.setDefaultUser();
          }
          this.get_jahr_user_bericht();
        }
      },
      berichtType(){
        if(this.berichtType === 'tages'){
          this.get_last_bericht();
        }
        if(this.berichtType === 'tagessession'){
          this.get_session_by_date();
        }
        if(this.berichtType === 'monat'){
          this.get_monat_bericht();
        }
        if(this.berichtType === 'monatuser'){
          if(typeof this.selectedUser === 'undefined'){
            this.setDefaultUser();
          }
          this.get_monat_user_bericht();
        }
        if(this.berichtType === 'jahr'){
          this.get_jahr_bericht();
        }
        if(this.berichtType === 'jahresuser'){
          if(typeof this.selectedUser === 'undefined'){
            this.setDefaultUser();
          }
          this.get_jahr_user_bericht();
        }
        if(this.berichtType === 'opensession'){
          this.get_open_session();
        }
      },
      selectedSession(){
        this.get_session_name_by_id();
        this.get_session_bericht();
      },
      posusers(){
        this.setDefaultUser();
      }
    }
  };

</script>
<style>
  .loading-box-bericht{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    opacity: 0.3;
    background-color: black;
  }
  .sk-circle-bericht {
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -140px;
    position: absolute;
  }
  .sk-circle-bericht .sk-child-bericht {
    width: 100%;
    height: 100%;
    position: absolute;

  }
  .sk-circle-bericht .sk-child-bericht:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: red;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  }
  .sk-circle-bericht .sk-circle2-bericht {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg); }
  .sk-circle-bericht .sk-circle3-bericht {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg); }
  .sk-circle-bericht .sk-circle4-bericht {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .sk-circle-bericht .sk-circle5-bericht {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg); }
  .sk-circle-bericht .sk-circle6-bericht {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg); }
  .sk-circle-bericht .sk-circle7-bericht {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .sk-circle-bericht .sk-circle8-bericht {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg); }
  .sk-circle-bericht .sk-circle9-bericht {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg); }
  .sk-circle-bericht .sk-circle10-bericht {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg); }
  .sk-circle-bericht .sk-circle11-bericht {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg); }
  .sk-circle-bericht .sk-circle12-bericht {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg); }
  .sk-circle-bericht .sk-circle2-bericht:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s; }
  .sk-circle-bericht .sk-circle3-bericht:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s; }
  .sk-circle-bericht .sk-circle4-bericht:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s; }
  .sk-circle-bericht .sk-circle5-bericht:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s; }
  .sk-circle-bericht .sk-circle6-bericht:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s; }
  .sk-circle-bericht .sk-circle7-bericht:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s; }
  .sk-circle-bericht .sk-circle8-bericht:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s; }
  .sk-circle-bericht .sk-circle9-bericht:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s; }
  .sk-circle-bericht .sk-circle10-bericht:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s; }
  .sk-circle-bericht .sk-circle11-bericht:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s; }
  .sk-circle-bericht .sk-circle12-bericht:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s; }

  @-webkit-keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% {
        -webkit-transform: scale(1);
        transform: scale(1);
      }
  }

  @keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% {
        -webkit-transform: scale(1);
        transform: scale(1);
      }
  }
</style>
