<template>
  <div class="body-wrapper">
    <header>
      <div class="container">
        <div class="header-wrapper center-element">
          <div class="logo-box">
            <div class="logo-img" :style="{'background-image': `url(${logo})`}"></div>
            <!-- <img src="@/assets/images/pos-logo.png" alt="logo POS"> -->
          </div>
        </div>
      </div>
    </header>

    <template v-if="notlogin">
      <div class="full-page-content full-page-with-header text-center">
        <h1 class="heading-cs-notLogin not-login">
          Kasse geschlossen
        </h1>
        <div class="pos-slider" style="display: none;">
          <div class="pos-slider-item" v-for="(src, index) in srcImgSlider" :style="{'background-image': `url(${src})`}" :data-slider-item="index"></div>
        </div>
        <!-- <img v-for="(src, index) in srcImgSlider" :src="src" alt="1"> -->
      </div>
    </template>
    <template v-else>
      <main>
        <div class="box-wrapper">
          <div class="container">
            <div class="main-box flex-box">
              <div class="list-ordered-wrapper list-scroll full-width list-cs-screen">
                <div class="product-list-box font-30">
                  <div class="product-list-wrapper">
                    <div class="row-header">
                      <div class="row-pl">
                        <!-- <div class="col-pl">
                        Art. No.
                        </div> -->
                        <div class="col-pl col-product-name">
                          Artikel
                        </div>
                        <div class="col-pl text-center">
                          Menge
                        </div>
                        <!-- <div class="col-pl text-center">
                        Einheit
                        </div> -->
                        <div class="col-pl text-center">
                          Einzelpreis
                        </div>
                        <div class="col-pl text-center color-red">
                          Rabatt
                        </div>
                        <!-- <div class="col-pl text-center">
                        Mwst
                        </div>
                        <div class="col-pl text-center">
                        Zw. Summe
                        </div> -->
                        <div class="col-pl text-center">
                          Summe
                        </div>
                      </div>
                    </div>
                    <div class="row-body">
                      <div class="row-pl" v-for="(orderline, index) in this.orderlines" :key="index">
                        <!-- <div class="col-pl">
                        {{orderline.barcode}}
                        </div> -->
                        <div class="col-pl col-product-name" style="font-size: 32px !important;">
                          {{orderline.print_name | truncate(48, '')}}
                        </div>
                        <div class="col-pl text-center">
                          {{orderline.quantity}}
                        </div>
                        <!-- <div class="col-pl text-center">
                        {{orderline.uom}}
                        </div> -->
                        <div class="col-pl text-center">
                          {{orderline.sale_price}}
                        </div>
                        <div class="col-pl text-center color-red">
                          {{parseFloat(orderline.line_discount_customer).toFixed(0)}} %
                          <!--                                    <span v-if="orderline.line_discount == orderline.discount_value">€</span>-->
                          <!--                                    <span v-if="orderline.line_discount != orderline.discount_value">%</span>-->
                        </div>
                        <!-- <div class="col-pl text-center">
                        {{orderline.total_mwst}} €
                        </div>
                        <div class="col-pl text-center">
                        {{orderline.subtotal}} €
                        </div> -->
                        <div class="col-pl text-center" style="font-size: 32px !important;">
                          {{orderline.total_price}} €
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="footer-list-data full-width">
                <div class="total-box">
                  <!-- <div class="total-box-title">
                      Gesamt
                  </div> -->
                  <div class="total-box-details">
                    <!-- <div class="details-content">
                        <p>Mwst 7%</p>
                        <p>{{order.mwst7}}€</p>
                    </div>
                    <div class="details-content">
                        <p>Mwst 19%</p>
                        <p>{{order.mwst19}}€</p>
                    </div>
                    <div class="details-content">
                        <p>Netto</p>
                        <p>{{order.netto}}€</p>
                    </div>
                    <div class="details-content">
                        <p>Brutto</p>
                        <p>{{order.subtotal}}€</p>
                    </div> -->
                    <div class="details-content type-red-color">
                      <p>Rabatt</p>
                      <p>{{(parseFloat(order.total_discount_in_amount || 0)  + parseFloat(this.order.alldiscount || 0)).toFixed(2)}}€</p>
                    </div>
                    <div class="details-content">
                      <p>Bezahlt (Gegeben)</p>
                      <p>{{parseFloat(order.total_give || 0).toFixed(2)}}€</p>
                    </div>
                    <div class="details-content">
                      <p>Rückgeld</p>
                      <p>{{parseFloat(order.return_back || 0).toFixed(2)}}€</p>
                    </div>
                    <div class="details-content" style="font-size: 40px;">
                      <p>Zu Bezahlen</p>
                      <p>{{parseFloat(order.total_with_discount || 0).toFixed(2)}}€</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="bill-scroll-box">
              <div class="scroll-box-wrapper">
              <div class="btn-scroll btn-scroll-up"></div>
              <div class="btn-scroll btn-scroll-down"></div>
              </div>
          </div> -->
        </div>
      </main>
      <div class="popup-cs">
        <app-popup></app-popup>
      </div>
    </template>
  </div>
</template>

<script>
  import Popup from "./modules/Popup.vue";

  import axios from 'axios'
  import VueCookies from 'vue-cookies';
  import { globalStore } from '../global/global.js';

  export default {
    dependencies: ['commonService'],
    data() {
      return {
        orderlines: [],
        order: {},
        notlogin: false,
        currentUser: {},
        srcImgSlider: [],
        logo: [],
        socketcheck: null,
      };
    },
    components: {
      "app-popup": Popup,
    },
    methods: {
      convert_to_decimal(lines){
        for (let i = 0; i < lines.length; i++) {
          lines[i].subtotal = parseFloat(lines[i].subtotal).toFixed(2);
          lines[i].total_price = parseFloat(lines[i].total_price).toFixed(2);
        }
      },
      closeScreen() {
        location.href = 'http://closekiosk';
      },
      getLogoImg() {
        let req = require.context('../../public/static/logo', false, /.*/);
        let logoTemp = [];
        req.keys().forEach((key) => {
          req(key);
          logoTemp.push(key);
        });
        this.logo = globalStore.setCharAt(logoTemp[0], 0, '/static/logo');
      }
    },
    created() {
    },
    async mounted(){
      globalStore.socket.on('order', (val) => {
        clearTimeout(this.socketcheck);
        let self = this;
        this.socketcheck = setTimeout(async () => {
          let tempOder = typeof val === 'object' ? val : JSON.parse(val);
          if(self.currentUser.username.toString() === tempOder.username.toString()) {
            const postBody = {"params": {"username": self.currentUser.username}};
            axios.post(`${globalStore.baseUrl}socket/getorder`, postBody)
                .then(response => {
                  self.order = JSON.parse(response.data.result);
                  self.orderlines = self.order.lines;
                  self.order.alldiscount = 0;
                  for (let i = 0; i < self.orderlines.length; i++) {
                    let line = self.orderlines[i];
                    if (parseFloat(line.line_discount) !== parseFloat(line.discount_value)) {
                      line.line_discount_customer = line.line_discount;
                    } else {
                      line.line_discount_customer = Math.ceil((line.line_discount / line.subtotal * 100));
                    }
                    self.order.alldiscount += parseFloat(line.discount_value);
                  }
                  self.order.total_with_discount = isNaN(self.order.total_with_discount) ? '' : parseFloat(self.order.total_with_discount).toFixed(2);
                  self.order.total_discount_in_amount = isNaN(self.order.total_discount_in_amount) ? '' : parseFloat(self.order.total_discount_in_amount).toFixed(2);
                  self.order.return_back = self.order.return_back == 'NaN' ? 0 : self.order.return_back;
                });
          }
        }, 10);
      });
      globalStore.socket.on('login', (val) => {
        if (val === 'SALE' || val === 'reload'){
          window.location.reload();
        }
      });
      globalStore.socket.on('closepos', (val) => {
        if(typeof this.currentUser.userid === 'undefined'){
          this.closeScreen();
        }
      });
      globalStore.socket.on('updaterabatt', (socketorder) => {
        socketorder = JSON.parse(socketorder);
        if(this.currentUser.userid === socketorder.userid){
          this.order.total_discount_in_amount = socketorder.total_discount_in_amount;
          this.order.total_with_discount = (parseFloat(this.order.total_with_discount) - parseFloat(socketorder.total_discount_in_amount)).toFixed(2);
        }
      });

      globalStore.socket.on('openPriceInfoCS', (currentProductShowPopupInfo) => {
        let objCurrentProductShowPopupInfo = JSON.parse(currentProductShowPopupInfo);
        if(this.currentUser.userid === objCurrentProductShowPopupInfo.userid) {
          globalStore.showPopup('priceInfo');
          this.$store.dispatch('setDataCurrentProductPopupPriceInfo', objCurrentProductShowPopupInfo);
        }
      });

      globalStore.socket.on('closePriceInfoCS', (typePopup) => {
        let returnval = JSON.parse(typePopup);
        if(this.currentUser.userid === returnval.userid) {
          globalStore.closePopup(typePopup);
        }
      });

      globalStore.socket.on('refreshCS', () => {
        window.location.reload();
      });

      if(VueCookies.get(globalStore.cookieNameLoginInfo) == null){
        this.notlogin = true;

        setTimeout(() => {
          document.querySelector('.heading-cs-notLogin').style.display = 'none';
          document.querySelector('.pos-slider').style.display = 'block';
          document.querySelector('header').style.display = 'none';
          document.querySelector('.full-page-content').classList.remove('full-page-with-header');

          let req = require.context('../../public/static/ads', false, /.*/);
          req.keys().forEach((key) => {
            req(key);
            this.srcImgSlider.push(key);
          });
          let tempArr = [];
          for(let item of this.srcImgSlider) {
            tempArr.push(globalStore.setCharAt(item, 0, '/static/ads'));
          }
          this.srcImgSlider = [];
          this.srcImgSlider = tempArr;
          this.$nextTick(() => {
            globalStore.initSlider('.pos-slider', 10000);
          });
        }, 5000 * 60);

        return;
      }
      this.currentUser = JSON.parse(localStorage.getItem(globalStore.cookieNameLoginInfo)).value[0];

      this.getLogoImg();

    },
    watch: {
    }
  };
</script>
<style>
</style>
