<template>
    <div class="body-wrapper">
        <app-header></app-header>
        <main>
            <div class="box-wrapper">
                <div class="container">
                    <div class="main-box has-scrollbar">
                        <div class="data-content-header-toolbar list-customer-toolbar">
                            <router-link :to="{ path: 'list-customer' }" class="go-to-home">
                                {{ $t('Back') }}
                            </router-link>
                        </div>

                        <div class="data-table">
                            <div class="data-table-wrapper">
                                <div class="form-fields form-add-new-data">
                                  <div class="form-body">
                                    <div class="form-row">
                                      <div class="form-col col-big">
                                        <div class="form-label">
                                          Name:
                                        </div>
                                        <div class="form-input">
                                          Khoa Le Ngoc
                                        </div>
                                      </div>
                                      <div class="form-col right-align">
                                        <div class="form-action-group">
                                          <div class="btn-form-action">
                                            <div class="btn-form-action-icon btn-edit"></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="form-row">
                                      <div class="form-col">
                                        <div class="form-label">
                                          ID:
                                        </div>
                                        <div class="form-input">
                                          019192109
                                        </div>
                                      </div>
                                    </div>
                                    <div class="form-row">
                                      <div class="form-col">
                                        <div class="form-label">
                                          Straße & Nr.:
                                        </div>
                                        <div class="form-input">
                                          1212
                                        </div>
                                      </div>
                                      <div class="form-col">
                                        <div class="form-label">
                                          Telefon:
                                        </div>
                                        <div class="form-input">
                                          2323424
                                        </div>
                                      </div>
                                    </div>
                                    <div class="form-row">
                                      <div class="form-col">
                                        <div class="form-label">
                                          Stadt:
                                        </div>
                                        <div class="form-input">
                                          Lorem ipsum dolor sit amet
                                        </div>
                                      </div>
                                      <div class="form-col">
                                        <div class="form-label">
                                          E-mail:
                                        </div>
                                        <div class="form-input">
                                          abc@gmail.com
                                        </div>
                                      </div>
                                    </div>
                                    <div class="form-row">
                                      <div class="form-col">
                                        <div class="form-label">
                                          Postleitzahl:
                                        </div>
                                        <div class="form-input">
                                          Lorem ipsum dolor sit amet
                                        </div>
                                      </div>
                                      <div class="form-col">
                                        <div class="form-label">
                                          Strichcode:
                                        </div>
                                        <div class="form-input">
                                          09120192
                                        </div>
                                      </div>
                                    </div>
                                    <div class="form-row">
                                      <div class="form-col">
                                        <div class="form-label">
                                          Land:
                                        </div>
                                        <div class="form-input">
                                          12121212
                                        </div>
                                      </div>
                                      <div class="form-col">
                                        <div class="form-label">
                                          USt-IdNr.:
                                        </div>
                                        <div class="form-input">
                                          Lorem ipsum dolor sit amet
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-footer">
                                    <div class="form-row">
                                      <div class="form-col col-center">
                                        <div class="form-button">
                                          Speichern
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</template>

<script>
    import Header from './partials/Header.vue';
    import axios from 'axios';
    import { globalStore } from '../global/global.js';

    export default {
        dependencies: ['commonService'],
        data() {
            return {};
        },
        components: {
            "app-header": Header,
        },
        methods: {},
        created() {},
        mounted(){},
        watch: {}
    };
</script>
