<template>
  <div class="body-wrapper">
    <main>
      <div class="main-box without-header">
        <div class="flex-box bill-details-box">
          <div class="bill-layout-wrapper">
            <!-- phần giao diện cho in hóa đơn -->
            <div class="bill-layout bill-angebot">
              <div class="bill-header">
                <!-- <h1>{{companyinfo.company_name}}</h1>
                <p>{{companyinfo.company_address1}}</p>
                <p v-if="companyinfo.company_address3.length > 0">{{companyinfo.company_address3}}</p>
                <p v-if="companyinfo.company_address2.length > 0">{{companyinfo.company_address2}}</p>
                <p v-if="companyinfo.company_tel.length > 0">{{companyinfo.company_tel}}</p>
                <p v-if="companyinfo.company_fax.length > 0">{{companyinfo.company_fax}}</p>
                <p v-if="companyinfo.company_steuer.length > 0">{{companyinfo.company_steuer}}</p>
                <p>------------------------</p> -->
                <p>Phiếu Kiểm Hàng</p>
                <p>------------------------</p>
              </div>
              <div class="bill-datetime">
                <!-- <p>Von: {{$moment(currentOrder.orderdate).format("DD.MM.YYYY")}} {{currentOrder.ordertime}}</p> -->
                <p v-if="!queryurl">Nr: {{currentOrder.beleg}}</p>
                <div class="bill-header bill-customer-info" v-if="currentOrder.customer_id != 0">
                  <p>------------------------</p>
                  <p>
                    Kundennummer: {{currentOrder.customer_id}}
                  </p>
                  <p v-if="currentOrder.customer_firma !== false">
                    Firma: {{currentOrder.customer_firma}}
                  </p>
                  <p>
                    {{currentOrder.customer_name}}
                  </p>
                  <p>
                    {{currentOrder.customer_address}}
                  </p>
                  <p>
                    {{currentOrder.customer_plz}}, {{currentOrder.customer_city}}
                  </p>
                  <p>------------------------</p>
                </div>
              </div>
              <!-- <div class="bill-user" style="text-align: left; font-size: 15px;">
                {{currentOrder.user_input}}
              </div> -->
              <div class="bill-row bill-row-heading">
                <div class="bill-col bill-col-heading">
                  Artikel
                </div>
                <div class="bill-col bill-col-heading">
                  Betrag €
                </div>
              </div>
              <div class="bill-single-item" v-for="(product,index) in currentOrder.lines" :key="index">
                <div class="bill-row">
                  <div class="bill-col bill-col-product">
                    {{product.print_name}}
                  </div>
                </div>
                <div class="bill-row">
                  <div class="bill-col bill-col-product">
                    {{product.quantity}} <span v-if="product.uom === 'kg'">{{product.uom}}</span> X
                    {{parseFloat(product.sale_price).toFixed(2)}} €
                  </div>
                  <div class="bill-col bill-col-total-amount">
                    {{parseFloat(product.total_price).toFixed(2)}} €<span v-if="product.mwst == 7 || product.mwst == 5"> A</span><span
                      v-if="product.mwst == 19 || product.mwst == 16"> B</span>
                  </div>
                </div>
                <div class="bill-col bill-col-rabatt" v-if="product.discount_value > 0">
                  <i style="font-size: 14px;">Mit {{parseFloat(product.discount_value).toFixed(2)}}€ Rabatt</i>
                </div>
              </div>
              <div class="bill-zwis">
                <div class="bill-row">
                  <div class="bill-col bill-col-sperate">---------------</div>
                </div>
                <div class="bill-row">
                  <div class="bill-col bill-col-product">
                    Zwischensumme:
                  </div>
                  <div class="bill-col bill-col-total-amount">
                    {{parseFloat(currentOrder.total_without_discount - currentOrder.orderdiscountlines).toFixed(2)}} €
                  </div>
                </div>
                <div class="bill-row">
                  <div class="bill-col bill-col-sperate">---------------</div>
                </div>
                <div class="bill-row">
                  <div class="bill-col bill-col-product">
                    Produktrabatt:
                  </div>
                  <div class="bill-col bill-col-total-amount">
                    {{parseFloat(currentOrder.orderdiscountlines).toFixed(2)}} €
                  </div>
                </div>
                <div class="bill-row">
                  <div class="bill-col bill-col-sperate">---------------</div>
                </div>
                <div class="bill-row">
                  <div class="bill-col bill-col-brutto">
                    <strong>
                      Summe(Brutto):
                    </strong>
                  </div>
                  <div class="bill-col bill-col-brutto">
                    <strong>
                      {{parseFloat(currentOrder.total_with_discount).toFixed(2)}} €
                    </strong>
                  </div>
                </div>
                <div class="bill-row">
                  <div class="bill-col bill-col-product">
                    Mwst {{thue7}}% (A)
                  </div>
                  <div class="bill-col bill-col-total-amount">
                    {{(parseFloat(currentOrder.mwst7) - parseFloat(currentOrder.total_discount_mwst7)).toFixed(2)}} €
                  </div>
                </div>
                <div class="bill-row">
                  <div class="bill-col bill-col-product">
                    Mwst {{thue19}}% (B)
                  </div>
                  <div class="bill-col bill-col-total-amount">
                    {{(parseFloat(currentOrder.mwst19) - parseFloat(currentOrder.total_discount_mwst19)).toFixed(2)}} €
                  </div>
                </div>
                <div class="bill-row">
                  <div class="bill-col bill-col-product">
                    Summe(Netto):
                  </div>
                  <div class="bill-col bill-col-total-amount">
                    {{ (parseFloat(currentOrder.netto) + parseFloat(currentOrder.total_discount_mwst7) +
                    parseFloat(currentOrder.total_discount_mwst19)).toFixed(2) }} €
                  </div>
                </div>
                <div class="bill-row">
                  <div class="bill-col bill-col-sperate">=============</div>
                </div>
              </div>

              <div class="bill-row-footer">
                <div class="bill-row bill-row-footer-star">
                    <span>
                        *
                    </span>
                  <span>
                        *
                    </span>
                  <span>
                        *
                    </span>
                  <span>
                        *
                    </span>
                  <span>
                        *
                    </span>
                </div>
                <!-- <div>
                  <h3 class="spacing-bottom-print">
                    Dieses Angebot ist 7 tage gültig
                  </h3>
                </div>
                <div>
                  <h3 class="spacing-bottom-print">
                    Dies ist keine verbindliche Rechnung
                  </h3>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="print-box">
          <div class="btn-print-box do-print" @click="reprintBill()">
            <span class="icon-box"></span>
            <span class="text-box">
                    {{ $t('Print') }}
                </span>
          </div>
          <div class="btn-print-box do-print" @click="exportPdf()">
            <span class="icon-box"></span>
            <span class="text-box">
                    {{ $t('Export PDF') }}
                </span>
          </div>
          <div class="btn-print-box close-box center-element" @click="goBack()">
            <span class="icon-box"></span>
            <span class="text-box">
                    {{ $t('Back') }}
                </span>
          </div>
        </div>
      </div>
      <div style="border: 1px solid black; padding:100px;" class="hide-on-print">
        <a id='dwnldLnk' download='invoice.pdf' style="display:none;"/>
      </div>
    </main>
  </div>
</template>

<script>
  import {globalStore} from '../global/global.js';
  import Header from "./partials/Header.vue";
  import axios from 'axios';

  export default {
    dependencies: ['commonService'],
    data() {
      return {
        companyinfo: {
          'company_name': '',
          'company_address1': '',
          'company_address2': '',
          'company_address3': '',
          'company_tel': '',
          'company_fax': '',
          'company_steuer': '',
          'email': '',
          'company_owner': '',
          'handelsregister': '',
          'amtsgericht': '',
          'bank_name': '',
          'iban': '',
          'bic': '',
        },
        currentOrder: {orderdate: new Date()},
        queryurl: '',
        queryreturnall: '',
        queryreturnpart: '',
        enable_reprint: true, //Dùng để chuyển packlist thành Reprint
        umsatz: {},
        currenttime: new Date(),
        // Các biến số liệu
        session_id: '',
        session_name: '',
        session_begin: '',
        session_begin_amount: '',
        barmwst7: '',
        barmwst19: '',
        bartotal7: '',
        bartotal19: '',
        creditmwst7: '',
        creditmwst19: '',
        credittotal7: '',
        creditnetto7: '',
        creditnetto19: '',
        barnetto7: '',
        barnetto19: '',
        credittotal19: '',
        discount_mwst7: '',
        discount_mwst19: '',
        kundenanzahl: '',
        mwst: '',
        mwst7: '',
        mwst19: '',
        orderdiscountlines: '',
        netto: '',
        total7: '',
        total19: '',
        total_with_discount: '',
        bar_total_with_discount: '',
        credit_total_with_discount: '',
        bar_total_discount_in_amount: '',
        credit_total_discount_in_amount: '',
        // DƯới đây tính bằng orderline
        anzahlmwst7: '',
        anzahlmwst19: '',
        anzahlstorno: '',
        summestorno: '',

        pdftable: [],
        thue7: '7',
        thue19: '19',
      };
    },
    components: {
      "app-header": Header,
    },
    methods: {
      async getconfig() {
        let response = await axios.post(`${globalStore.baseUrl}setting/get_setting`, {})
        let ret = JSON.parse(response.data.result);
        let retval = JSON.parse(ret.value.replace(/\bNaN\b/g, 'null'));
        this.companyinfo = retval[0];
      },
      reprintBill() {
        setTimeout(function () {
          window.print();
        }, 100);
      },
      async exportPdf() {
        let response = await axios.post(`${globalStore.baseUrl}bericht/exportpdf`, {})
        let pdf = 'data:application/octet-stream;base64,' + response.data.result;
        var dlnk = document.getElementById('dwnldLnk');
        dlnk.href = pdf;
        dlnk.click();
      },
      async init_current_order() {
        this.currentOrder = this.$store.state.listOrdered.reprintData;
        if (typeof this.currentOrder.lines === 'undefined') {
          return;
        }
        this.currentOrder.lines.reverse();
        let return_beleg = '0000' + this.currentOrder.beleg.toString();
        this.currentOrder.beleg = this.currentOrder.orderdate.toString().replace(/-/g, "") + return_beleg.substr(return_beleg.length - 5);

        const postBody = {
          "params": {
            "ref": this.currentOrder.return_ref
          }
        };
        let response = await axios.post(`${globalStore.baseUrl}orders/get_by_ref`, postBody);
        let ret = JSON.parse(response.data.result);
        let retval = JSON.parse(ret.value.replace(/\bNaN\b/g, 'null'));
        if (retval.length > 0) {
          this.currentOrder.retoure_beleg = '00000000' + retval[0].beleg.toString();
          this.currentOrder.retoure_beleg = this.currentOrder.retoure_beleg.substr(this.currentOrder.retoure_beleg.length - 8);
        }
      },
      goBack() {
        this.$router.push({path: 'list-offeredchef'});
      },
      scrollDataBox(scrollDirection) {
        globalStore.handleScrollContent('.bill-layout-wrapper', scrollDirection, 120);
      }
    },
    async created() {
      this.$store.commit('initCurrentPoint');
      // Đổi thuế 7 và 19
      const postBody = {"params": {}};
      let response = await axios.post(`${globalStore.baseUrl}product/beginchangedate`, postBody);
      let val = JSON.parse(response.data.result);
      let datebegin = val.value;

      let respon = await axios.post(`${globalStore.baseUrl}product/endchangedate`, postBody);
      val = JSON.parse(respon.data.result);
      let dateend = val.value;

      if (this.$moment(new Date()) >= this.$moment(datebegin) &&
        this.$moment(new Date()) <= this.$moment(dateend)) {
        this.thue7 = '5';
        this.thue19 = '16';
      }
    },
    async mounted() {
      await this.getconfig();
      await this.init_current_order();
    }
  };

</script>
