<template>
  <div class="body-wrapper full-height">
    <app-header></app-header>
    <main>
      <div class="container">
        <div class="main-box flex-box">
          <app-category-bar></app-category-bar>
          <app-order-bar></app-order-bar>
        </div>
      </div>
    </main>
    <app-popup></app-popup>
  </div>
</template>

<script>
import Header from "./partials/Header.vue";
import CategoryBar from "./partials/CategoryBar.vue";
import OrderBar from "./partials/OrderBar.vue";
import Popup from "./modules/Popup.vue";
import store from "@/store/index";
import axios from "axios";
import lzutf8 from "lzutf8";
import { globalStore } from "../global/global.js";

export default {
  dependencies: ["commonService"],
  data() {
    return {
      queryreturnall: "",
      queryreturnpart: "",
      queryreload: "",
      queryreloadoffer: "",
      orderData: {},
      listProductByOrderId: [],
      allProducts: {},
      allCategory: {},
      barcodeSearch: "",
    };
  },
  components: {
    "app-header": Header,
    "app-category-bar": CategoryBar,
    "app-order-bar": OrderBar,
    "app-popup": Popup,
  },
  methods: {
    listener(e) {
      const textInput = e.key;
      const targetName = e.target.tagName;
      if (textInput.length === 1 && targetName !== "input") {
        this.barcodeSearch = this.barcodeSearch + textInput;
      }
      if (this.barcodeSearch.substring(0, 3) === "999") {
        return;
      }
      if (
        this.barcodeSearch.length >= 6 &&
        textInput.toString().toLowerCase() == "enter"
      ) {
        store.dispatch("setProductByBarcode", this.barcodeSearch);
        this.barcodeSearch = "";
      }
      clearTimeout(removeBarcode);
      let removeBarcode = setTimeout(() => {
        this.barcodeSearch = "";
      }, 500);
    },
    getData() {
      // this.allProducts = JSON.parse(JSON.parse(JSON.parse(localStorage.getItem(globalStore.storageNameAllProduct))).value);
      if (this.$store.state.product.allProduct.length === 0) {
        this.allProducts = JSON.parse(
          localStorage.getItem(globalStore.storageNameAllProduct)
        );
        this.allCategory = JSON.parse(
          JSON.parse(
            JSON.parse(localStorage.getItem(globalStore.storageNameAllCategory))
          ).value
        );
        this.$store.commit("setDataCategory", this.allCategory);
        // this.$store.commit('setDataProduct', this.allProducts);
        // this.$store.commit('setDataProductLazyLoad', this.allProducts);
        lzutf8.decompressAsync(
          this.allProducts,
          { inputEncoding: "StorageBinaryString", outputEncoding: "String" },
          (resultProducts, errorProducts) => {
            if (errorProducts === undefined) {
              // console.log('after decompress:', JSON.parse(resultProducts).value);
              this.allProducts = JSON.parse(resultProducts).value;
              this.$store.commit("setDataProduct", this.allProducts);
              this.$store.commit("setDataProductLazyLoad", this.allProducts);
              this.$store.commit("setDataScrollProductBox");

              setTimeout(() => {
                let list = document.querySelector(".category-child-items");
                let items = list.querySelectorAll(".single-product-item");
                globalStore.handleAlternateColorButton(list, items, 6);
                this.$store.commit("helper/setHomeReady", true);
                let loadingBox = document.querySelector(".loading-box");
                loadingBox.classList.remove("loading-state");
              }, 800);
            } else {
              console.log("Decompression error: " + errorProducts.message);
            }
          }
        );
      } else {
        setTimeout(() => {
          let list = document.querySelector(".category-child-items");
          let items = list.querySelectorAll(".single-product-item");
          globalStore.handleAlternateColorButton(list, items, 6);
        }, 800);
        this.$store.commit("helper/setHomeReady", true);
      }
      let loadingBox = document.querySelector(".loading-box");
      loadingBox.classList.remove("loading-state");
    },
    get_user_info_home() {
      this.userinfo = JSON.parse(
        localStorage.getItem(globalStore.cookieNameLoginInfo)
      ).value[0];
    },
    get_current_session() {
      const postBody = {
        params: {
          userid: this.userinfo.userid,
        },
      };
      axios
        .post(`${globalStore.baseUrl}session/get_by_user`, postBody)
        .then((response) => {
          var ret = JSON.parse(response.data.result);
          var session = JSON.parse(ret.value);
          if (session.length === 0) {
            this.$store.state.popup.confirmType = "session";
            globalStore.showPopup("confirmPopup");
          }
          if (session.length === 1) {
            this.$store.state.product.currentSesssion = session[0].id;
            this.$store.state.product.currentSesssionName = session[0].name;
          }
        });
    },
    async sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    },
    async getReloadOfferData(ref) {
      let loadingBox = document.querySelector(".loading-box");
      loadingBox.classList.add("loading-state");
      let current_ref = this.$store.state.product.currentOrder.ref;
      await this.$store.dispatch("selectOrder", current_ref);
      if (typeof this.$store.state.product.currentOrder.lines === "undefined") {
        this.$store.state.product.currentOrder.lines = [];
      }
      const postBody = {
        params: {
          ref: ref,
        },
      };
      let url_line = `${globalStore.baseUrl}offerlines/getlist_by_ref`.replace("8069/ws", "1234");
      // try {
        let responseline = await axios.get(url_line, postBody);
        let retvalline = responseline.data;
        let itemtoreturn = {};
        for (let i = 0; i < retvalline.length; i++) {
          let prod = retvalline[i];
          for (let j = 0; j < this.$store.state.product.allProduct.length; j++) {
            if (this.$store.state.product.allProduct[j].id === prod.product_id) {
              itemtoreturn = this.$store.state.product.allProduct[j];
            }
          }
          // add product kg vì nó thêm dòng mới
          await this.$store.dispatch("doAddProductToOrderListKg", itemtoreturn);
          this.$store.state.product.buffer = "";
          this.$store.dispatch("setMengeValue", prod.quantity || 0);
          this.$store.dispatch("setPreisValue", prod.sale_price || 0);
          let discountval = {
            line_discount: prod.line_discount || 0,
            discount_value: prod.discount_value || 0,
            linediscountpercentage: prod.linediscountpercentage || false,
          };
          this.$store.dispatch("setRabattValue", discountval);
          if (prod.uom === "Karton" || prod.uom === "Packung") {
            this.$store.dispatch("setUomCurrentLine", prod.uom);
          }
        }
        await this.$store.commit("calTotalValue");
        this.$store.state.product.currentOrder.total_give = this.$store.state.product.currentOrder.total_with_discount;
        await this.sleep(1500);
        while (this.$store.state.product.currentOrder.lines.length === 0){
          await this.sleep(1500);
        }
        const postBodyRemove = { ref: ref };
        await axios.post(`${globalStore.baseUrl}offer/remove_by_ref`.replace("8069/ws", "1234"), postBodyRemove);
        await axios.post(`${globalStore.baseUrl}offerlines/remove_by_ref`.replace("8069/ws", "1234"), postBodyRemove);
        this.$router.push({ path: "/print"});
        loadingBox.classList.remove("loading-state");
      // } catch {
      //   this.$router.push({path: 'home?origin=back'});
      // }

    },
    //  setFrozenScreen() {
    //    let loadingBox = document.querySelector('.loading-box');
    //    loadingBox.classList.add('loading-state');

    //    setTimeout(() => {
    //      loadingBox.classList.remove('loading-state');
    //    }, 500);
    //  }
  },
  async created() {
    // this.commonService.handleLoginState(globalStore.cookieNameLoginInfo);
    this.$store.commit("helper/setHomeReady", false);
    let loadingBox = document.querySelector(".loading-box");
    loadingBox.classList.add("loading-state");
    await this.getData();
    this.queryreturnall = this.$route.query.returnall;
    this.queryreturnpart = this.$route.query.returnpart;
    this.queryreload = this.$route.query.reload;
    this.queryreloadoffer = this.$route.query.reloadoffer;

    // this.setFrozenScreen();
  },
  async mounted() {
    await this.get_user_info_home();
    if (this.userinfo.cws_group === "MANAGER") {
      this.$router.push({ path: "/bericht" });
      return;
    }
    this.get_current_session();
    if (typeof this.queryreturnall !== "undefined") {
      this.$store.state.product.orderToRetoure = this.queryreturnall;
      globalStore.showPopup("confirmRetoureAllPopup");
    }
    if (typeof this.queryreturnpart !== "undefined") {
      this.$store.state.product.orderToRetoure = this.queryreturnpart;
      globalStore.showPopup("confirmRetourePartPopup");
    }
    if (typeof this.queryreloadoffer !== "undefined") {
      let self = this;
      setTimeout(() => {
        self.getReloadOfferData(self.queryreloadoffer);
      }, 1000);
    }
    globalStore.detectDevice();
    window.addEventListener("keypress", this.listener, false);
  },
  destroyed() {
    window.removeEventListener("keypress", this.listener, false);
  },
};
</script>
