<template>
    <div class="body-wrapper">
        <app-header></app-header>
        <main>
            <div class="box-wrapper">
                <div class="container">
                    <div class="main-box flex-box">
                        <div class="list-ordered-wrapper">
                            <div class="data-content-header-toolbar list-customer-toolbar">
                                <div class="search-box-toolbar">
                                    <div class="search-nav">
                                        <input class="input-default input-search-default" type="text" v-model="searchTxt" :placeholder="$t('Search')" @focus="showKeyboard" @blur="changeSearchValue">
                                        <div class="reset-search black-type" @click="resetSearch()"></div>
                                    </div>
                                </div>

                                <div class="add-more-customer" @click="addNewCustomer()"></div>

                                <router-link :to="{ path: 'home?origin=back' }" class="go-to-home">
                                    {{ $t('Cancel') }}
                                </router-link>
                            </div>

                            <div class="product-list-box has-scroll-inside" ref="customerListBox">
                                <div class="data-table" style="width: 100%;">
                                    <div class="data-table-wrapper">
                                        <div class="row-header">
                                            <div class="row-pl">
                                                <div class="col-pl" style="max-width: 90px;">
                                                    Kunden Nr
                                                </div>
                                                <div class="col-pl ">
                                                    {{ $t('Name') }}
                                                </div>
                                                <div class="col-pl ">
                                                    Adresse
                                                </div>
                                                <div class="col-pl">
                                                    {{ $t('Postleitzahl') }}
                                                </div>
                                                <div class="col-pl">
                                                    {{ $t('Firma') }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-body" ref="rowBody">
                                            <div class="row-pl" v-for="(customer, index) in tempAllCustomer" @click="selectCustomer(customer, index)" :key="index" ref="rowPL">
                                                <!-- <router-link :to="`/order-details/${order.ref}`" class="link-row"></router-link> -->
                                                <div class="col-pl" style="max-width: 90px;">
                                                    {{ customer.id }}
                                                </div>
                                                <div class="col-pl">
                                                    {{ customer.name }}
                                                </div>
                                                <div class="col-pl">
                                                    {{ customer.address }}
                                                </div>
                                                <div class="col-pl">
                                                    {{ customer.plz }}
                                                </div>
                                                <div class="col-pl">
                                                    {{ customer.firma }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="arrow-direction-box">
                                    <div class="arrow-direction-box-wrapper">
                                        <div class="single-arrow single-arrow-up" @click="handleScrollListing('up')"></div>
                                        <div class="single-arrow single-arrow-down" @click="handleScrollListing('down')"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <vue-touch-keyboard class="keyboard-return-product no-margin" v-if="visible" :layout="layout" :cancel="hideKeyboard" :accept="acceptKeyboard" :input="input"/>
    </div>
</template>

<script>
import Header from './partials/Header.vue';
import axios from 'axios';
import { globalStore } from '../global/global.js';

export default {
    dependencies: ['commonService'],
    data() {
        return {
            tempAllCustomer: [],
            searchTxt: '',

            // biến sử dụng cho bàn phím ảo
            visible: false,
            layout: 'compact',
            input: null,
            options: {
                useKbEvents: false,
                preventClickEvent: false
            }
        };
    },
    components: {
        "app-header": Header,
    },
    methods: {
        addNewCustomer(){
            this.$store.state.customer.customerSelected = {};
            this.$router.push({path: 'new-customer'});
        },
        selectCustomer(customer){
            this.$store.state.customer.customerSelected = customer;
            this.$router.push({path: 'new-customer'});
        },
        resetSearch(){
            this.searchTxt = '';
        },
        searchCustomerList(txt){
            if(txt.length > 0) {
                this.tempAllCustomer = [...this.$store.state.customer.allCustomer].filter(customer => {
                    let customerName = customer.name.toString().toLowerCase();
                    let customerCode = customer.barcode.toString().toLowerCase();
                    let customerId = customer.id.toString().toLowerCase();
                    let customerFirma = customer.firma.toString().toLowerCase();
                    // let customerPhone = customer.phone.toString().toLowerCase();
                    let customerPlz = customer.plz.toString().toLowerCase();
                    if(customerName.includes(this.searchTxt)){
                        return true;
                    }
                    if(customerCode.includes(this.searchTxt)){
                        return true;
                    }
                    if(customerId.includes(this.searchTxt)){
                        return true;
                    }
                    if(customerFirma.includes(this.searchTxt)){
                        return true;
                    }
                    // if(customerPhone.includes(this.searchTxt)){
                    //     return true;
                    // }
                    if(customerPlz.includes(this.searchTxt)){
                        return true;
                    }
                });

                this.handleHeightRowBody(this.tempAllCustomer.length - 1);
            }else{
                this.tempAllCustomer = [...this.$store.state.customer.allCustomer];

                this.handleHeightRowBody(this.tempAllCustomer.length - 1);
            }
        },
        setAllCustomer(){
            const postBody = {
                "params": {}
            };
            axios.post(`${globalStore.baseUrl}customer/getlist`, postBody)
                .then(response => {
                    var ret = JSON.parse(response.data.result);
                    var arrCust = JSON.parse(ret.value);
                    this.commonService.storeToLocalStorage(globalStore.storageNameAllCustomer, arrCust);
                    var allCustomer = JSON.parse(localStorage.getItem(globalStore.storageNameAllCustomer));
                    this.$store.commit('setDataCustomer', allCustomer);
                    this.tempAllCustomer = [...this.$store.state.customer.allCustomer];
                    this.handleHeightRowBody(this.tempAllCustomer.length - 1);
                });
        },
        handleHeightRowBody(lastItem) {
            let customerListBox;

            customerListBox = this.$refs.customerListBox;
            if(lastItem > (-1)) {
                let rowBody;
                let offsetTopRowBody;
                let windowHeight;
                let setHeightRowBody;
                
                rowBody = this.$refs.rowBody;
                if(globalStore.checkValid(rowBody)) {
                    offsetTopRowBody = rowBody.getBoundingClientRect().top;
                    windowHeight = window.innerHeight;
                    setHeightRowBody = windowHeight - offsetTopRowBody - 1;

                    rowBody.style.height = `${setHeightRowBody}px`;
                }
                setTimeout(() => {
                    if(globalStore.checkValid(customerListBox) && globalStore.checkValid(this.$refs.rowPL[lastItem])) {
                        if(globalStore.isInViewport(this.$refs.rowPL[lastItem], 75) == false) {
                            customerListBox.classList.add('is-visible-scrollbar');
                        } else {
                            customerListBox.classList.remove('is-visible-scrollbar');
                        }
                    }
                }, 50);
            } else {
                setTimeout(() => {
                    if(globalStore.checkValid(customerListBox)) {
                        customerListBox.classList.remove('is-visible-scrollbar');
                    }
                }, 50);
            }
        },
        handleScrollListing(direction) {
            let rowBody;
            let nextScroll = 232;

            rowBody = this.$refs.rowBody;
            this.currentItemScrollTo = rowBody.scrollTop;

            switch (direction) {
                case 'down':
                    this.currentItemScrollTo += nextScroll;
                    rowBody.scrollTop = this.currentItemScrollTo;
                    if(rowBody.scrollTop < this.currentItemScrollTo) {
                        this.currentItemScrollTo = rowBody.scrollTop;
                    }
                    break;
                case 'up':
                    this.currentItemScrollTo -= nextScroll;
                    rowBody.scrollTop = this.currentItemScrollTo;
                    break;
                default:
                    break;
            }
        },

        // method sử dụng cho bàn phím ảo
        acceptKeyboard(text) {
            this.hideKeyboard();
        },
        showKeyboard(e) {
            this.input = e.target;
            // this.layout = e.target.dataset.layout;

            if (!this.visible) {
                this.visible = true
            }
        },
        hideKeyboard() {
            this.visible = false;
        },
        changeSearchValue(e) {
            setTimeout(() => {
                this.searchTxt = e.target.value;
                this.searchCustomerList(this.searchTxt);
            }, 50);
        },
        resetSearch() {
            this.searchTxt = '';
            this.searchCustomerList(this.searchTxt);
        }
    },
    created() {},
    mounted(){
        this.setAllCustomer();
    },
    watch: {
        searchTxt() {
            this.searchCustomerList(this.searchTxt);
        }
    }
};
</script>
