<template>
  <div class="body-wrapper">
    <main>
      <div class="loading-box-bericht" v-if="loadingState">
        <div class="sk-circle-bericht">
          <div class="sk-circle1-bericht sk-child-bericht"></div>
          <div class="sk-circle2-bericht sk-child-bericht"></div>
          <div class="sk-circle3-bericht sk-child-bericht"></div>
          <div class="sk-circle4-bericht sk-child-bericht"></div>
          <div class="sk-circle5-bericht sk-child-bericht"></div>
          <div class="sk-circle6-bericht sk-child-bericht"></div>
          <div class="sk-circle7-bericht sk-child-bericht"></div>
          <div class="sk-circle8-bericht sk-child-bericht"></div>
          <div class="sk-circle9-bericht sk-child-bericht"></div>
          <div class="sk-circle10-bericht sk-child-bericht"></div>
          <div class="sk-circle11-bericht sk-child-bericht"></div>
          <div class="sk-circle12-bericht sk-child-bericht"></div>
        </div>
      </div>
      <div class="box-wrapper">
        <div class="container">
          <div class="main-box flex-box">
            <div class="list-ordered-wrapper">
              <div class="list-order-toolbar smaller-calendar">
                <div class="search-box-toolbar">
                  <div class="search-nav">
                    <input class="input-default input-search-default" type="text"
                           :placeholder="$t('Search')" v-model="searchTxt" @focus="showKeyboard"
                           @blur="changeSearchValue">
                    <div class="reset-search black-type" @click="resetSearch()"></div>
                  </div>
                </div>
                <datepicker v-model="from_date" :format="formatDate" placeholder="Von" class="datepicker-common"></datepicker>
                <span style="font-size:40px;font-weight:bold;">--></span>
                <datepicker v-model="to_date" :format="formatDate" placeholder="Zum" class="datepicker-common"></datepicker>
                <!-- <router-link :to="{ path: 'bericht' }" class="go-to-home">
                  {{ $t('Cancel') }}
                </router-link> -->
                <div style="margin-top: 10px;font-weight: bold;font-size: 1.2em;">
                  Umsatz: <span style="color: red;">{{umsatz}} €</span>
                </div>
                <div class="btn-with-loading" ref="btnLoading">
                  <a class="go-to-home btn-routing" @click="exitListOrderd()">
                    {{ $t('Cancel') }}
                    <div class="btn-loading-box">
                      <div class="lds-ring">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="print-box" style="justify-content: center;">
                <div class="btn-print-box do-next" @click="exportExcel()" >
                  <span class="icon-box"></span>
                  <span class="text-box">Excel</span>
                </div>
              </div>
              <div class="product-list-box has-scroll-inside" ref="productListBox">
                <div class="product-list-wrapper">
                  <div class="row-header">
                    <div class="row-pl">
                      <!-- <div class="col-pl small-type">
                        No.
                      </div> -->
                      <div class="col-pl small-type">
                        Benutzer
                      </div>
                      <div class="col-pl">
                        Auftragsdatum
                      </div>
                      <div class="col-pl">
                        Beleg
                      </div>
                      <div class="col-pl">
                        Gesamt
                      </div>
                      <div class="col-pl">
                        Status
                      </div>
                      <div class="col-pl">
                        Zahlungsmethode
                      </div>
                    </div>
                  </div>
                  <div class="row-body" ref="rowBody">
                    <template>
                      <div class="row-pl" v-for="(order, index) in this.tempOrders" :key="index"
                           @click="selectOrder(order)" ref="rowPL">
                        <!-- <div class="col-pl small-type">
                          {{index+1}}
                        </div> -->
                        <div class="col-pl small-type">
                          {{order.user_input}}
                        </div>
                        <div class="col-pl">
                          {{order.orderdate | moment("DD.MM.YYYY")}} {{order.ordertime}}
                        </div>
                        <div class="col-pl">
                          {{order.beleg}}
                        </div>
                        <div class="col-pl">
                          {{order.total_with_discount}} €
                        </div>
                        <div class="col-pl">
                          {{order.return_state || 'Verkauf'}}
                        </div>
                        <div class="col-pl">
                          <span v-if="order.is_cash">Bar</span>
                          <span v-if="!order.is_cash">Kartenzahlung</span>
                        </div>
                      </div>
                    </template>
                  </div>
                </div>
                <div class="arrow-direction-box">
                  <div class="arrow-direction-box-wrapper">
                    <div class="single-arrow single-arrow-up"
                         @click="handleScrollListing('up')"></div>
                    <div class="single-arrow single-arrow-down"
                         @click="handleScrollListing('down')"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </main>
    <app-popup></app-popup>
    <vue-touch-keyboard class="keyboard-search-list-order" v-if="visible" :layout="layout" :cancel="hideKeyboard"
                        :accept="acceptKeyboard" :input="input"/>
  </div>
</template>

<script>
  import Datepicker from 'vuejs-datepicker';
  import Header from "./partials/Header.vue";
  import axios from 'axios';
  import Popup from "./modules/Popup.vue";
  import {
    globalStore
  } from '../global/global.js';
  import XLSX from "xlsx";

  export default {
    dependencies: ['commonService'],
    data() {
      return {
        from_date: new Date(),
        to_date: new Date(),
        formatDate: 'dd-MM-yyyy',
        queryurl: '',
        searchTxt: '',
        orderlist: [],
        tempOrders: [],
        umsatz: 0,
        currentItemScrollTo: 0,
        loadingState: false,

        // biến sử dụng cho bàn phím ảo
        visible: false,
        layout: 'numeric',
        input: null,
        options: {
          useKbEvents: false,
          preventClickEvent: false
        }
      };
    },
    components: {
      Datepicker,
      "app-header": Header,
      "app-popup": Popup,
    },
    methods: {
      async get_order_from_server() {
        //check khoảng thời gian không quá 14 ngày
        let datediff = this.$moment.utc(this.$moment(this.to_date).diff(this.$moment(this.from_date))).format("DD");
        if(parseInt(datediff) > 15){
          this.$store.state.popup.warningContent = this.$i18n.t('Allow only 14 days');
          globalStore.showPopup('showWarning');
          this.tempOrders = [];
          return;
        }
        const postBody = {
          "params": {
            "from_date": this.$moment(this.from_date).format("YYYY-MM-DD"),
            "to_date": this.$moment(this.to_date).format("YYYY-MM-DD"),
          }
        };
        this.loadingState = true;
        let url = `${globalStore.baseUrl}offer/getlistbydate`.replace("8069/ws", "1234");
        let response = await axios.get(url, postBody);
        this.orderlist = response.data;
        this.tempOrders = this.orderlist;
        this.umsatz = 0;
        for (let i = 0; i < this.tempOrders.length; i++) {
          this.tempOrders[i].total_with_discount = parseFloat(this.tempOrders[i].total_with_discount).toFixed(2);
          this.umsatz += parseFloat(this.tempOrders[i].total_with_discount);
        }
        this.umsatz = parseFloat(this.umsatz).toFixed(2);
        this.handleHeightRowBody(this.tempOrders.length - 1);
        this.currentItemScrollTo = 0;
        this.loadingState = false;
      },
      async exportExcel(){
        let postBody = {
          "params": {
            "from_date": this.$moment(this.from_date).format("YYYY-MM-DD"),
            "to_date": this.$moment(this.to_date).format("YYYY-MM-DD")
          }
        };
        this.loadingState = true;
        let url = `${globalStore.baseUrl}offer/detailtagesdaterange`.replace("8069/ws", "1234");
        let response = await axios.get(url, postBody);
        let details = response.data;
        let detailexport = [['Datum', 'Beleg','Vom Kasse', 'Auftrag Rabatt', 'Barcode', 'Artikel Beschreibung', 'Drucken Beschreibung', 'Artikel Nummer', 'Artikel Menge','Artikel Einheit','Artikel MwSt','Artikel Einzelpreis','Artikel Gesamtpreis','Kategorie','Summestorno']];
        let ws3arr = [['Artikel Nummer', 'Artikel Menge', 'Artikel Einheit', 'Artikel Bezeichnung', 'Voll Beschreibung', 'Artikel Einzelpreis', 'Artikel MwSt', 'Artikel Gesamtpreis', 'Netto']];
        for (let i = 0; i < details.length; i++) {
          if(i > 0){
            if(details[i]['beleg'] !== details[i-1]['beleg']){
              if(details[i-1]['total_discount_in_amount'] > 0){
                detailexport.push(['', '', '', '', '', '', '', '', '', '', '', 'Gesamt Rabatt', parseFloat('-'+details[i-1]['total_discount_in_amount']), '']);
              }
            }
          }
          detailexport.push([details[i]['orderdate'], details[i]['beleg'], details[i]['user_input'], details[i]['discount_value'], details[i]['barcode'], details[i]['product_name'], details[i]['print_name'], details[i]['artikel_nummer'], details[i]['quantity'], details[i]['uom'], details[i]['mwst'], details[i]['sale_price'], details[i]['total_price'], details[i]['category_name'], details[i]['summestorno']])
          ws3arr.push([details[i]['artikel_nummer'], details[i]['quantity'], details[i]['uom'], details[i]['product_name'], details[i]['full_name'], details[i]['sale_price'], details[i]['mwst'], details[i]['total_price'], details[i]['total_price_without_tax']]);
        }
        const ws = XLSX.utils.aoa_to_sheet(detailexport);
        const ws3 = XLSX.utils.aoa_to_sheet(ws3arr);

        url = `${globalStore.baseUrl}offer/exporttagesdaterange`.replace("8069/ws", "1234");
        response = await axios.get(url, postBody);
        let orders = response.data;
        let orderexport = [['Datum', 'Beleg','Vom Kasse','Gesamt Rabatt', 'Netto', 'Brutto','Mwst 7%','Mwst 19%','Total 7%','Total 19%','ZahlungsMethode','Summe Storno']];
        for (let i = 0; i < orders.length; i++) {
          orders[i]['zahlungsmethode'] = orders[i]['is_cash'] ? 'Barzahlung' : 'Kartenzahlung';
          orderexport.push([orders[i]['orderdate'], orders[i]['beleg'], orders[i]['user_input'], orders[i]['total_discount_in_amount'], orders[i]['netto'], orders[i]['total_with_discount'], orders[i]['mwst7'], orders[i]['mwst19'], orders[i]['total7'], orders[i]['total19'], orders[i]['zahlungsmethode'], orders[i]['summestorno']])
          orders[i].lines = [];
          for (let j = 0; j < details.length; j++) {
            if(orders[i]['beleg'] === details[j]['beleg']){
              orders[i].lines.push(details[j]);
            }
          }
        }
        const ws1 = XLSX.utils.aoa_to_sheet(orderexport);

        url = `${globalStore.baseUrl}offer/detailtagesdaterangegroupby`.replace("8069/ws", "1234");
        response = await axios.get(url, postBody);
        let detailgroup = response.data;
        let detailgroupexport = [['Artikel Beschreibung','Drucken Beschreibung','DE Beschreibung','Category','Voll Beschreibung','Barcode','Artikel Nummer','Artikel Einheit','Artikel MwSt','Artikel Menge', 'Einkaufspreis','Artikel Einzelpreis','Auftrag Rabatt','Artikel Gesamtpreis']];
        for (let i = 0; i < detailgroup.length; i++) {
          detailgroupexport.push([detailgroup[i]['name'], detailgroup[i]['print_name'], detailgroup[i]['name_de'], detailgroup[i]['name_cate'], detailgroup[i]['full_name'], detailgroup[i]['barcode'], detailgroup[i]['artikel_nummer'], detailgroup[i]['uom'], detailgroup[i]['mwst'], detailgroup[i]['quantity'], detailgroup[i]['buy_price'], detailgroup[i]['sale_price'], detailgroup[i]['discount_value'], detailgroup[i]['total_price']])
        }
        const ws2 = XLSX.utils.aoa_to_sheet(detailgroupexport);
        const wb = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(wb, ws, 'Details');
        XLSX.utils.book_append_sheet(wb, ws1, 'Verkauf');
        XLSX.utils.book_append_sheet(wb, ws2, 'Produkt');
        XLSX.utils.book_append_sheet(wb, ws3, 'Lexware');
        XLSX.writeFile(wb, 'session.xlsx');
        this.loadingState = false;
      },
      search_orderlist(txt) {
        if (txt.length > 0) {
          this.tempOrders = [...this.orderlist].filter(item => {
            var itembeleg = item.beleg.toString();
            var itemPrice = item.total_with_discount.toString();
            var searchString = itembeleg + itemPrice;

            return searchString.includes(txt);
          });
        } else {
          this.tempOrders = [...this.orderlist];
        }
      },
      async selectOrder(order) {
        const postBody = {
          "params": {
            "ref": order.ref
          }
        };
        let url = `${globalStore.baseUrl}offer/get_by_ref`.replace("8069/ws", "1234");
        let response = await axios.get(url, postBody);
        var result_order = response.data;
        this.$store.dispatch('save_reprint_order', result_order[0]);

        url = `${globalStore.baseUrl}offerlines/getlist_by_ref`.replace("8069/ws", "1234");
        response = await axios.get(url, postBody);
        var orderlines = response.data;
        this.$store.dispatch('save_reprint_orderlines', orderlines);
        this.$router.push({path: '/detail-offeredchef-export'});
      },

      // method sử dụng cho bàn phím ảo
      acceptKeyboard(text) {
        this.hideKeyboard();
      },
      showKeyboard(e) {
        this.input = e.target;
        // this.layout = e.target.dataset.layout;

        if (!this.visible) {
          this.visible = true
        }
      },
      hideKeyboard() {
        this.visible = false;
      },
      changeSearchValue(e) {
        setTimeout(() => {
          this.searchTxt = e.target.value;
          this.search_orderlist(this.searchTxt);
        }, 50);
      },
      calculateHeightListProduct() {
        let header = document.querySelector('header');
        let hHeader = header.getBoundingClientRect().height;
        let headerToolbar = document.querySelector('.list-order-toolbar');
        let hToolbar = headerToolbar.getBoundingClientRect().height;
        let headerTable = document.querySelector('.row-header');
        let hHeaderTable = headerTable.getBoundingClientRect().height;

        let hHeaderBox = hHeader + hToolbar + hHeaderTable;

        let bodyTable = document.querySelector('.row-body');
        bodyTable.style.maxHeight = `calc(100vh - ${hHeaderBox}px)`;
      },
      scrollDataBox(scrollDirection) {
        globalStore.handleScrollContent('.list-ordered-wrapper .product-list-box .row-body', scrollDirection, 120);
      },
      resetSearch() {
        this.searchTxt = '';
        this.search_orderlist(this.searchTxt);
      },
      exitListOrderd() {
        let btnLoading = this.$refs.btnLoading;
        btnLoading.classList.add('is-loading');
        setTimeout(() => {
          this.$router.push({path: 'offer'});
        }, 50);
      },
      handleHeightRowBody(lastItem) {
        let productListBox;

        productListBox = this.$refs.productListBox;
        if (lastItem > (-1)) {
          let rowBody;
          let offsetTopRowBody;
          let windowHeight;
          let setHeightRowBody;

          rowBody = this.$refs.rowBody;
          offsetTopRowBody = rowBody.getBoundingClientRect().top;
          windowHeight = window.innerHeight;
          setHeightRowBody = windowHeight - offsetTopRowBody - 1;

          rowBody.style.height = `${setHeightRowBody}px`;

          setTimeout(() => {
            if (globalStore.isInViewport(this.$refs.rowPL[lastItem], 75) == false) {
              productListBox.classList.add('is-visible-scrollbar');
            } else {
              productListBox.classList.remove('is-visible-scrollbar');
            }
          }, 50);
        } else {
          setTimeout(() => {
            productListBox.classList.remove('is-visible-scrollbar');
          }, 50);
        }
      },
      handleScrollListing(direction) {
        let rowBody;
        let nextScroll = 232;

        rowBody = this.$refs.rowBody;
        this.currentItemScrollTo = rowBody.scrollTop;

        switch (direction) {
          case 'down':
            this.currentItemScrollTo += nextScroll;
            rowBody.scrollTop = this.currentItemScrollTo;
            if (rowBody.scrollTop < this.currentItemScrollTo) {
              this.currentItemScrollTo = rowBody.scrollTop;
            }
            break;
          case 'up':
            this.currentItemScrollTo -= nextScroll;
            rowBody.scrollTop = this.currentItemScrollTo;
            break;
          default:
            break;
        }
      }
    },
    created() {
      // this.commonService.handleLoginState(globalStore.cookieNameLoginInfo);
      this.$store.commit('initCurrentPoint');
    },
    mounted() {
      this.get_order_from_server();
      // this.calculateHeightListProduct();
      globalStore.detectDevice();
    },
    watch: {
      from_date() {
        this.get_order_from_server();
        // reset biến point hiện tại để phục vụ scroll
        this.$store.commit('initCurrentPoint');
      },
      to_date() {
        this.get_order_from_server();
        // reset biến point hiện tại để phục vụ scroll
        this.$store.commit('initCurrentPoint');
      },
      searchTxt() {
        this.search_orderlist(this.searchTxt);
      }
    }
  };
</script>
<style>
  .smaller-calendar .vdp-datepicker input{
    width: 180px;
  }
  .loading-box-bericht{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    opacity: 0.3;
    background-color: black;
  }
  .sk-circle-bericht {
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -140px;
    position: absolute;
  }
  .sk-circle-bericht .sk-child-bericht {
    width: 100%;
    height: 100%;
    position: absolute;

  }
  .sk-circle-bericht .sk-child-bericht:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: red;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  }
  .sk-circle-bericht .sk-circle2-bericht {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg); }
  .sk-circle-bericht .sk-circle3-bericht {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg); }
  .sk-circle-bericht .sk-circle4-bericht {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .sk-circle-bericht .sk-circle5-bericht {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg); }
  .sk-circle-bericht .sk-circle6-bericht {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg); }
  .sk-circle-bericht .sk-circle7-bericht {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .sk-circle-bericht .sk-circle8-bericht {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg); }
  .sk-circle-bericht .sk-circle9-bericht {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg); }
  .sk-circle-bericht .sk-circle10-bericht {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg); }
  .sk-circle-bericht .sk-circle11-bericht {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg); }
  .sk-circle-bericht .sk-circle12-bericht {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg); }
  .sk-circle-bericht .sk-circle2-bericht:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s; }
  .sk-circle-bericht .sk-circle3-bericht:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s; }
  .sk-circle-bericht .sk-circle4-bericht:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s; }
  .sk-circle-bericht .sk-circle5-bericht:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s; }
  .sk-circle-bericht .sk-circle6-bericht:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s; }
  .sk-circle-bericht .sk-circle7-bericht:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s; }
  .sk-circle-bericht .sk-circle8-bericht:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s; }
  .sk-circle-bericht .sk-circle9-bericht:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s; }
  .sk-circle-bericht .sk-circle10-bericht:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s; }
  .sk-circle-bericht .sk-circle11-bericht:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s; }
  .sk-circle-bericht .sk-circle12-bericht:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s; }

  @-webkit-keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% {
        -webkit-transform: scale(1);
        transform: scale(1);
      }
  }

  @keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% {
        -webkit-transform: scale(1);
        transform: scale(1);
      }
  }
</style>
