<template>
  <div class="body-wrapper">
    <main>
      <div class="box-wrapper">
        <div class="container">
          <div class="main-box flex-box">
            <div class="list-ordered-wrapper">
              <div class="list-order-toolbar">
                <div class="search-box-toolbar">
                  <div class="search-nav">
                    <input class="input-default input-search-default" type="text"
                           :placeholder="$t('Search')" v-model="searchTxt" @focus="showKeyboard"
                           @blur="changeSearchValue">
                    <div class="reset-search black-type" @click="resetSearch()"></div>
                  </div>
                </div>
                <select style="font-weight: bold; font-size: 1.2em;" name="userfilter" id="userfilter"
                        v-model="user_selected">
                  <option value="">ALLE</option>
                  <option :value="item" v-for="item in userFilterList">{{item}}</option>
                </select>
                <datepicker v-model="date" :format="formatDate" class="datepicker-common"></datepicker>
                <!-- <router-link :to="{ path: 'bericht' }" class="go-to-home">
                  {{ $t('Cancel') }}
                </router-link> -->
                <div style="margin-top: 10px;font-weight: bold;font-size: 1.2em;">
                  Umsatz: <span style="color: red;">{{umsatz}} €</span>
                </div>
                <div class="btn-with-loading" ref="btnLoading">
                  <a class="go-to-home btn-routing" @click="exitListOrderd()">
                    {{ $t('Cancel') }}
                    <div class="btn-loading-box">
                      <div class="lds-ring">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>

              <div class="product-list-box has-scroll-inside" ref="productListBox">
                <div class="product-list-wrapper">
                  <div class="row-header">
                    <div class="row-pl">
                      <!-- <div class="col-pl small-type">
                        No.
                      </div> -->
                      <div class="col-pl small-type">
                        Benutzer
                      </div>
                      <div class="col-pl">
                        Auftragsdatum
                      </div>
                      <div class="col-pl">
                        Beleg
                      </div>
                      <div class="col-pl">
                        Gesamt
                      </div>
                      <div class="col-pl">
                        Status
                      </div>
                      <div class="col-pl">
                        Zahlungsmethode
                      </div>
                    </div>
                  </div>
                  <div class="row-body" ref="rowBody">
                    <template>
                      <div class="row-pl" v-for="(order, index) in this.tempOrders" :key="index"
                           @click="selectOrder(order)" ref="rowPL">
                        <!-- <div class="col-pl small-type">
                          {{index+1}}
                        </div> -->
                        <div class="col-pl small-type">
                          {{order.user_input}}
                        </div>
                        <div class="col-pl">
                          {{order.orderdate | moment("DD.MM.YYYY")}} {{order.ordertime}}
                        </div>
                        <div class="col-pl">
                          {{order.beleg}}
                        </div>
                        <div class="col-pl">
                          {{order.total_with_discount}} €
                        </div>
                        <div class="col-pl">
                          {{order.return_state || 'Verkauf'}}
                        </div>
                        <div class="col-pl">
                          <span v-if="order.is_cash">Bar</span>
                          <span v-if="!order.is_cash">Kartenzahlung</span>
                        </div>
                      </div>
                    </template>
                  </div>
                </div>
                <div class="arrow-direction-box">
                  <div class="arrow-direction-box-wrapper">
                    <div class="single-arrow single-arrow-up"
                         @click="handleScrollListing('up')"></div>
                    <div class="single-arrow single-arrow-down"
                         @click="handleScrollListing('down')"></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </main>
    <app-popup></app-popup>
    <vue-touch-keyboard class="keyboard-search-list-order" v-if="visible" :layout="layout" :cancel="hideKeyboard"
                        :accept="acceptKeyboard" :input="input"/>
  </div>
</template>

<script>
  import Datepicker from 'vuejs-datepicker';
  import Header from "./partials/Header.vue";
  import axios from 'axios';
  import Popup from "./modules/Popup.vue";
  import {
    globalStore
  } from '../global/global.js';

  export default {
    dependencies: ['commonService'],
    data() {
      return {
        date: new Date(),
        formatDate: 'dd-MM-yyyy',
        queryurl: '',
        searchTxt: '',
        orderlist: [],
        tempOrders: [],
        umsatz: 0,
        currentItemScrollTo: 0,

        // biến sử dụng cho bàn phím ảo
        visible: false,
        layout: 'numeric',
        input: null,
        options: {
          useKbEvents: false,
          preventClickEvent: false
        },
        userFilterList: [],
        user_selected: '',
      };
    },
    components: {
      Datepicker,
      "app-header": Header,
      "app-popup": Popup,
    },
    methods: {
      async get_order_from_server() {
        const postBody = {
          "params": {
            "dateinput": this.$moment(this.date).format("YYYY-MM-DD")
          }
        };
        let response = await axios.post(`${globalStore.baseUrl}orders/getlist`, postBody);
        var ret = JSON.parse(response.data.result);
        this.orderlist = JSON.parse(ret.value.replace(/\bNaN\b/g, 'null'));
        this.tempOrders = this.orderlist;
        this.umsatz = 0;
        this.userFilterList = [];
        for (let i = 0; i < this.tempOrders.length; i++) {
          this.tempOrders[i].total_with_discount = parseFloat(this.tempOrders[i].total_with_discount).toFixed(2);
          this.umsatz += parseFloat(this.tempOrders[i].total_with_discount);
          if (!this.userFilterList.includes(this.orderlist[i]['user_input'])) {
            this.userFilterList.push(this.orderlist[i]['user_input']);
          }
        }
        this.umsatz = parseFloat(this.umsatz).toFixed(2);
        this.handleHeightRowBody(this.tempOrders.length - 1);
        this.currentItemScrollTo = 0;

        return;
      },
      search_orderlist(txt) {
        if (txt.length > 0) {
          this.tempOrders = [...this.orderlist].filter(item => {
            var itembeleg = item.beleg.toString();
            var itemPrice = item.total_with_discount.toString();
            var searchString = itembeleg + itemPrice;

            return searchString.includes(txt);
          });
        } else {
          this.tempOrders = [...this.orderlist];
        }
      },
      async cal_temporder() {
        if (this.user_selected === '') {
          this.tempOrders = this.orderlist;
        } else {
          this.tempOrders = [...this.orderlist].filter(el => {
            return el['user_input'] === this.user_selected;
          });
        }
        this.umsatz = 0;
        for (let i = 0; i < this.tempOrders.length; i++) {
          this.tempOrders[i].total_with_discount = parseFloat(this.tempOrders[i].total_with_discount).toFixed(2);
          this.umsatz += parseFloat(this.tempOrders[i].total_with_discount);
        }
        this.umsatz = parseFloat(this.umsatz).toFixed(2);
        this.handleHeightRowBody(this.tempOrders.length - 1);
        this.currentItemScrollTo = 0;
      },
      selectOrder(order) {
        const postBody = {
          "params": {
            "ref": order.ref
          }
        };
        axios.post(`${globalStore.baseUrl}orders/get_by_ref`, postBody)
          .then(response => {
            var ret = JSON.parse(response.data.result);
            var order = JSON.parse(ret.value);
            this.$store.dispatch('save_reprint_order', order[0]);
            axios.post(`${globalStore.baseUrl}orderlines/getlist_by_ref`, postBody)
              .then(response => {
                var ret = JSON.parse(response.data.result);
                var orderlines = JSON.parse(ret.value);
                this.$store.dispatch('save_reprint_orderlines', orderlines);
                this.$router.push({path: '/detail-orderedchef'});
              });
          });
      },

      // method sử dụng cho bàn phím ảo
      acceptKeyboard(text) {
        this.hideKeyboard();
      },
      showKeyboard(e) {
        this.input = e.target;
        // this.layout = e.target.dataset.layout;

        if (!this.visible) {
          this.visible = true
        }
      },
      hideKeyboard() {
        this.visible = false;
      },
      changeSearchValue(e) {
        setTimeout(() => {
          this.searchTxt = e.target.value;
          this.search_orderlist(this.searchTxt);
        }, 50);
      },
      calculateHeightListProduct() {
        let header = document.querySelector('header');
        let hHeader = header.getBoundingClientRect().height;
        let headerToolbar = document.querySelector('.list-order-toolbar');
        let hToolbar = headerToolbar.getBoundingClientRect().height;
        let headerTable = document.querySelector('.row-header');
        let hHeaderTable = headerTable.getBoundingClientRect().height;

        let hHeaderBox = hHeader + hToolbar + hHeaderTable;

        let bodyTable = document.querySelector('.row-body');
        bodyTable.style.maxHeight = `calc(100vh - ${hHeaderBox}px)`;
      },
      scrollDataBox(scrollDirection) {
        globalStore.handleScrollContent('.list-ordered-wrapper .product-list-box .row-body', scrollDirection, 120);
      },
      resetSearch() {
        this.searchTxt = '';
        this.search_orderlist(this.searchTxt);
      },
      exitListOrderd() {
        let btnLoading = this.$refs.btnLoading;
        btnLoading.classList.add('is-loading');
        setTimeout(() => {
          this.$router.push({path: 'bericht'});
        }, 50);
      },
      handleHeightRowBody(lastItem) {
        let productListBox;

        productListBox = this.$refs.productListBox;
        if (lastItem > (-1)) {
          let rowBody;
          let offsetTopRowBody;
          let windowHeight;
          let setHeightRowBody;

          rowBody = this.$refs.rowBody;
          offsetTopRowBody = rowBody.getBoundingClientRect().top;
          windowHeight = window.innerHeight;
          setHeightRowBody = windowHeight - offsetTopRowBody - 1;

          rowBody.style.height = `${setHeightRowBody}px`;

          setTimeout(() => {
            if (globalStore.isInViewport(this.$refs.rowPL[lastItem], 75) == false) {
              productListBox.classList.add('is-visible-scrollbar');
            } else {
              productListBox.classList.remove('is-visible-scrollbar');
            }
          }, 50);
        } else {
          setTimeout(() => {
            productListBox.classList.remove('is-visible-scrollbar');
          }, 50);
        }
      },
      handleScrollListing(direction) {
        let rowBody;
        let nextScroll = 232;

        rowBody = this.$refs.rowBody;
        this.currentItemScrollTo = rowBody.scrollTop;

        switch (direction) {
          case 'down':
            this.currentItemScrollTo += nextScroll;
            rowBody.scrollTop = this.currentItemScrollTo;
            if (rowBody.scrollTop < this.currentItemScrollTo) {
              this.currentItemScrollTo = rowBody.scrollTop;
            }
            break;
          case 'up':
            this.currentItemScrollTo -= nextScroll;
            rowBody.scrollTop = this.currentItemScrollTo;
            break;
          default:
            break;
        }
      }
    },
    created() {
      // this.commonService.handleLoginState(globalStore.cookieNameLoginInfo);
      this.$store.commit('initCurrentPoint');
    },
    mounted() {
      this.get_order_from_server();
      // this.calculateHeightListProduct();
      globalStore.detectDevice();
    },
    watch: {
      date() {
        this.get_order_from_server();

        // reset biến point hiện tại để phục vụ scroll
        this.$store.commit('initCurrentPoint');
      },
      searchTxt() {
        this.search_orderlist(this.searchTxt);
      },
      user_selected() {
        this.cal_temporder();
      }
    }
  };
</script>
