<template>
  <div class="body-wrapper login-box"
       v-bind:class="[$store.state.customer.loginFalse ? 'login-error' : '', loadingLogin ? 'loading-state' : '']">
    <div class="loading-box">
      <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
      </div>
    </div>

    <div class="change-lang-box">
      <div class="wrap-change-lang">
        <div class="change-lang-content">
          <div class="lang-item lang-de" @click="changeLang('de')"
               :class="[$store.state.i18n.lang === 'de' ? 'is-actived' : '']">
            <div class="lang-item-flag"></div>
            <div class="lang-item-name">DE</div>
          </div>
          <div class="lang-item lang-vi" @click="changeLang('vi')"
               :class="[$store.state.i18n.lang === 'vi' ? 'is-actived' : '']">
            <div class="lang-item-flag"></div>
            <div class="lang-item-name">VI</div>
          </div>
        </div>
      </div>
      <div style="text-align:center;margin-top:30px;">
        {{loadingProductStatus}}
      </div>
    </div>

    <div class="wrap-login">
      <h1 class="login-form-title">{{ $t('login') }}</h1>
      <div class="wrap-input wrap-input-user" v-bind:class="[user !== '' ? 'has-value' : '']">
        <input type="text" class="input-naked-line input-login-form" v-on:keyup.enter="handleLogin" v-model="user"
               @focus="showKeyboard" @blur="changeUserName" data-layout="normal">
        <div class="focus-input">
          <span>
            {{ $t('User') }}
          </span>
        </div>
      </div>
      <div class="wrap-input" v-bind:class="[password !== '' ? 'has-value' : '']">
        <input type="password" class="input-naked-line input-login-form" v-on:keyup.enter="handleLogin"
               v-model="password" @focus="showKeyboard" @blur="changePassword" data-layout="normal">
        <div class="focus-input">
          <span>
            {{ $t('Password') }}
          </span>
        </div>
      </div>
      <div class="login-form-button-wrapper">
        <div class="login-form-button">
          <button @click="handleLogin()">{{ $t('login') }}</button>
        </div>
        <div class="login-form-button btn-kasse">
          <button @click="handleCloseBrowser()">{{ $t('close app') }}</button>
        </div>
      </div>
      <div class="login-failed" v-if="$store.state.customer.loginFalse">
        login failed!
      </div>
    </div>

    <app-popup></app-popup>

    <vue-touch-keyboard v-if="visible" :layout="layout" :cancel="hideKeyboard" :accept="acceptKeyboard" :input="input"
                        :change="changeValueKeyboard"/>
  </div>
</template>

<script>
  import Popup from "./modules/Popup.vue";
  import axios from 'axios'
  import store from '@/store/index'
  import {globalStore} from '../global/global.js'
  import {mapState} from 'vuex'
  import lzutf8 from 'lzutf8'

  export default {
    dependencies: ['commonService', 'productService'],
    data() {
      return {
        user: '',
        password: '',
        errors: [],
        dataUser: {},
        loadingLogin: false,
        loadingProductStatus: 'LOADING DATA',
        // biến sử dụng cho bàn phím ảo
        visible: false,
        layout: 'normal',
        input: null,
        options: {
          useKbEvents: false,
          preventClickEvent: false
        },
        barcodeSearch: '',
      };
    },

    computed: {
      ...mapState({
        checkRefreshLogin: state => state.product.checkRefreshLogin,
      })
    },

    components: {
      "app-popup": Popup,
    },
    methods: {
      listener(e) {
        const textInput = e.key;
        const targetName = e.target.tagName;
        if (textInput.length === 1 && targetName !== 'input') {
          this.barcodeSearch = this.barcodeSearch + textInput;
        }
        if (this.barcodeSearch.length >= 6 && textInput.toString().toLowerCase() == 'enter') {
          if(this.barcodeSearch === 'Angebot2020'){
            this.dataUser = {"cws_group": "MANAGER", "value": [{"cws_group": "OFFER"}]};
            let cookieLogin = this.$cookies.get(globalStore.cookieNameLoginInfo);
            if (!this.commonService.checkValid(cookieLogin)) {
              this.$cookies.set(globalStore.cookieNameLoginInfo, JSON.stringify(this.dataUser), -1);
            } else {
              this.$cookies.remove(globalStore.cookieNameLoginInfo);
              this.$cookies.set(globalStore.cookieNameLoginInfo, JSON.stringify(this.dataUser), -1);
            }
            this.commonService.storeToLocalStorage(globalStore.cookieNameLoginInfo, this.dataUser);
            this.barcodeSearch = '';
            this.$router.push({path: '/offer'});
            return;
          }
          store.dispatch('loginByBarcode', this.barcodeSearch);
          this.barcodeSearch = '';
        }
        clearTimeout(removeBarcode);
        let removeBarcode = setTimeout(() => {
          this.barcodeSearch = '';
        }, 2000);
      },
      handleLogin() {
        this.loadingLogin = true;
        this.$store.state.customer.loginFalse = false;
        const postBody = {
          "params": {
            "user": this.user,
            "pass": this.password,
            "db": globalStore.db
          }
        };
        if (this.user === 'offer' && this.password === 'offer') {
          this.dataUser = {"cws_group": "MANAGER", "value": [{"cws_group": "OFFER"}]};
          let cookieLogin = this.$cookies.get(globalStore.cookieNameLoginInfo);
          if (!this.commonService.checkValid(cookieLogin)) {
            this.$cookies.set(globalStore.cookieNameLoginInfo, JSON.stringify(this.dataUser), -1);
          } else {
            this.$cookies.remove(globalStore.cookieNameLoginInfo);
            this.$cookies.set(globalStore.cookieNameLoginInfo, JSON.stringify(this.dataUser), -1);
          }
          this.commonService.storeToLocalStorage(globalStore.cookieNameLoginInfo, this.dataUser);
          this.$router.push({path: '/offer'});
          return;
        }
        axios.post(`${globalStore.baseUrl}user/login`, postBody)
          .then(response => {
            this.loadingLogin = false;
            this.dataUser = JSON.parse(response.data.result);
            if (this.dataUser.info === 'Successful') {
              this.$store.commit('setCheckRefreshLogin', true);

              this.dataUser.value[0].logintime = this.$moment().unix();
              let socketask = {'username': this.user, 'logintime': this.dataUser.value[0].logintime};

              let cookieLogin = this.$cookies.get(globalStore.cookieNameLoginInfo);
              if (!this.commonService.checkValid(cookieLogin)) {
                this.$cookies.set(globalStore.cookieNameLoginInfo, JSON.stringify(this.dataUser), -1);
              } else {
                this.$cookies.remove(globalStore.cookieNameLoginInfo);
                this.$cookies.set(globalStore.cookieNameLoginInfo, JSON.stringify(this.dataUser), -1);
              }
              this.commonService.storeToLocalStorage(globalStore.cookieNameLoginInfo, this.dataUser);
              if (this.dataUser.value[0].cws_group === "SALE") {
                globalStore.socket.emit('login', this.dataUser.value[0].cws_group);
              }
              globalStore.socket.emit('ask_socket_login', socketask);
              if (this.dataUser.value[0].cws_group === "MANAGER") {
                this.$router.push({path: '/bericht'});
              } else {
                this.$router.push({path: '/home'});
              }
            } else {
              this.$store.state.customer.loginFalse = true;
              this.$router.push({path: '/'});
            }
          })
          .catch(e => {
            this.errors.push(e);
          });
      },
      getAllProduct() {
        return this.commonService.getSingleRequest(`${globalStore.baseUrl}product/getlist`, {});
      },
      getAllCategory() {
        return this.commonService.getSingleRequest(`${globalStore.baseUrl}category/getlist`, {});
      },
      check_connect_backend() {
        this.loadingLogin = true;
        const postBody = {"params": {}};
        axios.post(`${globalStore.baseUrl}product/getlastitem`, postBody).then(response => {
          let checkresult = JSON.parse(response.data.result);
          let checkvalue = JSON.parse(checkresult.value);
          if (checkvalue.length == 1) {
            if (localStorage.getItem(globalStore.storageNameAllProduct) == null) {
              return;
            }
            this.loadingLogin = false;
          }
        });

      },
      getAllData() {
        axios.all([
          this.getAllCategory(),
          this.getAllProduct()
        ])
          .then(axios.spread((category, product) => {
            let products = product.data.result;
            lzutf8.compressAsync(products, {outputEncoding: 'StorageBinaryString'}, (resultProducts, errorProducts) => {
              if (errorProducts === undefined) {
                // console.log('after compress:', resultProducts);
                this.commonService.storeToLocalStorage(globalStore.storageNameAllProduct, resultProducts);
                this.commonService.storeToLocalStorage(globalStore.storageNameAllCategory, category.data.result);
                this.loadingLogin = false;
                this.loadingProductStatus = 'ALLES OK';
              } else {
                console.log('Compression error:', errorProducts.message);
              }
            });
          }));
      },
      changeLang(data) {
        this.$store.commit('changeLanguage', data);
        this.$i18n.locale = data;
        this.commonService.storeToLocalStorage(globalStore.storageCurrentLang, data);
      },
      setCurrentLang() {
        if (!globalStore.checkValid(localStorage.getItem(globalStore.storageCurrentLang))) {
          this.commonService.storeToLocalStorage(globalStore.storageCurrentLang, 'vi');
        }
        let lang = localStorage.getItem(globalStore.storageCurrentLang).replace(/"/g, '');
        this.changeLang(lang);
      },

      // method sử dụng cho bàn phím ảo
      acceptKeyboard(text) {
        this.hideKeyboard();
      },
      showKeyboard(e) {
        this.input = e.target;
        // this.layout = e.target.dataset.layout;

        if (!this.visible) {
          this.visible = true
        }
      },
      hideKeyboard() {
        this.visible = false;
      },
      changeValueKeyboard(value) {
        // this.user = value;
      },
      changeUserName(e) {
        setTimeout(() => {
          this.user = e.target.value;
        }, 200);
      },
      changePassword(e) {
        setTimeout(() => {
          this.password = e.target.value;
        }, 200);
      },
      handleCloseBrowser() {
        // Tắt màn hình của electron
        // const remote = require('electron').remote;
        // let w = remote.getCurrentWindow();
        // w.close();
        // window.close();
        // Tắt màn hình của chrome
        globalStore.showPopup('confirmCloseBrowser');
      },

      handleRefreshLogin() {
        if (this.checkRefreshLogin == true) {
          this.$store.commit('setCheckRefreshLogin', false);

          setTimeout(() => {
            window.location.reload();
          }, 50)
        }
      },
    },
    created() {
      this.getAllData();
      this.$store.dispatch('handleBeginAmountInFirstLoad', true);
      this.handleRefreshLogin();
    },
    mounted() {
      localStorage.removeItem(globalStore.cookieNameLoginInfo);
      this.setCurrentLang();
      globalStore.detectDevice();
      this.check_connect_backend();
      this.$store.state.product.allProduct = [];
      window.addEventListener('keypress', this.listener, false);
    },
    destroyed() {
      window.removeEventListener('keypress', this.listener, false);
    },
  };

</script>
