<template>
    <div class="body-wrapper">
        <app-header></app-header>
        <main>
            <div class="box-wrapper">
                <div class="container">
                    <div class="main-box has-scrollbar">
                        <div class="data-content-header-toolbar content-right-align list-customer-toolbar">
                            <router-link :to="{ path: 'list-customer' }" class="go-to-home">
                                {{ $t('Back') }}
                            </router-link>
                        </div>

                        <div class="data-table">
                            <div class="data-table-wrapper">
                                <div class="form-fields form-add-new-data">
                                    <div class="form-body">
                                        <div class="form-row">
                                            <div class="form-col col-big">
                                                <div class="form-label">
                                                    {{ $t('Name') }}*
                                                </div>
                                                <div class="form-input">
                                                    <input type="text" v-model="name" class="input-text" data-field-input="fieldName" @focus="showKeyboard" @blur="changeFieldCustomerInfo">
                                                </div>
                                            </div>
                                            <div class="form-col right-align">
                                                <div class="form-action-group">
                                                    <!-- <div class="btn-form-action">
                                                        <div class="btn-form-action-icon btn-refresh"></div>
                                                    </div> -->
                                                    <div class="btn-form-action" @click="saveToServer()">
                                                        <div class="btn-form-action-icon btn-save"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-col">
                                                <div class="form-label">
                                                    {{ $t('Strasse & nr') }}*
                                                </div>
                                                <div class="form-input">
                                                    <input type="text" v-model="address" class="input-text" data-field-input="fieldAddress" @focus="showKeyboard" @blur="changeFieldCustomerInfo">
                                                </div>
                                            </div>
                                            <div class="form-col">
                                                <div class="form-label">
                                                    {{ $t('Firma') }}*
                                                </div>
                                                <div class="form-input">
                                                    <input type="text" v-model="firma" class="input-text" data-field-input="fieldFirma" @focus="showKeyboard" @blur="changeFieldCustomerInfo">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-col">
                                                <div class="form-label">
                                                    {{ $t('Postleitzahl') }}*
                                                </div>
                                                <div class="form-input">
                                                    <input type="text" v-model="plz" class="input-text" data-field-input="fieldPlz" @focus="showKeyboard" @blur="changeFieldCustomerInfo">
                                                </div>
                                            </div>
                                            <div class="form-col">
                                                <div class="form-label">
                                                    USt-IdNr.
                                                </div>
                                                <div class="form-input">
                                                    <input type="text" v-model="tax" class="input-text" data-field-input="fieldTax" @focus="showKeyboard" @blur="changeFieldCustomerInfo">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-col">
                                                <div class="form-label">
                                                    {{ $t('Stadt') }}*
                                                </div>
                                                <div class="form-input">
                                                    <input type="text" v-model="city" class="input-text" data-field-input="fieldCity" @focus="showKeyboard" @blur="changeFieldCustomerInfo">
                                                </div>
                                            </div>
                                            <div class="form-col">
                                                <div class="form-label">
                                                    Barcode (Auto)
                                                </div>
                                                <div class="form-input">
                                                    <input type="text" disabled v-model="barcode" class="input-text" data-field-input="fieldBarcode" @focus="showKeyboard" @blur="changeFieldCustomerInfo">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-col">
                                                <div class="form-label">
                                                    {{ $t('Land') }}
                                                </div>
                                                <div class="form-input">
                                                    <input type="text" v-model="land" class="input-text" data-field-input="fieldLand" @focus="showKeyboard" @blur="changeFieldCustomerInfo">
                                                </div>
                                            </div>
                                            <div class="form-col">
                                                <div class="form-label">
                                                    E-mail
                                                </div>
                                                <div class="form-input">
                                                    <input type="text" v-model="email" class="input-text" data-field-input="fieldEmail" @focus="showKeyboard" @blur="changeFieldCustomerInfo">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-col">
                                                <div class="form-label">
                                                    Telefon
                                                </div>
                                                <div class="form-input">
                                                    <input type="text" v-model="phone" class="input-text" data-field-input="fieldPhone" @focus="showKeyboard" @blur="changeFieldCustomerInfo">
                                                </div>
                                            </div>
                                            <div class="form-col"></div>
                                        </div>
                                    </div>
                                    <div class="form-footer">
                                        <div class="form-row">
                                            <div class="form-col col-center">
                                                <div class="form-button" @click="selectCustomer()">
                                                    SELECT
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <app-popup></app-popup>
        <vue-touch-keyboard class="keyboard-return-product keyboard-new-customer no-margin no-padding" v-if="visible" :layout="layout" :cancel="hideKeyboard" :accept="acceptKeyboard" :input="input"/>
    </div>
</template>

<script>
    import Header from './partials/Header.vue';
    import axios from 'axios';
    import { globalStore } from '../global/global.js';
    import Popup from "./modules/Popup.vue";

    export default {
        dependencies: ['commonService'],
        data() {
            return {
                cid: '',
                name: '',
                address: '',
                city: '',
                plz: '',
                land: '',
                phone: '',
                email: '',
                barcode: '',
                tax: '',
                firma: '',

                // biến sử dụng cho bàn phím ảo
                visible: false,
                layout: 'normal',
                input: null,
                options: {
                    useKbEvents: false,
                    preventClickEvent: false
                }
            };
        },
        components: {
            "app-header": Header,
            "app-popup": Popup,
        },
        methods: {
            saveToServer(){
                if(this.name === ''){
                    this.$store.state.popup.warningContent = this.$i18n.t('Name is required');
                    globalStore.showPopup('showWarning');
                    return;
                }
                if(this.address == ''){
                    this.$store.state.popup.warningContent = this.$i18n.t('Address is required');
                    globalStore.showPopup('showWarning');
                    return;
                }
                if(this.plz == ''){
                    this.$store.state.popup.warningContent = this.$i18n.t('Postcode is required');
                    globalStore.showPopup('showWarning');
                    return;
                }
                if(this.city === ''){
                    this.$store.state.popup.warningContent = this.$i18n.t('City is required');
                    globalStore.showPopup('showWarning');
                    return;
                }
                if(this.firma == ''){
                    this.$store.state.popup.warningContent = this.$i18n.t('Company is required');
                    globalStore.showPopup('showWarning');
                    return;
                }
                const postBody = {
                    "params": {
                        "id": this.cid,
                        "name": this.name,
                        "address": this.address,
                        "city": this.city,
                        "plz": this.plz,
                        "land": this.land,
                        "phone": this.phone,
                        "email": this.email,
                        "barcode": this.barcode,
                        "tax": this.tax,
                        "firma": this.firma
                    }
                };
                axios.post(`${globalStore.baseUrl}customer/add_update`, postBody)
                    .then(response => {
                        var ret = JSON.parse(response.data.result);
                        if(ret.info == 'Successful' && typeof ret.value == 'undefined'){
                            this.$store.state.popup.warningContent = this.$i18n.t('Save successful');
                            globalStore.showPopup('showWarning');

                            //update thông tin mới của customer sau khi edit
                            let newInfo = {};
                            newInfo = {...postBody.params};
                            newInfo.id = this.$store.state.customer.customerSelected.id;

                            let allCustomer = this.$store.state.customer.allCustomer;
                            for(let i = 0; i < allCustomer.length; i++) {
                                if(allCustomer[i].id == newInfo.id) {
                                    allCustomer.splice(i, 1, newInfo);
                                }
                            }
                            this.commonService.storeToLocalStorage(globalStore.storageNameAllCustomer, allCustomer);
                            this.$store.commit('setDataCustomer', allCustomer);
                            this.$store.state.customer.customerSelected = newInfo;

                            return;
                        }else{
                            this.$store.state.popup.warningContent = this.$i18n.t('Create new successful');
                            globalStore.showPopup('showWarning');
                            var arr = JSON.parse(ret.value);
                            this.addToLocalStorage(arr[0]);
                            this.$store.state.customer.customerSelected = arr[0];
                        }
                    });
            },
            addToLocalStorage(newVal){
                var allCustomer = JSON.parse(localStorage.getItem(globalStore.storageNameAllCustomer));
                this.commonService.storeToLocalStorage(globalStore.storageNameAllCustomer, allCustomer);
                this.$store.commit('setDataCustomer', allCustomer);
            },
            setCustomerVal(customer){
                this.cid = customer.id | '',
                this.name = customer.name || '';
                this.address = customer.address || '';
                this.city = customer.city || '';
                this.plz = customer.plz || '';
                this.land = customer.land || '';
                this.phone = customer.phone || '';
                this.email = customer.email || '';
                this.barcode = customer.barcode || '';
                this.tax = customer.tax || '';
                this.firma = customer.firma || '';
            },
            async selectCustomer(){
                if(typeof this.$store.state.customer.customerSelected.name == 'undefined'){
                    this.$store.state.popup.warningContent = this.$i18n.t('Please choose customer');
                    globalStore.showPopup('showWarning');
                    return;
                }
                await this.$store.dispatch('setCustomerCurrentOrder',this.$store.state.customer.customerSelected);
                this.$store.state.customer.customerOrderSelected = this.$store.state.customer.customerSelected;
                let self = this;
                let loadingBox = document.querySelector('.loading-box');
                loadingBox.classList.add('loading-state');
                setTimeout(async ()=>{
                  await self.$router.push({path: 'home?origin=back'});
                  loadingBox.classList.remove('loading-state');
                },1000);

            },

            // method sử dụng cho bàn phím ảo
            acceptKeyboard(text) {
                this.hideKeyboard();
            },
            showKeyboard(e) {
                this.input = e.target;
                // this.layout = e.target.dataset.layout;

                if (!this.visible) {
                    this.visible = true
                }
            },
            hideKeyboard() {
                this.visible = false;
                this.input = null;
            },
            changeFieldCustomerInfo(e) {
                setTimeout(() => {
                    if(this.input.getAttribute('data-field-input') === 'fieldName' && e.target.getAttribute('data-field-input') === 'fieldName') {
                        this.name = e.target.value;
                    }
                    if(this.input.getAttribute('data-field-input') === 'fieldAddress' && e.target.getAttribute('data-field-input') === 'fieldAddress') {
                        this.address = e.target.value;
                    }
                    if(this.input.getAttribute('data-field-input') === 'fieldPhone' && e.target.getAttribute('data-field-input') === 'fieldPhone') {
                        this.phone = e.target.value;
                    }
                    if(this.input.getAttribute('data-field-input') === 'fieldCity' && e.target.getAttribute('data-field-input') === 'fieldCity') {
                        this.city = e.target.value;
                    }
                    if(this.input.getAttribute('data-field-input') === 'fieldEmail' && e.target.getAttribute('data-field-input') === 'fieldEmail') {
                        this.email = e.target.value;
                    }
                    if(this.input.getAttribute('data-field-input') === 'fieldPlz' && e.target.getAttribute('data-field-input') === 'fieldPlz') {
                        this.plz = e.target.value;
                    }
                    if(this.input.getAttribute('data-field-input') === 'fieldBarcode' && e.target.getAttribute('data-field-input') === 'fieldBarcode') {
                        this.barcode = e.target.value;
                    }
                    if(this.input.getAttribute('data-field-input') === 'fieldLand' && e.target.getAttribute('data-field-input') === 'fieldLand') {
                        this.land = e.target.value;
                    }
                    if(this.input.getAttribute('data-field-input') === 'fieldTax' && e.target.getAttribute('data-field-input') === 'fieldTax') {
                        this.tax = e.target.value;
                    }
                    if(this.input.getAttribute('data-field-input') === 'fieldFirma' && e.target.getAttribute('data-field-input') === 'fieldFirma') {
                        this.firma = e.target.value;
                    }
                }, 200);
            }
        },
        created() {},
        mounted(){
            var curCustomer = this.$store.state.customer.customerSelected;
            this.setCustomerVal(curCustomer);
        },
        watch: {}
    };
</script>
