<template>
  <div class="body-wrapper">
    <app-header></app-header>
    <main>
      <div class="main-box">
        <div class="flex-box bill-details-box">
          <div class="bill-layout-wrapper" ref="wrapper">
            <!-- hiện thông báo tổng tiền ở phần hóa đơn thanh toán -->
            <div class="bill-sticky" v-if="!queryurl" ref="billSticky">
              <div class="bill-sticky-wrapper">
                <div class="bill-sticky-row">
                  <div class="bill-sticky-row-data">
                    Summe
                  </div>
                  <div class="bill-sticky-row-data">
                    {{parseFloat(currentOrder.total_with_discount).toFixed(2)}} €
                  </div>
                </div>
                <div class="bill-sticky-row">
                  <div class="bill-sticky-row-data">
                    Gegeben
                  </div>
                  <div class="bill-sticky-row-data">
                    <input type="number" v-model="gegeben" style="width: 140px; text-align: right" >
                  </div>
                  <div class="bill-sticky-row-data">
                    {{parseFloat(gegeben/100).toFixed(2)}} €
                  </div>
                </div>
                <div class="bill-sticky-row">
                  <div class="bill-sticky-row-data">
                    Zurück
                  </div>
                  <div class="bill-sticky-row-data">
                    {{parseFloat(zuruck).toFixed(2)}} €
                  </div>
                </div>
              </div>
            </div>
            <div class="calculator-box payment-calculator hide-on-print offer-print-cal" :class="{'has-scroll': isShowScroll}" ref="calBox">
              <div class="calculator-btns">
                <div class="btns-col-numbers">
                  <ul class="list-btns-calc">
                    <li class="number-btn" @click="clickNum('7')">
                      7
                      <span class="overlay-btn"></span>
                    </li>
                    <li class="number-btn" @click="clickNum('8')">
                      8
                      <span class="overlay-btn"></span>
                    </li>
                    <li class="number-btn" @click="clickNum('9')">
                      9
                      <span class="overlay-btn"></span>
                    </li>
                    <li class="number-btn" @click="clickNum('4')">
                      4
                      <span class="overlay-btn"></span>
                    </li>
                    <li class="number-btn" @click="clickNum('5')">
                      5
                      <span class="overlay-btn"></span>
                    </li>
                    <li class="number-btn" @click="clickNum('6')">
                      6
                      <span class="overlay-btn"></span>
                    </li>
                    <li class="number-btn" @click="clickNum('1')">
                      1
                      <span class="overlay-btn"></span>
                    </li>
                    <li class="number-btn" @click="clickNum('2')">
                      2
                      <span class="overlay-btn"></span>
                    </li>
                    <li class="number-btn" @click="clickNum('3')">
                      3
                      <span class="overlay-btn"></span>
                    </li>
                    <li class="number-btn" @click="clickNum('.')">
                      ,
                      <span class="overlay-btn"></span>
                    </li>
                    <li class="number-btn" @click="clickNum('0')">
                      0
                      <span class="overlay-btn"></span>
                    </li>
                    <li class="number-btn" @click="clickNum('00')">
                      00
                      <span class="overlay-btn"></span>
                    </li>
                    <li class="number-btn btn-wide btn-delete" @click="clickNum('delete')"></li>
                    <li class="number-btn btn-reset" @click="clickNum('reset')">
                      C
                      <span class="overlay-btn"></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- phần giao diện cho in hóa đơn -->
            <div class="bill-layout bill-fontsize-16 bill-angebot" v-if="!queryurl" ref="billLayout">
              <div class="bill-header" v-if="enable_packlistsale == true">
                <h1>* * PACKLISTE * *</h1>
              </div>
              <div class="bill-header" v-if="enable_packlistsale == false">
                <h1 v-if="is_reprint_order == true">* * * COPY * * *</h1>
                <!-- <h1>{{companyinfo.company_name}}</h1>
                <p>{{companyinfo.company_address1}}</p>
                <p v-if="companyinfo.company_address3.length > 0">{{companyinfo.company_address3}}</p>
                <p v-if="companyinfo.company_address2.length > 0">{{companyinfo.company_address2}}</p>
                <p v-if="companyinfo.company_tel.length > 0">{{companyinfo.company_tel}}</p>
                <p v-if="companyinfo.company_fax.length > 0">{{companyinfo.company_fax}}</p>
                <p v-if="companyinfo.company_steuer.length > 0">{{companyinfo.company_steuer}}</p>
                <p>------------------------</p> -->
                <p>Phiếu Kiểm Hàng</p>
                <p>------------------------</p>
              </div>
              <div class="bill-datetime">
                <!-- <p v-if="enable_packlistsale == false">Von: {{$moment(currentOrder.ordertime).format("DD.MM.YYYY HH:mm:ss")}}</p> -->
                <p v-if="!queryurl && enable_packlistsale == false">Nr: {{beleg}}</p>
              </div>
              <div class="bill-header bill-customer-info" v-if="currentOrder.customer_id !== 0 && !enable_packlistsale">
                <p>------------------------</p>
                <p>
                  Kundennummer: {{currentOrder.customer_id}}
                </p>
                <p v-if="currentOrder.customer_firma !== false">
                  Firma: {{currentOrder.customer_firma}}
                </p>
                <p>
                  {{currentOrder.customer_name}}
                </p>
                <p>
                  {{currentOrder.customer_address}}
                </p>
                <p>
                  {{currentOrder.customer_plz}}, {{currentOrder.customer_city}}
                </p>
                <p>------------------------</p>
              </div>
              <div v-if="!queryurl && enable_packlistsale == true" style="height: 15px;"></div>
              <!-- <div v-if="!queryurl && enable_packlistsale == false" class="bill-user"
                   style="text-align: left; font-size: 15px;">
                {{currentOrder.username}}
              </div> -->
              <div class="bill-row bill-row-heading">
                <div class="bill-col bill-col-heading">
                  Artikel
                </div>
                <div class="bill-col bill-col-heading">
                  Betrag €
                </div>
              </div>
              <div class="bill-single-item" v-for="(product,index) in currentOrder.lines" :key="index">
                <div class="bill-row">
                  <div class="bill-col bill-col-product">
                    <div>ArtNr. {{product.artikel_nummer}}</div>
                    <span>{{product.print_name}}</span>
                  </div>
                </div>
                <div class="bill-row">
                  <div class="bill-col bill-col-product">
                    <small v-if="product.name.indexOf('Div.') === -1">({{product.uom}})</small> {{product.quantity}} X
                    {{parseFloat(product.sale_price).toFixed(2)}} €
                  </div>
                  <div class="bill-col bill-col-total-amount">
                    {{parseFloat(product.total_price).toFixed(2)}} €<span v-if="product.mwst == 7 || product.mwst == 5"> A</span><span
                      v-if="product.mwst == 19 || product.mwst == 16"> B</span>
                  </div>
                </div>
                <div class="bill-col bill-col-rabatt" v-if="parseFloat(product.discount_value) !== 0">
                  <i style="font-size: 14px;">Mit {{parseFloat(product.discount_value).toFixed(2)}}€ Rabatt</i>
                </div>
              </div>
              <div class="bill-zwis">
                <div class="bill-row">
                  <div class="bill-col bill-col-sperate">---------------</div>
                </div>
                <div class="bill-row">
                  <div class="bill-col bill-col-product">
                    Zwischensumme:
                  </div>
                  <div class="bill-col bill-col-total-amount">
                    {{parseFloat(currentOrder.subtotal).toFixed(2)}} €
                  </div>
                </div>
                <div class="bill-row">
                  <div class="bill-col bill-col-sperate">---------------</div>
                </div>
                <div class="bill-row">
                  <div class="bill-col bill-col-product">
                    Produktrabatt:
                  </div>
                  <div class="bill-col bill-col-total-amount">
                    {{parseFloat(currentOrder.orderdiscountlines).toFixed(2)}} €
                  </div>
                </div>
                <div class="bill-row">
                  <div class="bill-col bill-col-sperate">---------------</div>
                </div>
                <div class="bill-row">
                  <div class="bill-col bill-col-brutto">
                    <strong>
                      Summe(Brutto):
                    </strong>
                  </div>
                  <div class="bill-col bill-col-brutto">
                    <strong>
                      {{parseFloat(currentOrder.total_with_discount).toFixed(2)}} €
                    </strong>
                  </div>
                </div>
                <div class="bill-row">
                  <div class="bill-col bill-col-product">
                    Mwst {{thue7}}% (A)
                  </div>
                  <div class="bill-col bill-col-total-amount">
                    {{(currentOrder.mwst7 - currentOrder.total_discount_mwst7).toFixed(2)}} €
                  </div>
                </div>
                <div class="bill-row">
                  <div class="bill-col bill-col-product">
                    Mwst {{thue19}}% (B)
                  </div>
                  <div class="bill-col bill-col-total-amount">
                    {{(currentOrder.mwst19 - currentOrder.total_discount_mwst19).toFixed(2)}} €
                  </div>
                </div>
                <div class="bill-row">
                  <div class="bill-col bill-col-product">
                    Summe(Netto):
                  </div>
                  <div class="bill-col bill-col-total-amount">
                    {{((parseFloat(currentOrder.netto) +
                    parseFloat(currentOrder.total_discount_mwst7) +
                    parseFloat(currentOrder.total_discount_mwst19)).toFixed(2))}} €
                  </div>
                </div>
                <div class="bill-row">
                  <div class="bill-col bill-col-sperate">=============</div>
                </div>
              </div>

              <div class="bill-row-footer">
                <div class="bill-row bill-row-footer-star">
                  <span>
                    *
                  </span>
                  <span>
                    *
                  </span>
                  <span>
                    *
                  </span>
                  <span>
                    *
                  </span>
                  <span>
                    *
                  </span>
                </div>
                <!-- <div>
                  <h3 class="spacing-bottom-print">
                    Dieses Angebot ist 7 tage gültig
                  </h3>
                </div>
                <div>
                  <h3 class="spacing-bottom-print">
                    Dies ist keine verbindliche Rechnung
                  </h3>
                </div> -->
              </div>
            </div>

          </div>
        </div>
        <div class="print-box" :class="[queryurl === 'umsatz' ? 'center-element' : '']">
          <div class="btn-print-box do-print" v-if="queryurl =='verkaufs' || !queryurl" @click="printDocument()">
            <span class="icon-box"></span>
            <span class="text-box">
                    {{ $t('Print') }}
                </span>
          </div>

          <div class="btn-print-box do-next btn-print-next-to-home" @click="$router.push('home')" v-if="!queryurl"
               :class="[!isReadyNextToHome ? 'is-disable' : '']">
            <span class="icon-box"></span>
            <span class="text-box">
                    {{ $t('Next Order') }}
                </span>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
  import {globalStore} from '../global/global.js';
  import Header from "./partials/Header.vue";
  import axios from 'axios'

  export default {
    dependencies: ['commonService'],
    data() {
      return {
        isShowScroll: false,

        companyinfo: {
          "company_name": '',
          "company_address1": '',
          "company_address3": '',
          "company_address2": '',
          "company_tel": '',
          "company_fax": '',
          "company_steuer": ''
        },
        barcodevalue: '123456789',
        barcodeoptions: {
          lineColor: '#ff7069',
          fontSize: 32,
          font: 'Courier',
          width: 3,
          height: 20,
          marginBottom: 60,
          format: 'MSI',
          background: '#ccffff'
        },
        currentOrder: {orderdate: new Date()},
        beleg: '',
        queryurl: '',
        queryreturnall: '',
        queryreturnpart: '',
        enable_reprint: true, //Dùng để chuyển packlist thành Reprint
        enable_packlistsale: false, //Dùng để chuyển in packlist mỗi order
        umsatz: {},
        currenttime: new Date(),
        printcount: 1,
        is_reprint_order: false,
        is_sushi: false, //Kiểm tra có in ra sushi trong abschluss không
        // Các biến số liệu
        session_id: '',
        session_name: '',
        session_begin: '',
        session_begin_amount: '',
        barmwst7: '',
        barmwst19: '',
        bartotal7: '',
        bartotal19: '',
        creditmwst7: '',
        creditmwst19: '',
        credittotal7: '',
        creditnetto7: '',
        creditnetto19: '',
        barnetto7: '',
        barnetto19: '',
        credittotal19: '',
        discount_mwst7: '',
        discount_mwst19: '',
        kundenanzahl: '',
        mwst: '',
        mwst7: '',
        mwst19: '',
        orderdiscountlines: '',
        netto: '',
        total7: '',
        total19: '',
        anzahlbar: '',
        anzahlcredit: '',
        total_with_discount: '',
        bar_total_with_discount: '',
        credit_total_with_discount: '',
        bar_total_discount_in_amount: '',
        credit_total_discount_in_amount: '',
        // DƯới đây tính bằng orderline
        anzahlmwst7: '',
        anzahlmwst19: '',
        anzahlstorno: '',
        summestorno: '',
        sushiquantity: '',
        sushitotal: '',
        sushilinediscount: '',

        isReadyNextToHome: true,

        thue7: '7',
        thue19: '19',
        gegeben: '',
        zuruck: 0,
      };
    },
    components: {
      "app-header": Header,
    },
    methods: {
      handleCalculatorPosition(){
        let bill = this.$refs.billLayout;
        let billWrapper = this.$refs.wrapper;
        let billSticky = this.$refs.billSticky;
        let calBox = this.$refs.calBox;
        let hWrapper = billWrapper.getBoundingClientRect().height;
        let hBill = bill.getBoundingClientRect().height;
        let hBillSticky = billSticky.getBoundingClientRect().height;

        if (hBill > hWrapper) {
          this.isShowScroll = true;
        }
        calBox.style.height = `${hBillSticky}px`;

      },
      getconfig() {
        axios.post(`${globalStore.baseUrl}setting/get_setting`, {})
          .then(response => {
            let ret = JSON.parse(response.data.result);
            let retval = JSON.parse(ret.value.replace(/\bNaN\b/g, 'null'));
            this.companyinfo = retval[0];
          });
      },
      printDocument() {
        this.enable_packlistsale = false;

        this.is_reprint_order = this.printcount > 1;
        let self = this;
        setTimeout(function () {
          window.print();
          // if(self.queryurl === 'verkaufs'){
          //   self.$router.push('home?origin=back');
          // }
        }, 100);
        this.printcount += 1;

        if (!this.queryurl) {
          this.isReadyNextToHome = false;

          setTimeout(() => {
            this.isReadyNextToHome = true;
          }, 2000);
        }
      },
      printPacklist() {
        // let loadingBox = document.querySelector('.loading-box');
        // loadingBox.classList.add('loading-state');
        let btnNext = document.querySelector('.btn-print-next-to-home');
        if (globalStore.domExists(btnNext)) {
          btnNext.classList.add('is-inactive');
        }
        this.enable_reprint = false;
        this.enable_packlistsale = true;
        let self = this;
        setTimeout(function () {
          window.print();
          self.enable_packlistsale = false;
        }, 100);

        setTimeout(() => {
          // loadingBox.classList.remove('loading-state');
          if (globalStore.domExists(btnNext)) {
            btnNext.classList.remove('is-inactive');
          }
        }, 2000);
      },
      // detectAfterPrint(event) {
      //   let btnNext = document.querySelector('.btn-print-next-to-home');
      //   if(globalStore.domExists(btnNext)) {
      //     btnNext.classList.remove('is-inactive');
      //   }
      // },
      reprintFromPacklist() {
        this.enable_reprint = true;
        let self = this;
        // setTimeout(function(){
        //   window.print();
        //   // self.$router.push('home?origin=back');
        // }, 100);
      },
      init_current_order() {
        this.currentOrder = this.$store.state.product.currentOrder;
        if (this.currentOrder.lines === 0 ||
          this.currentOrder === {} ||
          typeof this.currentOrder.lines === "undefined"
        ) {
          // this.$router.push('/home');
          return;
        }
        this.currentOrder.is_cash = true;
        this.currentOrder.total_without_discount = this.currentOrder.total_without_discount || 0;
        this.currentOrder.total_discount = this.currentOrder.total_discount || 0;
        this.currentOrder.total_with_discount = this.currentOrder.total_with_discount || 0;
        this.currentOrder.return_back = this.currentOrder.return_back || 0;
        this.currentOrder.total_give = this.currentOrder.total_give || 0;
        this.currentOrder.mwst7 = this.currentOrder.mwst7 || 0;
        this.currentOrder.mwst19 = this.currentOrder.mwst19 || 0;
        this.currentOrder.customer_id = this.currentOrder.customer_id || 0;
        this.currentOrder.customer_name = this.currentOrder.customer_name || '';
        this.currentOrder.total_with_discount = typeof this.currentOrder.total_with_discount === "undefined" ? 0 : this.currentOrder.total_with_discount;
        this.currentOrder.total_discount_in_amount = typeof this.currentOrder.total_discount_in_amount === "undefined" ? 0 : this.currentOrder.total_discount_in_amount;
        if (typeof this.queryreturnall !== 'undefined') {
          this.currentOrder.return_ref = this.queryreturnall;
        }
        if (typeof this.queryreturnpart !== 'undefined') {
          this.currentOrder.return_ref = this.queryreturnpart;
        }
        if (this.querystornoall === 'yes') {
          this.currentOrder.is_cash = true;
        }
        if (typeof this.currentOrder.return_ref !== 'undefined') {
          const postBody = {
            "params": {
              "ref": this.currentOrder.return_ref
            }
          };
          axios.post(`${globalStore.baseUrl}orders/get_by_ref`, postBody)
            .then(response => {
              let ret = JSON.parse(response.data.result);
              let order_arr = JSON.parse(ret.value);
              this.currentOrder.return_beleg = '';
              if (typeof this.queryreturnall !== 'undefined') {
                this.currentOrder.total_discount = -parseFloat(order_arr[0].total_discount).toFixed(2);
                this.currentOrder.total_discount_in_amount = -parseFloat(order_arr[0].total_discount_in_amount).toFixed(2);
                this.currentOrder.return_back = 0;
                this.currentOrder.total_with_discount = -parseFloat(order_arr[0].total_with_discount).toFixed(2);
                this.currentOrder.total_give = -parseFloat(order_arr[0].total_with_discount).toFixed(2);
                this.currentOrder.netto = -parseFloat(order_arr[0].netto).toFixed(2);
              }
            });
        }
      },
      calculateTotalDiscountMwst(lines) {
        let total7 = 0;
        let total19 = 0;
        if (this.currentOrder.total_discount_in_amount > 0) {
          for (let i = 0; i < lines.length; i++) {
            const element = lines[i];
            if (parseFloat(element.mwst) === 7 || parseFloat(element.mwst) === 5) {
              total7 += parseFloat(element.total_price);
            }
            if (parseFloat(element.mwst) === 19 || parseFloat(element.mwst) === 16) {
              total19 += parseFloat(element.total_price);
            }
          }
          let tile7 = total7 / (total7 + total19);
          let tile19 = 1 - tile7;
          if (this.currentOrder.lines[0].mwst === '5' || this.currentOrder.lines[0].mwst === '16') {
            this.currentOrder.total_discount_mwst7 = parseFloat((parseFloat(this.currentOrder.total_discount_in_amount) * tile7) - ((parseFloat(this.currentOrder.total_discount_in_amount) * tile7) / 1.05)).toFixed(2);
            this.currentOrder.total_discount_mwst19 = parseFloat((parseFloat(this.currentOrder.total_discount_in_amount) * tile19) - ((parseFloat(this.currentOrder.total_discount_in_amount) * tile19) / 1.16)).toFixed(2);
          }
          if (this.currentOrder.lines[0].mwst === '7' || this.currentOrder.lines[0].mwst === '19') {
            this.currentOrder.total_discount_mwst7 = parseFloat((parseFloat(this.currentOrder.total_discount_in_amount) * tile7) - ((parseFloat(this.currentOrder.total_discount_in_amount) * tile7) / 1.07)).toFixed(2);
            this.currentOrder.total_discount_mwst19 = parseFloat((parseFloat(this.currentOrder.total_discount_in_amount) * tile19) - ((parseFloat(this.currentOrder.total_discount_in_amount) * tile19) / 1.19)).toFixed(2);
          }
          this.currentOrder.total7 = parseFloat(this.currentOrder.total7 - (tile7 * this.currentOrder.total_discount_in_amount)).toFixed(2);
          this.currentOrder.total19 = parseFloat(this.currentOrder.total19 - (tile19 * this.currentOrder.total_discount_in_amount)).toFixed(2);
        } else {
          this.currentOrder.total_discount_mwst7 = 0;
          this.currentOrder.total_discount_mwst19 = 0;
        }
      },
      async save_order_to_server() {
        if (typeof this.currentOrder.lines === "undefined" || this.currentOrder.lines.length === 0) {
          return;
        }
        let userinfo = JSON.parse(localStorage.getItem(globalStore.cookieNameLoginInfo)).value[0];
        this.currentOrder.username = userinfo.displayname;
        this.currentOrder.user_id = userinfo.userid;
        this.currentOrder.session_id = this.$store.state.product.currentSesssion;
        this.calculateTotalDiscountMwst(this.currentOrder.lines);
        this.currentOrder.ordertime = globalStore.$moment(new Date()).format("YYYY-MM-DD HH:mm:ss");
        this.currentOrder.orderdate = globalStore.$moment(new Date()).format("YYYY-MM-DD");
        let is_packlist = true;
        if (parseFloat(this.currentOrder.netto) < 0) {
          this.currentOrder.return_state = 'Retoured';
        }
        const postBody = {
            "ref": this.currentOrder.ref,
            "mwst7": this.currentOrder.mwst7 || 0,
            "mwst19": this.currentOrder.mwst19 || 0,
            "mwst": this.currentOrder.mwst || 0,
            "discount_mwst7": this.currentOrder.discount_mwst7 || 0,
            "discount_mwst19": this.currentOrder.discount_mwst19 || 0,
            "total7": this.currentOrder.total7 || 0,
            "total19": this.currentOrder.total19 || 0,
            "orderdiscountlines": this.currentOrder.orderdiscountlines || 0,
            "total_without_discount": this.currentOrder.total_without_discount,
            "total_discount": this.currentOrder.total_discount || 0,
            "discount_type": this.currentOrder.discount_type || 'amount',
            "total_discount_in_amount": this.currentOrder.total_discount_in_amount || 0,
            "total_discount_mwst7": this.currentOrder.total_discount_mwst7 || 0,
            "total_discount_mwst19": this.currentOrder.total_discount_mwst19 || 0,
            "total_with_discount": this.currentOrder.total_with_discount,
            "total_give": this.currentOrder.total_give,
            "return_back": this.currentOrder.return_back,
            "return_state": this.currentOrder.return_state,
            "return_ref": this.currentOrder.return_ref,
            "netto": this.currentOrder.netto,
            "user_input": this.currentOrder.username,
            "user_id": this.currentOrder.user_id,
            "customer_name": this.currentOrder.customer_name,
            "customer_id": this.currentOrder.customer_id,
            "retoure_grund": this.currentOrder.retoure_grund || '',
            "session_id": this.currentOrder.session_id,
            "ordertime": this.currentOrder.ordertime,
            "orderdate": this.currentOrder.orderdate,
            "is_cash": this.currentOrder.is_cash || false,
            "is_packlist": is_packlist
        };
        let loadingBox = document.querySelector('.loading-box');
        loadingBox.classList.add('loading-state');
        let url = `${globalStore.baseUrl}offer/add`.replace("8069/ws", "1234");
        let response = await axios.post(url, postBody);
        if(!response.data.success){
          this.$router.push('home');
          loadingBox.classList.remove('loading-state');
          return;
        }
        var return_beleg = '0000' + response.data.beleg;
        this.beleg = this.currentOrder.orderdate.toString().replace(/-/g, "") + return_beleg.substr(return_beleg.length - 5);
        this.currentOrder.beleg = this.beleg;
        loadingBox.classList.remove('loading-state');
        this.$store.state.customer.customerOrderSelected = {};
      },
      async save_orderlines_to_server() {
        let orderlines = this.currentOrder.lines;
        if (orderlines.length === 0) {
          return;
        }
        for (let i = 0; i < orderlines.length; i++) {
          let orderline = orderlines[i];
          let postBody = {
              "order_ref": this.currentOrder.ref,
              "barcode": orderline.barcode || '',
              "category_id": orderline.category_id || '',
              "category_name": orderline.category_name || '',
              "product_id": orderline.id,
              "product_name": orderline.name,
              "print_name": orderline.print_name,
              "quantity": orderline.quantity || 0,
              "lineDiscountPercentage": orderline.lineDiscountPercentage || false,
              "line_discount": orderline.line_discount || 0,
              "discount_value": orderline.discount_value || 0,
              "sale_price": orderline.sale_price || 0,
              "mwst7": orderline.mwst7 || 0,
              "mwst19": orderline.mwst19 || 0,
              "mwst": orderline.mwst || 0,
              "subtotal": orderline.subtotal || 0,
              "total_price": orderline.total_price,
              "orderdate": this.currentOrder.orderdate,
              "ordertime": this.currentOrder.ordertime,
              "user_id": this.currentOrder.user_id,
              "session_id": this.currentOrder.session_id,
              "total_price_without_tax": orderline.total_price_without_tax,
              "uom": orderline.uom
          };
          let url = `${globalStore.baseUrl}offerlines/add`.replace("8069/ws", "1234");
          await axios.post(url, postBody)
        }
      },
      async remove_out_of_localStorage() {
        const userinfo = JSON.parse(localStorage.getItem(globalStore.cookieNameLoginInfo)).value[0];

        for (let i = 0; i < this.$store.state.product.orders.length; i++) {
          if (this.$store.state.product.orders[i].ref === this.currentOrder.ref) {
            this.$store.state.product.orders.splice(i, 1);
          }
        }
        this.$store.commit('resetCurrentOrder');
        const postOrderList = {
          "params": {
            'order': JSON.stringify(this.$store.state.product.orders),
            'username': userinfo.username.toString()
          }
        };
        await axios.post(`${globalStore.baseUrl}socket/setorderlist`, postOrderList);
        const postOrder = {"params": {'order': "", 'username': userinfo.username.toString()}};
        await axios.post(`${globalStore.baseUrl}socket/setorder`, postOrder);
      },


      detectQueryUrl() {
        this.queryurl = this.$route.query.type;
        this.queryreturnall = this.$route.query.returnall;
        this.queryreturnpart = this.$route.query.returnpart;
        this.querystornoall = this.$route.query.stornoall;
      },
      scrollDataBox(scrollDirection) {
        globalStore.handleScrollContent('.bill-layout-wrapper', scrollDirection, 120);
      },
      disableNextPageIfIsPrintCard() {
        if (typeof this.currentOrder.is_cash !== 'undefined') {
          if (this.currentOrder.is_cash && !this.queryurl) {
            let btnNext = document.querySelector('.btn-print-next-to-home');
            if (globalStore.domExists(btnNext)) {
              btnNext.classList.add('is-inactive');
            }
          }
        }
      },
      clickNum(val){
        if(val === 'reset'){
          this.gegeben = '';
        }
        if(val === 'delete'){
          if(this.gegeben.length > 0) {
            this.gegeben = this.gegeben.slice(0, -1);
          }
        }
        let number = ['1', '2', '3', '4', '5', '6', '7', '8', '9'];
        if(number.includes(val)){
          this.gegeben = this.gegeben + val;
        }
        if(['0', '00'].includes(val)){
          if(this.gegeben.length > 0){
            this.gegeben = this.gegeben + val;
          }
        }
      }
      // goToHome() {
      //   this.$store.commit('setPaymentNumber');
      // }
    },
    async created() {
      // this.commonService.handleLoginState(globalStore.cookieNameLoginInfo);
      this.detectQueryUrl();
      this.$store.commit('initCurrentPoint');
      this.getconfig();
      // Đổi thuế 7 và 19
      const postBody = {"params": {}};
      let response = await axios.post(`${globalStore.baseUrl}product/beginchangedate`, postBody);
      let val = JSON.parse(response.data.result);
      let datebegin = val.value;

      let respon = await axios.post(`${globalStore.baseUrl}product/endchangedate`, postBody);
      val = JSON.parse(respon.data.result);
      let dateend = val.value;

      if (this.$moment(new Date()) >= this.$moment(datebegin) &&
        this.$moment(new Date()) <= this.$moment(dateend)) {
        this.thue7 = '5';
        this.thue19 = '16';
      }
    },
    async mounted() {
      this.$nextTick(()=>{
        this.handleCalculatorPosition();
      })
      // window.addEventListener("afterprint", this.detectAfterPrint, false);
      this.disableNextPageIfIsPrintCard();
      this.init_current_order();
      if(!this.queryurl){
        let self = this;
        if(this.currentOrder.is_cash === false){
          setTimeout(function(){
            self.printDocument();
          }, 500);
          this.is_reprint_order = true;
          setTimeout(function(){
            self.printDocument();
            let btnNext = document.querySelector('.btn-print-next-to-home');
            if(globalStore.domExists(btnNext)) {
              btnNext.classList.remove('is-inactive');
            }
          }, 3000);
        }else{
          setTimeout(function(){
            self.printDocument();
          }, 500);
          this.is_reprint_order = true;
        }
      }
      //Mở hộp tiền bằng cách in 1 mẫu giấy nhỏ nếu như tính hóa đơn cash
      //if(this.currentOrder.is_cash) {
      //  let w = window.open("", "", "width=600,height=1");
      //  w.innerHTML = 'B';
      //  w.print();
      //  w.close();
      // }
      // Mở hộp tiền bằng lệnh bắn tới máy in IP


      if (!this.queryurl || typeof this.queryreturnall !== 'undefined' || this.queryurl === 'abschluss') {
        globalStore.doPrintIP();
      }
      await this.remove_out_of_localStorage();
      this.save_order_to_server();
      this.save_orderlines_to_server();

      this.enable_reprint = false;
    },
    watch: {
      gegeben(){
        if(this.gegeben === ''){
          this.zuruck = 0;
        } else {
          this.zuruck = parseFloat(this.gegeben/100).toFixed(2) - parseFloat(this.currentOrder.total_with_discount).toFixed(2);
        }
      }
    }
  };

</script>
