<template>
  <div class="body-wrapper">
    <main>
      <div class="bericht-header">
        <div class="bericht-header-button">
          <button type="button" @click="change_bericht_type('tagessession')" :class="{'is-active' : this.berichtType === 'tagessession'}">Tages Session Angebot</button>
          <button type="button" @click="goToOfferlist()">Angebot list</button>
          <button type="button" @click="goToOfferlistExport()">Angebot Export</button>
        </div>
        <div class="bericht-info-header">
          <datepicker v-model="selectedDate" :format="formatDate" v-if="berichtType === 'tagessession'"
                      class="datepicker-common">
          </datepicker>
          <label>
            <select class="select-common" v-model="selectedSession" v-if="berichtType === 'tagessession'">
              <option v-for="(session, index) in sessions" :value="session.id" :key="index">{{session.name}}</option>
            </select>
          </label>
        </div>
      </div>
      <div class="main-box bericht-page">
        <div class="flex-box bill-details-box">
          <div class="bill-layout-wrapper">
            <div class="bill-layout bill-layout-type2" v-if="berichtType === 'opensession'">
              <div class="bill-header">
                <div class="bill-single-item">
                  <div class="bill-row">
                    <div class="bill-col bill-col-product">
                      Kasse
                    </div>
                    <div class="bill-col bill-col-total-amount">
                      Begin zeit:
                    </div>
                  </div>
                </div>
                <div class="bill-single-item"> <br /> </div>
                <div class="bill-single-item" v-for="item in opensessions" :key="item.id">
                  <div class="bill-row">
                    <div class="bill-col bill-col-product">
                      {{item.user_name}}
                    </div>
                    <div class="bill-col bill-col-total-amount">
                      {{item.begintime}}
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!-- phần giao diện cho in hóa đơn -->
            <div class="bill-layout bill-layout-type2 bill-fix-height-offer" v-if="berichtType !== 'opensession'">
              <div class="bill-row bill-row-heading">
                <p>___Tổng_____________________</p>
              </div>
              <div class="bill-single-item"> </div>
              <div class="bill-single-item">
                <div class="bill-row">
                  <div class="bill-col bill-col-product">
                    Anzahl - Waren Mwst. {{thue7}}%
                  </div>
                  <div class="bill-col bill-col-total-amount">
                    {{anzahlmwst7}}
                  </div>
                </div>
              </div>
              <div class="bill-single-item">
                <div class="bill-row">
                  <div class="bill-col bill-col-product">
                    Summe - Waren Mwst. {{thue7}}%
                  </div>
                  <div class="bill-col bill-col-total-amount">
                    {{total7}}€
                  </div>
                </div>
              </div>
              <div class="bill-single-item">
                <div class="bill-row">
                  <div class="bill-col bill-col-product">
                    Anzahl - Waren Mwst. {{thue19}}%
                  </div>
                  <div class="bill-col bill-col-total-amount">
                    {{anzahlmwst19}}
                  </div>
                </div>
              </div>
              <div class="bill-single-item">
                <div class="bill-row">
                  <div class="bill-col bill-col-product">
                    Summe - Waren Mwst. {{thue19}}%
                  </div>
                  <div class="bill-col bill-col-total-amount">
                    {{total19}}€
                  </div>
                </div>
              </div>
              <div class="bill-single-item">
                <div class="bill-row">
                  <div class="bill-col bill-col-product">
                    Vorgange "Stornos"
                  </div>
                  <div class="bill-col bill-col-total-amount">
                    ({{anzahlstorno}}){{summestorno}}€
                  </div>
                </div>
              </div>
              <div class="bill-single-item">
                <div class="bill-row">
                  <div class="bill-col bill-col-product">
                    Anzahl Kunden
                  </div>
                  <div class="bill-col bill-col-total-amount">
                    {{kundenanzahl}}
                  </div>
                </div>
              </div>
              <div class="bill-single-item">
                <div class="bill-row bill-row-summe">
                  <div class="bill-col bill-col-product">
                    <b>Summe</b>
                  </div>
                  <div class="bill-col bill-col-total-amount">
                    <b>{{total_with_discount}}€</b>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="print-box">
          <div class="btn-print-box do-print" @click="printDocument()">
            <span class="icon-box"></span>
            <span class="text-box">
              Druck
            </span>
          </div>
          <div class="btn-print-box do-download" @click="exportExcelTagessession()" v-if="berichtType === 'tagessession'">
            <span class="icon-box"></span>
            <span class="text-box">
              Excel
            </span>
          </div>
          <div class="btn-print-box do-next" @click="logout()">
            <span class="icon-box"></span>
            <span class="text-box">
              Schließen
            </span>
          </div>
        </div>
      </div>
    </main>
    <div class="loading-box-bericht" v-if="loadingState">
      <div class="sk-circle-bericht">
        <div class="sk-circle1-bericht sk-child-bericht"></div>
        <div class="sk-circle2-bericht sk-child-bericht"></div>
        <div class="sk-circle3-bericht sk-child-bericht"></div>
        <div class="sk-circle4-bericht sk-child-bericht"></div>
        <div class="sk-circle5-bericht sk-child-bericht"></div>
        <div class="sk-circle6-bericht sk-child-bericht"></div>
        <div class="sk-circle7-bericht sk-child-bericht"></div>
        <div class="sk-circle8-bericht sk-child-bericht"></div>
        <div class="sk-circle9-bericht sk-child-bericht"></div>
        <div class="sk-circle10-bericht sk-child-bericht"></div>
        <div class="sk-circle11-bericht sk-child-bericht"></div>
        <div class="sk-circle12-bericht sk-child-bericht"></div>
      </div>
    </div>
    <app-popup></app-popup>
  </div>
</template>

<script>
  import Header from "./partials/Header.vue";
  import Datepicker from 'vuejs-datepicker';
  import axios from 'axios'
  import XLSX from 'xlsx'
  import Popup from "./modules/Popup.vue";
  import {
    globalStore
  } from '../global/global.js';
  export default {
    dependencies: ['commonService'],
    data() {
      return {
        begindate:{},
        berichtType: 'tagesession',
        selectedDate: new Date(),
        formatDate: 'dd-MM-yyyy',
        selectedSession:'',
        selectedSessionName:'',
        selectedSessionBegin: new Date(),
        selectedSessionEnd: new Date(),
        sessions: [],
        opensessions:[],
        posusers:[],
        selectedUser: {id: 9, login: "3", name: "Kasse 3"},
        selectedUsername:'',
        // Các biến số liệu
        kundenanzahl: '',
        total7: '',
        total19: '',
        total_with_discount: '',
        // DƯới đây tính bằng orderline
        anzahlmwst7: '',
        anzahlmwst19: '',
        anzahlstorno: '',
        summestorno: '',
        disablePrintMonth: false,
        export_data: [],
        loadingState: false,

        thue7: '7',
        thue19: '19',
        first_enter: false,
      };
    },
    components: {
      Datepicker,
      "app-popup": Popup,
    },

    methods: {
      printDocument() {
        if(this.selectedSession === '' && this.berichtType === 'tagessession'){
          this.$store.state.popup.warningContent = this.$i18n.t('Please select session');
          globalStore.showPopup('showWarning');
          return;
        }
        window.print();
      },
      goToOfferlist(){
        this.$router.push({path: 'list-offeredchef'});
      },
      goToOfferlistExport(){
        this.$router.push({path: 'list-offeredchef-export'});
      },
      resetAllValue(){
        this.selectedSessionName = '';
        this.selectedSessionBegin = new Date();
        this.selectedSessionEnd = new Date();
        this.lastbericht_fromdate = new Date();
        this.lastbericht_todate = new Date();
        this.kundenanzahl = '';
        this.total7 = '';
        this.total19 = '';
        this.total_with_discount = '';
        this.anzahlmwst7 = '';
        this.anzahlmwst19 = '';
        this.anzahlstorno = '';
        this.summestorno = '';
      },
      logout(){
        localStorage.removeItem(globalStore.cookieNameLoginInfo);
        this.$router.push('/');
      },
      downloadfile(content, fileName, contentType) {
        let a = document.createElement("a");
        let file = new Blob([content], {type: contentType});
        a.href = URL.createObjectURL(file);
        a.download = fileName;
        a.click();
      },
      async get_session_bericht(){
        this.total_with_discount = '';
        let session = this.selectedSession;
        let postBody = {
          "params": {
            "session": session
          }
        };
        let url = `${globalStore.baseUrl}offer/tagessession`.replace("8069/ws", "1234");
        let response = await axios.get(url, postBody);
        let orderval = response.data;
        this.kundenanzahl = orderval[0].kundenanzahl || 0;
        url = `${globalStore.baseUrl}offer/tagessession_lines`.replace("8069/ws", "1234");
        response = await axios.get(url, postBody);
        orderval = response.data;
        this.anzahlmwst7 = orderval[0].anzahlmwst7 || 0;
        this.anzahlmwst19 = orderval[0].anzahlmwst19 || 0;
        this.anzahlstorno = orderval[0].anzahlstorno || 0;
        this.summestorno = (orderval[0].summestorno || 0).toFixed(2);
        this.total7 = (orderval[0].total7 || 0).toFixed(2);
        this.total19 = (orderval[0].total19 || 0).toFixed(2);
        this.total_with_discount = (orderval[0].total_with_discount || 0).toFixed(2);
      },
      async exportExcelTagessession(){
        if(this.selectedSession == '' && this.berichtType == 'tagessession'){
          this.$store.state.popup.warningContent = this.$i18n.t('Please select session');
          globalStore.showPopup('showWarning');
          return;
        }
        let session = this.selectedSession;
        let postBody = {
          "params": {
            "sessionid": session
          }
        };
        this.loadingState = true;
        let url = `${globalStore.baseUrl}offer/detailtagessession`.replace("8069/ws", "1234");
        let response = await axios.get(url, postBody);
        let details = response.data;
        let detailexport = [['Datum', 'Beleg','Vom Kasse', 'Auftrag Rabatt', 'Barcode', 'Artikel Beschreibung', 'Drucken Beschreibung', 'Artikel Nummer', 'Artikel Menge','Artikel Einheit','Artikel MwSt','Artikel Einzelpreis','Artikel Gesamtpreis','Kategorie','Summestorno']];
        let ws3arr = [['Artikel Nummer', 'Artikel Menge', 'Artikel Einheit', 'Artikel Bezeichnung', 'Voll Beschreibung', 'Artikel Einzelpreis', 'Artikel MwSt', 'Artikel Gesamtpreis', 'Netto']];
        for (let i = 0; i < details.length; i++) {
          if(i > 0){
            if(details[i]['beleg'] !== details[i-1]['beleg']){
              if(details[i-1]['total_discount_in_amount'] > 0){
                detailexport.push(['', '', '', '', '', '', '', '', '', '', '', 'Gesamt Rabatt', parseFloat('-'+details[i-1]['total_discount_in_amount']), '']);
              }
            }
          }
          detailexport.push([details[i]['orderdate'], details[i]['beleg'], details[i]['user_input'], details[i]['discount_value'], details[i]['barcode'], details[i]['product_name'], details[i]['print_name'], details[i]['artikel_nummer'], details[i]['quantity'], details[i]['uom'], details[i]['mwst'], details[i]['sale_price'], details[i]['total_price'], details[i]['category_name'], details[i]['summestorno']])
          ws3arr.push([details[i]['artikel_nummer'], details[i]['quantity'], details[i]['uom'], details[i]['product_name'], details[i]['full_name'], details[i]['sale_price'], details[i]['mwst'], details[i]['total_price'], details[i]['total_price_without_tax']])
        }
        const ws = XLSX.utils.aoa_to_sheet(detailexport);
        const ws3 = XLSX.utils.aoa_to_sheet(ws3arr);

        url = `${globalStore.baseUrl}offer/exporttagessession`.replace("8069/ws", "1234");
        response = await axios.get(url, postBody);
        let orders = response.data;
        let orderexport = [['Datum', 'Beleg','Vom Kasse','Gesamt Rabatt', 'Netto', 'Brutto','Mwst 7%','Mwst 19%','Total 7%','Total 19%','Summe Storno']];
        for (let i = 0; i < orders.length; i++) {
          orders[i]['zahlungsmethode'] = orders[i]['is_cash'] ? 'Barzahlung' : 'Kartenzahlung';
          orderexport.push([orders[i]['orderdate'], orders[i]['beleg'], orders[i]['user_input'], orders[i]['total_discount_in_amount'], orders[i]['netto'], orders[i]['total_with_discount'], orders[i]['mwst7'], orders[i]['mwst19'], orders[i]['total7'], orders[i]['total19'], orders[i]['summestorno']])
          orders[i].lines = [];
          for (let j = 0; j < details.length; j++) {
            if(orders[i]['beleg'] === details[j]['beleg']){
              orders[i].lines.push(details[j]);
            }
          }
        }
        const ws1 = XLSX.utils.aoa_to_sheet(orderexport);

        url = `${globalStore.baseUrl}offer/detailtagessessiongroupby`.replace("8069/ws", "1234");
        response = await axios.get(url, postBody);
        let detailgroup = response.data;
        let detailgroupexport = [['Artikel Beschreibung','Drucken Beschreibung','DE Beschreibung','Category','Voll Beschreibung', 'Barcode','Artikel Nummer','Artikel Einheit','Artikel MwSt','Artikel Menge','Enkaufspreis', 'Artikel Einzelpreis','Auftrag Rabatt','Artikel Gesamtpreis']];
        for (let i = 0; i < detailgroup.length; i++) {
          detailgroupexport.push([detailgroup[i]['name'], detailgroup[i]['print_name'], detailgroup[i]['name_de'], detailgroup[i]['name_cate'], detailgroup[i]['full_name'], detailgroup[i]['barcode'], detailgroup[i]['artikel_nummer'], detailgroup[i]['uom'], detailgroup[i]['mwst'], detailgroup[i]['quantity'], detailgroup[i]['buy_price'], detailgroup[i]['sale_price'], detailgroup[i]['discount_value'], detailgroup[i]['total_price']])
        }
        const ws2 = XLSX.utils.aoa_to_sheet(detailgroupexport);
        const wb = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(wb, ws, 'Details');
        XLSX.utils.book_append_sheet(wb, ws1, 'Verkauf');
        XLSX.utils.book_append_sheet(wb, ws2, 'Produkt');
        XLSX.utils.book_append_sheet(wb, ws3, 'Lexware');
        XLSX.writeFile(wb, 'session.xlsx');
        this.loadingState = false;
      },
      change_bericht_type(type){
        this.berichtType = type;
        // tính lại chiều cao của page in khi thay đổi content của header
        setTimeout(() => {
          this.setHeightContainerbericht();
        }, 50);
      },

      async get_session_by_date(){
        let postBody = {
          "params": {
            "berichtdate": this.$moment(this.selectedDate).format("YYYY-MM-DD")
          }
        };
        let response = await axios.post(`${globalStore.baseUrl}session/get_by_day`, postBody);
        let ret = JSON.parse(response.data.result);
        ret = JSON.parse(ret.value);
        this.sessions = [];
        if(ret.length === 0){
          this.resetAllValue();
          if(!this.first_enter){
            this.$store.state.popup.warningContent = this.$i18n.t('No Session for today found, please close all session');
            globalStore.showPopup('showWarning');
          }
          this.first_enter = false;
          return;
        }
        for (let i = 0; i < ret.length; i++) {
          this.sessions.push({'name':ret[i].name,'id':ret[i].id});
        }
        this.selectedSession = ret[0].id;
        this.get_session_bericht();
        this.first_enter = false;
      },
      async get_open_session(){
        let response = await axios.post(`${globalStore.baseUrl}session/get_opensession`, {});
        let ret = JSON.parse(response.data.result);
        ret = JSON.parse(ret.value);
        this.opensessions = ret;
      },
      async get_session_name_by_id(){
        if(this.selectedSession === ''){
          return;
        }
        let postBody = {
          "params": {
            "session_id": this.selectedSession
          }
        };
        let response = await axios.post(`${globalStore.baseUrl}session/get_by_id`, postBody);
        let ret = JSON.parse(response.data.result);
        ret = JSON.parse(ret.value);
        this.selectedSessionName = ret[0].name;
        this.selectedUsername = ret[0].user_name;
        this.selectedSessionBegin = ret[0].begintime;
        this.selectedSessionEnd = ret[0].endtime;
      },
      setDefaultUser(){
        this.selectedUser = {id: 7, login: "1", name: "Kasse 5"};
      },
      setHeightContainerbericht() {
        let hHeader = document.querySelector('.bericht-header').getBoundingClientRect().height;
        let hFooter = document.querySelector('.print-box').getBoundingClientRect().height;
        document.querySelector('.bill-layout-wrapper').style.height = `calc(100vh - ${hHeader + hFooter}px)`;
      },
      get_user_info_bericht(){
        let tempUserinfo = JSON.parse(localStorage.getItem(globalStore.cookieNameLoginInfo));
        if(tempUserinfo === null){
          return false;
        }
        this.userinfo = JSON.parse(localStorage.getItem(globalStore.cookieNameLoginInfo)).value[0];
        return this.userinfo.cws_group === 'OFFER';
      },
    },
    async created() {
      let checklogin = this.get_user_info_bericht();
      if (!checklogin) {
        this.$router.push({path: '/loginoffer'});
      }else{
        this.berichtType = 'tagessession';
        this.first_enter = true;
      }
    },
    mounted(){
      this.setHeightContainerbericht();
      globalStore.socket.on('ask_socket_login', (val) => {
        let usernameask = val;
        let userinfo = JSON.parse(localStorage.getItem(globalStore.cookieNameLoginInfo)).value[0];
        if(userinfo.username.toString() === usernameask.username.toString() &&
          usernameask.logintime > userinfo.logintime){
          globalStore.socket.emit('alreadylogin', usernameask);
        }
      });
      globalStore.socket.on('alreadylogin', (val) => {
        let userinfo = JSON.parse(localStorage.getItem(globalStore.cookieNameLoginInfo)).value[0];
        if(val.logintime === userinfo.logintime){
          globalStore.userLogout();
          this.$router.push({path: '/'});
        }
      });
    },
    watch:{
      selectedDate(){
        this.get_session_by_date();
      },
      lastbericht_fromdate(){
        this.get_tages_bericht();
      },
      berichtType(){
        if(this.berichtType === 'tagessession'){
          this.get_session_by_date();
        }
      },
      selectedSession(){
        this.get_session_name_by_id();
        this.get_session_bericht();
      },
    }
  };

</script>
<style>
  .bill-fix-height-offer {
    height: 340px;
  }
  .loading-box-bericht{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    opacity: 0.3;
    background-color: black;
  }
  .sk-circle-bericht {
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -140px;
    position: absolute;
  }
  .sk-circle-bericht .sk-child-bericht {
    width: 100%;
    height: 100%;
    position: absolute;

  }
  .sk-circle-bericht .sk-child-bericht:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: red;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  }
  .sk-circle-bericht .sk-circle2-bericht {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg); }
  .sk-circle-bericht .sk-circle3-bericht {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg); }
  .sk-circle-bericht .sk-circle4-bericht {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .sk-circle-bericht .sk-circle5-bericht {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg); }
  .sk-circle-bericht .sk-circle6-bericht {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg); }
  .sk-circle-bericht .sk-circle7-bericht {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .sk-circle-bericht .sk-circle8-bericht {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg); }
  .sk-circle-bericht .sk-circle9-bericht {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg); }
  .sk-circle-bericht .sk-circle10-bericht {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg); }
  .sk-circle-bericht .sk-circle11-bericht {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg); }
  .sk-circle-bericht .sk-circle12-bericht {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg); }
  .sk-circle-bericht .sk-circle2-bericht:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s; }
  .sk-circle-bericht .sk-circle3-bericht:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s; }
  .sk-circle-bericht .sk-circle4-bericht:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s; }
  .sk-circle-bericht .sk-circle5-bericht:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s; }
  .sk-circle-bericht .sk-circle6-bericht:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s; }
  .sk-circle-bericht .sk-circle7-bericht:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s; }
  .sk-circle-bericht .sk-circle8-bericht:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s; }
  .sk-circle-bericht .sk-circle9-bericht:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s; }
  .sk-circle-bericht .sk-circle10-bericht:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s; }
  .sk-circle-bericht .sk-circle11-bericht:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s; }
  .sk-circle-bericht .sk-circle12-bericht:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s; }

  @-webkit-keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% {
        -webkit-transform: scale(1);
        transform: scale(1);
      }
  }

  @keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% {
        -webkit-transform: scale(1);
        transform: scale(1);
      }
  }
</style>
