<template>
  <div class="body-wrapper full-height">
    <app-header></app-header>
    <main>
      <div class="container">
        <div class="main-box flex-box">
          <app-payment-details></app-payment-details>
          <app-payment-calculator></app-payment-calculator>
        </div>
      </div>
      <app-popup></app-popup>
    </main>
  </div>
</template>

<script>
import Header from "./partials/Header.vue";
import PaymentCalculator from "./partials/PaymentCalculator.vue";
import PaymentDetails from "./partials/PaymentDetails.vue";
import Popup from "./modules/Popup.vue";
import { globalStore } from "../global/global.js";

export default {
  dependencies: ["commonService"],
  data() {
    return {};
  },
  components: {
    "app-header": Header,
    "app-payment-calculator": PaymentCalculator,
    "app-payment-details": PaymentDetails,
    "app-popup": Popup,
  },
  created() {
    if (typeof this.$store.state.product.currentOrder.lines === "undefined") {
      this.$router.push({ path: "/home" });
    } else {
      if (this.$store.state.product.currentOrder.lines.length === 0) {
        this.$router.push({ path: "/home" });
      }
    }
  },
  mounted() {
    this.$store.commit("resetClickMoneyCount");
    let self = this;
    if (typeof this.$route.query.returnall !== "undefined") {
      setTimeout(() => {
        self.$router.push({
          path: "/print",
          query: { returnall: this.$route.query.returnall },
        });
      }, 500);
    }
    if (typeof this.$route.query.returnpart !== "undefined") {
      setTimeout(() => {
        self.$router.push({
          path: "/print",
          query: { returnpart: this.$route.query.returnpart },
        });
      }, 500);
    }
  },
};
</script>
