<template>
  <div class="body-wrapper">
    <app-header></app-header>
    <main>
      <div class="box-wrapper">
        <div class="container">
          <div class="main-box flex-box">
            <div class="return-details-wrapper">
              <div class="return-details-box">
                <div class="return-details-header">
                  <router-link :to="{ path: '/list-ordered', query: { type: 'reload' } }" class="link-item">Back</router-link>
                </div>

                <div class="order-return-details">
                  <div class="order-return-details-header">
                    <h3>Order details</h3>
                    <div class="return-complete-btn" @click="clickReloadAll()">
                      <span>
                        {{ $t('Reload') }}
                      </span>
                    </div>
                  </div>
                  <div class="order-return-details-data">
                    <ul class="list-return-data">
                      <li class="return-data-item">
                        <div class="return-data-title">
                          Beleg:
                        </div>
                        <div class="return-data-content">
                          {{orderData.beleg}}
                        </div>
                      </li>
                      <li class="return-data-item">
                        <div class="return-data-title">
                          Date:
                        </div>
                        <div class="return-data-content" v-if="orderData.orderdate">
                          {{orderData.orderdate | moment("DD.MM.YYYY")}}
                        </div>
                      </li>
                      <li class="return-data-item">
                        <div class="return-data-title">
                          Customer:
                        </div>
                        <div class="return-data-content">
                          -
                        </div>
                      </li>
                      <li class="return-data-item">
                        <div class="return-data-title">
                          Return/Refund:
                        </div>
                        <div class="return-data-content">
                          {{return_count.count}}
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="product-list-box">
                  <div class="product-list-wrapper">
                    <div class="row-header">
                      <div class="row-pl">
                        <div class="col-pl">
                          Product
                        </div>
                        <div class="col-pl">
                          Quantity
                        </div>
                        <div class="col-pl">
                          Returns
                        </div>
                        <div class="col-pl">
                          Remain
                        </div>
                        <div class="col-pl">
                          Unit price
                        </div>
                        <div class="col-pl">
                          Discount(€)
                        </div>
                        <div class="col-pl">
                          Total
                        </div>
                        <div class="col-pl">
                          Check
                        </div>
                      </div>
                    </div>
                    <div class="row-body">
                      <div class="row-pl" v-for="(product, index) in $store.state.product.reloadProductList" :key="index">
                        <div class="col-pl">
                          {{product.product_name}}
                        </div>
                        <div class="col-pl">
                          {{product.quantity}}
                        </div>
                        <div class="col-pl">
                          {{product.return === null ? '0' : product.return}}
                        </div>
                        <div class="col-pl">
                          {{product.remain === null ? '0' : product.remain}}
                        </div>
                        <div class="col-pl">
                          {{product.sale_price}}€
                        </div>
                        <div class="col-pl">
                          {{product.discount_value === null ? '0' : product.discount_value}}
                        </div>
                        <div class="col-pl">
                          {{product.total_price}} €
                        </div>
                        <div class="col-pl col-return-quantity">
                          <label class="input-pos">
                            <input type="checkbox" v-model="product.reloadmenge" v-on:input="handleInputProductReload(index)">
                            <span class="checkmark"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="return-item-row">
                  <div class="return-item-btn" @click="clickReload()">
                    <span>
                      {{ $t('Confirm Item Reload') }}
                    </span>
                  </div>
                </div>

                <div class="order-return-sub-details">
                  <ul class="order-return-sub-details-list">
                    <li class="order-return-sub-details-item">
                      <div class="sub-details-title">
                        Payment modes:
                      </div>
                      <div class="sub-details-data">
                        -
                      </div>
                    </li>
                    <li class="order-return-sub-details-item">
                      <div class="sub-details-title">
                        Total:
                      </div>
                      <div class="sub-details-data">
                        {{orderData.total_give}}€
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <app-popup />
  </div>
</template>

<script>
  import Header from "./partials/Header.vue";
  import axios from 'axios'
  import Popup from "@/components/modules/Popup.vue";
  import {globalStore} from '../global/global.js';

  export default {
    dependencies: ['commonService'],
    data() {
      return {
        idOrder: '',
        orderData: {},
        toReturn: [],
        currentOrder: {},
        return_count:{},
      };
    },
    components: {
      "app-header": Header,
      "app-popup": Popup,
    },
    methods: {
        getOrderData() {
            this.idOrder = this.$route.params.id;
            const postBody = {
                "params": {
                    "ref": this.idOrder
                }
            };
            axios.post(`${globalStore.baseUrl}orders/get_by_ref`, postBody)
            .then(response => {
                let ret = JSON.parse(response.data.result);
                this.orderData = JSON.parse(ret.value.replace(/\bNaN\b/g, 'null'))[0];
                axios.post(`${globalStore.baseUrl}orderlines/getlist_by_ref`, postBody)
                .then(response => {
                    let ret = JSON.parse(response.data.result);
                    this.$store.state.product.reloadProductList = JSON.parse(ret.value.replace(/\bNaN\b/g, 'null'));
                    this.$store.state.product.reloadProductList = [...this.$store.state.product.reloadProductList].filter((e)=>{
                      return e.total_price > 0;
                    });
                    this.$store.state.product.reloadProductList.map((e)=>{
                      e.reloadmenge = false;
                    });
                });
            });
        },
        get_count_retoure(ref) {
            const postBody = {
                "params": {
                    "ref": ref
                }
            };
            axios.post(`${globalStore.baseUrl}orders/return_count`, postBody)
            .then(response => {
                let ret = JSON.parse(response.data.result);
                ret = JSON.parse(ret.value.replace(/\bNaN\b/g, 'null'))[0];
                this.return_count = ret;
            });
        },
        async clickReloadAll(){
          if(this.$store.state.product.currentOrder.lines.length > 0){
            this.$store.state.popup.warningContent = this.$i18n.t('This is not blank order, please create new');
            globalStore.showPopup('showWarning');
            return;
          }
          this.$store.state.product.reloadProductList.map((e)=>{
            e.reloadmenge = true;
          });
          let itemtoreturn = {};
          for (let i = 0; i < this.$store.state.product.reloadProductList.length; i++) {
            let prod = this.$store.state.product.reloadProductList[i];
            if(prod.reloadmenge){
              for (let j = 0; j < this.$store.state.product.allProduct.length; j++) {
                if (this.$store.state.product.allProduct[j].id === prod.product_id) {
                  itemtoreturn = this.$store.state.product.allProduct[j]
                }
              }
              // add product kg vì nó thêm dòng mới
              await this.$store.dispatch('doAddProductToOrderListKg', itemtoreturn);
              this.$store.state.product.buffer = '';
              await this.$store.dispatch('setMengeValue', prod.quantity || 0);
              await this.$store.dispatch('setPreisValue', prod.sale_price || 0);
              let discountval = {"line_discount": prod.line_discount || 0, "discount_value": prod.discount_value || 0, "linediscountpercentage": prod.linediscountpercentage || false}
              await this.$store.dispatch('setRabattValue', discountval);
              if (prod.uom === "Karton" || prod.uom === "Packung") {
                await this.$store.dispatch('setUomCurrentLine', prod.uom);
              }
            }
          }
          let current_ref = this.$store.state.product.currentOrder.ref;
          let self = this;
          let loadingBox = document.querySelector('.loading-box');
          loadingBox.classList.add('loading-state');
          setTimeout(()=>{
            self.$router.push({path: '/home', query: { origin: 'back' }});
            loadingBox.classList.remove('loading-state');
          },500);
        },
        async clickReload(){
          if(this.$store.state.product.currentOrder.lines.length > 0){
            this.$store.state.popup.warningContent = this.$i18n.t('This is not blank order, please create new');
            globalStore.showPopup('showWarning');
            return;
          }
          let itemtoreturn = {};
          for (let i = 0; i < this.$store.state.product.reloadProductList.length; i++) {
            let prod = this.$store.state.product.reloadProductList[i];
            if(prod.reloadmenge){
              for (let j = 0; j < this.$store.state.product.allProduct.length; j++) {
                if (this.$store.state.product.allProduct[j].id === prod.product_id) {
                  itemtoreturn = this.$store.state.product.allProduct[j]
                }
              }
              // add product kg vì nó thêm dòng mới
              await this.$store.dispatch('doAddProductToOrderListKg', itemtoreturn);
              this.$store.state.product.buffer = '';
              await this.$store.dispatch('setMengeValue', prod.quantity || 0);
              await this.$store.dispatch('setPreisValue', prod.sale_price || 0);
              let discountval = {"line_discount": prod.line_discount || 0, "discount_value": prod.discount_value || 0, "linediscountpercentage": prod.linediscountpercentage || false}
              await this.$store.dispatch('setRabattValue', discountval);
              if (prod.uom === "Karton" || prod.uom === "Packung") {
                await this.$store.dispatch('setUomCurrentLine', prod.uom);
              }
            }
          }
          let current_ref = this.$store.state.product.currentOrder.ref;
          let self = this;
          let loadingBox = document.querySelector('.loading-box');
          loadingBox.classList.add('loading-state');
          setTimeout(()=>{
            self.$router.push({path: '/home', query: { origin: 'back' }});
            loadingBox.classList.remove('loading-state');
          },500);
        },
        handleInputProductReload(index) {
          this.$store.state.product.reloadProductList[index].reloadmenge = !this.$store.state.product.reloadProductList[index].reloadmenge;
        },
    },
    created() {
        // this.commonService.handleLoginState(globalStore.cookieNameLoginInfo);
        this.getOrderData();
    },
    mounted(){
        localStorage.removeItem('returnList');
    },
    watch: {
        orderData(){
            this.get_count_retoure(this.orderData.ref);
        }
    }
  };

</script>

<style>


</style>
