<template>
  <div class="body-wrapper">
    <app-header></app-header>
    <main>
      <div class="box-wrapper">
        <div class="container">
          <div class="main-box flex-box">
            <div class="return-details-wrapper">
              <div class="return-details-box">
                <div class="return-details-header" @click="clickBack()">
                  <router-link :to="{ path: '/list-ordered', query: { type: 'retour' } }" class="link-item">
                    {{ $t('Back') }}
                  </router-link>
                </div>

                <div class="order-return-details">
                  <div class="order-return-details-header">
                    <h3>
                      {{ $t('Order Details') }}
                    </h3>
                    <div class="return-complete-btn" @click="returnAllClick()">
                      <span>
                        {{ $t('Return all') }}
                      </span>
                    </div>
                    <div class="return-item-btn" @click="returnPartClick()">
                      <span>
                        {{ $t('Confirm Item Return') }}
                      </span>
                    </div>
                  </div>
                  <div class="order-return-details-data">
                    <ul class="list-return-data">
                      <li class="return-data-item">
                        <div class="return-data-title">
                          Beleg:
                        </div>
                        <div class="return-data-content">
                          {{orderData.beleg}}
                        </div>
                      </li>
                      <li class="return-data-item">
                        <div class="return-data-title">
                          {{ $t('Date') }}:
                        </div>
                        <div class="return-data-content" v-if="orderData.orderdate">
                          {{orderData.orderdate | moment("DD.MM.YYYY")}}
                        </div>
                      </li>
                      <li class="return-data-item">
                        <div class="return-data-title" style="text-transform: ">
                          {{ $t('Customer') }}:
                        </div>
                        <div class="return-data-content">
                          -
                        </div>
                      </li>
                      <li class="return-data-item">
                        <div class="return-data-title">
                          {{ $t('Return/Refund') }}:
                        </div>
                        <div class="return-data-content">
                          {{return_count.count}}
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="product-list-box">
                  <div class="product-list-wrapper">
                    <div class="row-header">
                      <div class="row-pl">
                        <div class="col-pl big-type">
                          {{ $t('Product') }}
                        </div>
                        <div class="col-pl small-type">
                          {{ $t('Quantity') }}
                        </div>
                        <div class="col-pl small-type">
                          {{ $t('Returns') }}
                        </div>
                        <div class="col-pl small-type">
                          {{ $t('Remain') }}
                        </div>
                        <div class="col-pl">
                          {{ $t('Unit Price') }}
                        </div>
                        <div class="col-pl">
                          {{ $t('Discount') }}(€)
                        </div>
                        <div class="col-pl">
                          {{ $t('Total') }}
                        </div>
                        <div class="col-pl col-return-quantity">
                          {{ $t('Return quantity') }}
                        </div>
                      </div>
                    </div>
                    <div class="row-body">
                      <div class="row-pl" v-for="(product, index) in listProductByOrderId" :key="index">
                        <div class="col-pl big-type">
                          {{product.product_name}}
                        </div>
                        <div class="col-pl small-type">
                          {{product.quantity}}
                        </div>
                        <div class="col-pl small-type">
                          {{product.return === null ? '0' : product.return}}
                        </div>
                        <div class="col-pl small-type">
                          {{product.remain === null ? '0' : product.remain}}
                        </div>
                        <div class="col-pl">
                          {{product.sale_price}}€
                        </div>
                        <div class="col-pl">
                          {{product.discount_value === null ? '0' : product.discount_value}}
                        </div>
                        <div class="col-pl">
                          {{product.total_price}} €
                        </div>
                        <div class="col-pl col-return-quantity">
                          <div class="return-quantity-input-wrapper">
                            <input v-if="!product['is_storno']" type="text" v-model="toReturn[index]" class="return-quantity-input"
                                   v-on:input="handleInputProductReturn(product, index, $event.target.value)"
                                   v-on:focus="showKeyboard($event, product, index)">
                            <input disabled v-if="product['is_storno']" type="text" v-model="toReturn[index]" class="return-quantity-input"
                                   v-on:input="handleInputProductReturn(product, index, $event.target.value)"
                                   v-on:focus="showKeyboard($event, product, index)">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="return-item-row">
                  <div class="return-item-btn" @click="returnPartClick()">
                    <span>
                      {{ $t('Confirm Item Return') }}
                    </span>
                  </div>
                </div>

                <div class="order-return-sub-details">
                  <ul class="order-return-sub-details-list">
                    <li class="order-return-sub-details-item">
                      <div class="sub-details-title">
                        {{ $t('Payment modes') }}:
                      </div>
                      <div class="sub-details-data">
                        -
                      </div>
                    </li>
                    <li class="order-return-sub-details-item">
                      <div class="sub-details-title">
                        {{ $t('Total') }}:
                      </div>
                      <div class="sub-details-data">
                        {{orderData.total_with_discount}}€
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <vue-touch-keyboard class="keyboard-return-product" v-if="visible" :layout="layout" :cancel="hideKeyboard"
                        :accept="acceptKeyboard" :input="input" :change="changeValueKeyboard"/>
    <app-popup />
  </div>
</template>

<script>
  import Header from "./partials/Header.vue";
  import axios from 'axios'
  import Popup from "./modules/Popup.vue";
  import {
    globalStore
  } from '../global/global.js';

  export default {
    dependencies: ['commonService'],
    data() {
      return {
        idOrder: '',
        orderData: {},
        toReturn: [],
        currentOrder: {},
        return_count: {},
        listProductByOrderId: [],

        // tạo biến để lưu thông tin product khi focus vào input
        currentProductFocus: {},
        currentIndexFocus: '',

        // biến sử dụng cho bàn phím ảo
        visible: false,
        layout: 'numeric',
        input: null,
        options: {
          useKbEvents: false,
          preventClickEvent: false
        }
      };
    },
    components: {
      "app-header": Header,
      "app-popup": Popup,
    },
    methods: {
      clickBack() {
        localStorage.removeItem('returnList');
      },
      getOrderData() {
        this.idOrder = this.$route.params.id;
        const postBody = {
          "params": {
            "ref": this.idOrder
          }
        };
        axios.post(`${globalStore.baseUrl}orders/get_by_ref`, postBody)
            .then(response => {
              let ret = JSON.parse(response.data.result);
              this.orderData = JSON.parse(ret.value.replace(/\bNaN\b/g, 'null'))[0];
              axios.post(`${globalStore.baseUrl}orderlines/getlist_by_ref`, postBody)
                  .then(response => {
                    let ret = JSON.parse(response.data.result);
                    this.listProductByOrderId = JSON.parse(ret.value.replace(/\bNaN\b/g, 'null'));
                    this.listProductByOrderId = this.check_storno_line(this.listProductByOrderId);
                  });
            });
      },
      check_storno_line(li){
        let return_list = li;
        for (let i = 0; i < return_list.length; i++) {
          if(typeof return_list[i]['is_storno'] === 'undefined'){
            return_list[i]['is_storno'] = false;
          }
          if(return_list[i]['quantity'] < 0){
            return_list[i]['is_storno'] = true;
            let product_id = return_list[i]['product_id'];
            let quantity = - return_list[i]['quantity'];
            for (let j = 0; j < return_list.length; j++) {
              if(return_list[j]['quantity'] === quantity && return_list[j]['product_id'] === product_id){
                return_list[j]['is_storno'] = true;
                break;
              }
            }
          }
        }
        return return_list;
      },
      get_count_retoure(ref) {
        const postBody = {
          "params": {
            "ref": ref
          }
        };
        axios.post(`${globalStore.baseUrl}orders/return_count`, postBody)
            .then(response => {
              let ret = JSON.parse(response.data.result);
              ret = JSON.parse(ret.value.replace(/\bNaN\b/g, 'null'))[0];
              this.return_count = ret;
            });
      },
      returnAllClick() {
        this.$router.push({path: '/home?origin=back', query: {returnall: this.orderData.ref}});
      },
      returnPartClick() {
        let localCollection = localStorage.getItem('returnList');
        localCollection = JSON.parse(localCollection) || [];
        let checkcheck = true;
        if(localCollection.length === 0){
          checkcheck = false;
        }
        let sum = 0;
        for (let i = 0; i < localCollection.length; i++) {
          sum += localCollection[i].value;
        }
        if (sum === 0){checkcheck = false;}
        if(checkcheck){
          this.$router.push({path: '/home?origin=back', query: {returnpart: this.orderData.ref}});
        }else{
          this.$store.state.popup.warningContent = this.$i18n.t('No product to retoure');
          globalStore.showPopup('showWarning');
          return;
        }
      },
      handleInputProductReturn(product, index, value) {
        // Không cho gõ số lớn hơn remain
        let remainquantity = 0;
        if (typeof product.remain === 'undefined' || product.remain === null) {
          remainquantity = product.quantity
        } else {
          remainquantity = product.remain;
        }
        if (parseFloat(value) > parseFloat(remainquantity)) {
          value = remainquantity;
          this.input.value = value;
        }
        this.toReturn[index] = value;
        // Lôi localstorage ra để kiểm tra
        let localCollection = localStorage.getItem('returnList');
        localCollection = JSON.parse(localCollection) || [];
        // Trong trường hợp nó xóa hết dữ liệu thì phải xóa cái local sản phẩm này đi
        if (value === '' || value === 0 || value === '0') {
          value = 0;
          localCollection = [...localCollection].filter(e=>{
            return e.product_id !== product.product_id && e.sale_price !== product.sale_price;
          });
        }
        let cal_remain = product.remain - value;
        let new_return = parseFloat(product.return || 0) + parseFloat(value);
        if (product.remain == null || typeof product.remain === 'undefined') {
          cal_remain = product.quantity - value;
        }
        let arrcheck = localCollection.filter(e=>{
          return e.product_id === product.product_id && e.sale_price === product.sale_price;
        });
        if(arrcheck.length === 0){
          localCollection.push({
            'order_id': product.order_ref,
            'value': value,
            'product_id': product.product_id,
            'quantity': product.quantity,
            'sale_price': product.sale_price,
            'new_return': new_return,
            'exist_return': product.return || 0,
            'new_remain': cal_remain
          });
        }else{
          const targetIndex = localCollection.findIndex(p=>p.product_id === product.product_id &&
                                                      p.sale_price === product.sale_price
                                                      );
          localCollection[targetIndex]['value'] = value;
        }
        localStorage.setItem('returnList', JSON.stringify(localCollection));
      },
      save_to_server() {
        this.save_order_to_server();
        this.save_orderlines_to_server()
      },
      save_order_to_server() {
        var userinfo = JSON.parse(localStorage.getItem(globalStore.cookieNameLoginInfo)).value[0];
        this.currentOrder.username = userinfo.username;
        this.currentOrder.user_id = userinfo.userid;
        this.currentOrder.session_id = this.$store.state.product.currentSesssion;
        this.currentOrder.ordertime = globalStore.$moment(new Date()).format("YYYY-MM-DD HH:mm:ss");
        this.currentOrder.orderdate = globalStore.$moment(new Date()).format("YYYY-MM-DD");
        const postBody = {
          "params": {
            "ref": this.currentOrder.ref,
            "mwst7": this.currentOrder.mwst7 || 0,
            "mwst19": this.currentOrder.mwst19 || 0,
            "mwst": this.currentOrder.mwst || 0,
            "discount_mwst7": this.currentOrder.discount_mwst7 || 0,
            "discount_mwst19": this.currentOrder.discount_mwst19 || 0,
            "total7": this.currentOrder.total7 || 0,
            "total19": this.currentOrder.total19 || 0,
            "orderdiscountlines": this.currentOrder.orderdiscountlines || 0,
            "total_without_discount": this.currentOrder.total_without_discount,
            "total_discount": this.currentOrder.total_discount || 0,
            "discount_type": this.currentOrder.discount_type || 'amount',
            "total_discount_in_amount": this.currentOrder.total_discount_in_amount || 0,
            "total_with_discount": this.currentOrder.total_with_discount,
            "total_give": this.currentOrder.total_give,
            "return_back": this.currentOrder.return_back,
            "netto": this.currentOrder.netto,
            "user_input": this.currentOrder.username,
            "user_id": this.currentOrder.user_id,
            "session_id": this.currentOrder.session_id,
            "ordertime": this.currentOrder.ordertime,
            "orderdate": this.currentOrder.orderdate,
            "is_cash": this.currentOrder.is_cash,
            "is_packlist": false
          }
        };
        axios.post(`${globalStore.baseUrl}orders/add`, postBody)
            .then(response => {
              var ret = JSON.parse(response.data.result);
              var return_beleg = '00000000' + ret.value[0].beleg;
              this.beleg = return_beleg.substr(return_beleg.length - 8);
              this.currentOrder.beleg = this.beleg;
            });
      },
      save_orderlines_to_server() {
        var orderlines = this.currentOrder.lines;
        for (var i = 0; i < orderlines.length; i++) {
          var orderline = orderlines[i];
          var postBody = {
            "params": {
              "order_ref": this.currentOrder.ref,
              "barcode": orderline.barcode || '',
              "category_id": orderline.category_id || '',
              "category_name": orderline.category_name || '',
              "product_id": orderline.id,
              "product_name": orderline.name,
              "quantity": orderline.quantity || 0,
              "lineDiscountPercentage": orderline.lineDiscountPercentage || false,
              "discount_value": orderline.discount_value || 0,
              "sale_price": orderline.sale_price || 0,
              "mwst7": orderline.mwst7 || 0,
              "mwst19": orderline.mwst19 || 0,
              "mwst": orderline.mwst || 0,
              "subtotal": orderline.subtotal || 0,
              "total_price": orderline.total_price,
              "orderdate": this.currentOrder.orderdate,
              "ordertime": this.currentOrder.ordertime,
              "session_id": this.currentOrder.session_id,
              "total_price_without_tax": orderline.total_price_without_tax,
              "uom": orderline.uom
            }
          };
          axios.post(`${globalStore.baseUrl}orderlines/add`, postBody)
        }
      },

      // method sử dụng cho bàn phím ảo
      acceptKeyboard(text) {
        this.hideKeyboard();
      },
      showKeyboard(e, product, index) {
        this.input = e.target;
        // this.layout = e.target.dataset.layout;

        if (!this.visible) {
          this.visible = true
        }

        // xử lý data khi focus input return
        this.currentProductFocus = product;
        this.currentIndexFocus = index;
      },
      hideKeyboard() {
        this.visible = false;
      },
      changeValueKeyboard(value) {
        this.handleInputProductReturn(this.currentProductFocus, this.currentIndexFocus, value);
      }
    },
    created() {
      // this.commonService.handleLoginState(globalStore.cookieNameLoginInfo);
      this.getOrderData();
    },
    mounted() {
      localStorage.removeItem('returnList');
    },
    watch: {
      orderData() {
        this.get_count_retoure(this.orderData.ref);
      }
    }
  };

</script>

<style>


</style>
