<template>
    <div class="body-wrapper">
        <main>
            <div class="container">
                <div class="main-box flex-box">
                    <app-weight-details></app-weight-details>
                    <app-payment-calculator></app-payment-calculator>
                </div>
            </div>
        </main>
    </div>
</template>

<script>
    import PaymentCalculator from "./partials/PaymentCalculator.vue";
    import PaymentDetails from "./partials/PaymentDetails.vue";
    import WeightDetails from "./partials/WeightDetails.vue";
    import {
        globalStore
    } from '../global/global.js';

    export default {
        dependencies: ['commonService'],
        data() {
            return {};
        },
        components: {
            "app-payment-calculator": PaymentCalculator,
            "app-payment-details": PaymentDetails,
            "app-weight-details": WeightDetails
        },
        methods: {},
        created() {},
        mounted() {}
    };
</script>