* {
  box-sizing: border-box;
  outline: none;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

::-webkit-scrollbar {
  display: block;
  width: 80px;
}

::-webkit-scrollbar-track {
  background: $grayDroid;
}

::-webkit-scrollbar-thumb {
  background: $red;
}

::-webkit-scrollbar-button {
  cursor: pointer;
}

// ::-webkit-scrollbar-button:vertical:decrement {
//   width: 100%;
//   height: 52px;
//   background: url(#{$urlImg}/ic_arrow_drop_up_black_24px.svg) no-repeat center $greenDark;
//   background-size: auto 35px;
//   display: block;
// }
// ::-webkit-scrollbar-button:vertical:increment {
//   width: 100%;
//   height: 52px;
//   background: url(#{$urlImg}/ic_arrow_drop_down_black_24px.svg) no-repeat center $greenDark;
//   background-size: auto 35px;
//   display: block;
// }

html,
body {
  height: 100%;
}

body {
  font-family: $font-roboto;
  color: $mainGray;
  font-size: 16px;
  font-weight: $regular;

  &.is-window {
    cursor: none !important;
  }

  @include xs {
    font-size: 14px;
  }
}

#app {
  display: flex;
  justify-content: center;
}

.body-wrapper {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}

a {
  color: $mainGray;
  @include transition(color 0.5s $cubic3);
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: $blueDark;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }
}

table {
  tr,
  th,
  td {
    padding: 0;
    border: none;
  }
}

// Typo
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: $bold;
  letter-spacing: 0px;
  color: $grayBright;
  text-align: center;
  font-size: 45px;
}

button,
input,
optgroup,
select,
textarea {
  font-family: $font-roboto;
  font-weight: $light;
  color: $mainGray;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;

  &:after,
  &:before {
    content: "";
    display: table;
    clear: both;
  }
}

strong {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

.full-width {
  width: 100% !important;
}

.button {
  display: inline-block;
  background: $mainGray;
  color: white;
  padding: 13px 20px;
}

.input-default {
  border: none;
  border-bottom: 1px solid white;
  width: 100%;

  &.input-search-default {
    padding: 8px 0 8px 34px;
    background: url(#{$urlImg}/search.svg) no-repeat left center transparent;
    background-size: 26px auto;
    padding-right: 40px;
  }
}

.search-nav {
  margin-right: 17px;
  width: 270px;
  position: relative;

  @include device {
    width: 180px;
  }

  .reset-search {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40px;
    cursor: pointer;
    background: url(#{$urlImg}/close-white.svg) no-repeat center;
    background-size: 100% 70%;

    &.black-type {
      background-image: url(#{$urlImg}/baseline-close-24px.svg);
    }
  }
}

@include placeholder {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.select-custom-style {
  border: none;
  box-shadow: none; // background: url(#{$urlImg}/arrow-down-blue.svg) no-repeat right center;
  background-size: 8px auto;
  padding: 0 12px 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;

  &:focus {
    border: none;
  }
}

.flex-box {
  @include display-flex();
}

.flex-center {
  @include display-flex();
  @include justify-content(center);
  @include align-items(center);
}

.white {
  color: white !important;

  @include placeholder {
    color: white !important;
  }
}

.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid $grayLine;
  margin-bottom: 42px;

  &.has-value {
    .focus-input {
      &:before {
        width: 100%;
      }

      span {
        top: -6px;
        font-size: 14px;
      }
    }
  }
}

.input-naked-line {
  &:focus {
    + .focus-input {
      &:before {
        width: 100%;
      }

      span {
        top: -6px;
        font-size: 14px;
      }
    }
  }

  border: none;
  display: block;
  background: transparent;
  width: 100%;
  padding: 0 5px;
  font-size: 15px;
  color: $grayBron;
  height: 45px;
  position: relative;
  z-index: 1;
}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  font-weight: $regular;
  color: $grayDroid;
  padding: 0 5px;

  &:before {
    content: "";
    height: 2px;
    width: 0;
    background: $greenDark;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: all 0.5s $cubic1;
  }

  span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s $cubic1;
  }
}

.data-table {
  .data-table-wrapper {
    border: 1px solid $grayBright;
  }

  .row-pl {
    .col-pl {
      text-align: left;
      justify-content: flex-start;
      padding: 8px 0 8px 10px;
      font-size: 21px;
    }
  }

  .row-body {
    .row-pl {
      height: auto;
    }
  }
}

.row-pl {
  display: flex;
  background: white;
  position: relative;

  .col-pl {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2px;

    &.col-pl-name {
      flex: 3;
    }

    &.small-type {
      max-width: 130px;
    }

    &.big-type {
      min-width: 270px;
      max-width: 270px;
    }
  }

  .link-row {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

.row-header {
  font-weight: $bold;
  border-bottom: 1px solid $grayBright;
}

.row-body {
  .row-pl {
    height: 38px;
    overflow: hidden;

    &:nth-of-type(2n + 1) {
      background: #eceaea;
    }
  }
}

.product-list-scroll-box {
  width: 70px;
  background: $grayDroid;
  border-bottom: 1px solid $grayBright;

  @include device {
    width: 50px;
  }
}

.scroll-box-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

  .pager-text {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      width: 65px;
      height: 65px;
      border-radius: 50%;
      color: white;
      background: $red;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 28px;
      font-weight: $bold;
    }
  }
}

.btn-scroll {
  height: 50px;
  width: 100%;
  background: $cyan;
  cursor: pointer;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 52px;
    height: 26px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;

    @include device {
      width: 40px;
    }
  }

  &.btn-scroll-up {
    &::before {
      background-image: url(#{$urlImg}/ic_arrow_drop_up_black_24px.svg);
    }
  }

  &.btn-scroll-down {
    &::before {
      background-image: url(#{$urlImg}/ic_arrow_drop_down_black_24px.svg);
    }
  }
}

.vdp-datepicker {
  &.datepicker-common {
    > div {
    }

    input {
      text-align: center;
      font-weight: $regular;
      font-size: 35px;

      @include xs {
        font-size: 30px;
      }

      @include xsm {
        font-size: 28px;
      }

      @include xxsm {
        font-size: 23px;
      }
    }
  }
}

.select-common {
  font-weight: $regular;
}

.font-13 {
  font-size: 13px !important;

  @include device {
    font-size: 11px !important;
  }
}

.font-15 {
  font-size: 15px !important;
}

.font-17 {
  font-size: 17px !important;
}

.font-30 {
  font-size: 30px !important;
}

.text-center {
  text-align: center !important;
  justify-content: center !important;
}

.disableMakePayment {
  color: red;
}

.full-page-content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &.full-page-with-header {
    height: calc(100vh - 65px);
  }
}

.show-scrollbar {
  &::-webkit-scrollbar {
    display: block;
    width: 80px;
  }

  &::-webkit-scrollbar-track {
    background: $grayDroid;
  }

  &::-webkit-scrollbar-thumb {
    background: $red;
  }
}

.color-orange {
  color: $mainOrange !important;
}

.color-green {
  color: $greenDark !important;
}

.color-red {
  color: $red !important;
}

.btn-with-loading {
  position: relative;
  @include vertablet {
    margin: 5px 0;
  }
  &.is-loading {
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 20;
    }

    .btn-loading-box {
      display: block;
    }

    .btn-routing {
      opacity: 0.7;
      padding-right: 62px !important;

      &:after {
        right: 35px !important;
      }
    }
  }

  .btn-loading-box {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: none;

    .lds-ring {
      display: inline-block;
      position: relative;
      width: 100%;
      height: 100%;
    }

    .lds-ring div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      margin: 0px;
      border: 2.5px solid #fff;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: #fff transparent transparent transparent;
    }

    .lds-ring div:nth-child(1) {
      animation-delay: -0.45s;
    }

    .lds-ring div:nth-child(2) {
      animation-delay: -0.3s;
    }

    .lds-ring div:nth-child(3) {
      animation-delay: -0.15s;
    }

    @keyframes lds-ring {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}

.alert {
  color: $red !important;
}

.input-pos {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  margin-top: -9px;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark {
      background-color: none;

      &:after {
        display: block;
      }
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: none;
    border: 2px solid $mainGray;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 7px;
      top: 2px;
      width: 8px;
      height: 13px;
      border: solid $mainGray;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }

  &:hover input ~ .checkmark {
    background-color: #ccc;
  }
}

body.is-large-screen {
  font-size: 18px;
  .search-nav {
    font-size: 20px;
  }
}

.full-height {
  height: 100vh;
}
