// animation combine
// [name] [duration] [timing] [delay] [interaction-count] [direction]
@mixin animation($animation-combine) {
    -webkit-animation: $animation-combine;
    animation: $animation-combine;
}

// 1.animation name: Specifies the name of the @keyframes animation
@mixin animation-name($animation-name) {
    -webkit-animation-name: $animation-name;
    animation-name: $animation-name;
}

// 2.animation-duration: time|initial|inherit;
@mixin animation-duration($animation-duration) {
    -webkit-animation-duration: $animation-duration;
    animation-duration: $animation-duration;
}

// 3.animation-timing-function: linear|ease|ease-in|ease-out|ease-in-out|cubic-bezier(n,n,n,n)|initial|inherit;
@mixin animation-timing-function($animation-timing-function) {
    -webkit-animation-timing-function: $animation-timing-function;
    animation-timing-function: $animation-timing-function;
}

// 4.animation-delay: time|initial|inherit;
@mixin animation-delay($animation-delay) {
    -webkit-animation-delay: $animation-delay;
    animation-delay: $animation-delay;
}

// 5.animation-iteration-count: number|infinite|initial|inherit;
@mixin animation-iteration-count($animation-iteration-count) {
    -webkit-animation-iteration-count: $animation-iteration-count;
    animation-iteration-count: $animation-iteration-count;
}

// 6.animation-direction: normal|reverse|alternate|alternate-reverse|initial|inherit;
@mixin animation-direction($animation-direction) {
    -webkit-animation-direction: $animation-direction;
    animation-direction: $animation-direction;
}

// 7.animation-fill-mode: none|forwards|backwards|both|initial|inherit;
@mixin animation-fill-mode($animation-fill-mode) {
    -webkit-animation-fill-mode: $animation-fill-mode;
    animation-fill-mode: $animation-fill-mode;
}

// 8.animation-play-state: paused|running|initial|inherit;
@mixin animation-play-state($animation-play-state) {
    -webkit-animation-play-state: $animation-play-state;
    animation-play-state: $animation-play-state;
}

// keyframe
// @keyframes animationname {keyframes-selector {css-styles;}}
@mixin keyframe($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @keyframe #{$name} {
        @content;
    }
}

@mixin clearfix() {
    &:before,
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}

@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }
    @include optional-at-root(':-moz-placeholder') {
        @content;
    }
    @include optional-at-root('::-moz-placeholder') {
        @content;
    }
    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}

@mixin scale($value) {
    -webkit-transform: scale($value);
    -moz-transform: scale($value);
    -ms-transform: scale($value);
    -o-transform: scale($value);
    transform: scale($value);
}

@mixin scale2D($value, $value2) {
    -webkit-transform: scale($value, $value2);
    -moz-transform: scale($value, $value2);
    -ms-transform: scale($value, $value2);
    -o-transform: scale($value, $value2);
    transform: scale($value, $value2);
}

@mixin transform($value) {
    transform: $value;
    -webkit-transform: $value;
    -moz-transform: $value;
    -ms-transform: $value;
    -o-transform: $value;
}

@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin transition($value...) {
    transition: $value;
    -webkit-transition: $value;
    -moz-transition: $value;
    -o-transition: $value;
}

@mixin display-flex() {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@mixin flex-direction($value) {
    flex-direction: $value;
    -webkit-flex-direction: $value;
}

@mixin order($value) {
    order: $value;
    -webkit-order: $value;
}

@mixin align-items($value) {
    -ms-flex-align: $value;
    align-items: $value;
    -webkit-align-items: $value;
}

@mixin justify-content($value) {
    -ms-flex-pack: $value;
    justify-content: $value;
    -webkit-justify-content: $value;
}

@mixin align-self($value) {
    align-self: $value;
    -webkit-align-self: $value;
}

@mixin align-content($value) {
    -ms-flex-line-pack: $value;
    align-content: $value;
    -webkit-align-content: $value;
}

@mixin flex-wrap($value) {
    -ms-flex-wrap: $value;
    flex-wrap: $value;
    -webkit-flex-wrap: $value;
}

@mixin flex-order($value) {
    order: $value;
    -webkit-order: $value;
}

@mixin flex-flow($flow) {
    -webkit-flex-flow: $flow;
    -moz-flex-flow: $flow;
    -ms-flex-flow: $flow;
    flex-flow: $flow;
}

@mixin flex($value...) {
    -webkit-flex: $value;
    flex: $value;
}

@mixin background-image() {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

// Breakpoint
$mxlg-width: 1372px;
$lg-width: 1200px;
$ld-width: 1367px;
$md-width: 1279px;
$vr-width: 992px;
$sm-width: 768px;
$small-mobile-width: 610px;
$tiny-mobile-width: 480px;
$xxs-width: 321px;
@mixin mxlg {
    @media screen and (max-width: #{$mxlg-width + 1px}) {
        @content;
    }
}

@mixin xlg {
    @media screen and (max-width: #{$lg-width + 1px}) {
        @content;
    }
}

@mixin lg {
    @media screen and (min-width: #{$lg-width}) {
        @content;
    }
}

@mixin md {
    @media (min-width: #{$md-width}) and (max-width: #{$lg-width - 1px}) {
        @content;
    }
}

@mixin sm {
    @media (min-width: #{$sm-width}) and (max-width: #{$md-width - 1px}) {
        @content;
    }
}

@mixin xs {
    @media screen and (max-width: #{$sm-width - 1px}) {
        @content;
    }
}

@mixin xsm {
    @media screen and (max-width: #{$small-mobile-width - 1px}) {
        @content;
    }
}

@mixin xxsm {
    @media screen and (max-width: #{$tiny-mobile-width - 1px}) {
        @content;
    }
}

@mixin xxs {
    @media screen and (max-width: #{$xxs-width}) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: #{$md-width}) {
        @content;
    }
}

@mixin l-device {
    @media screen and (max-width: #{$ld-width}) {
        @content;
    }
}

@mixin device {
    @media screen and (max-width: #{$md-width}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$sm-width}) and (max-width: #{$md-width - 1px}) {
        @content;
    }
}

@mixin vertablet {
    @media screen and (max-width: #{$vr-width + 1px}) {
        @content;
    }
}

@mixin print {
    @media print {
        @content;
    }
}

@mixin iphoneLandscape {
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
        @content;
    }
}

@mixin iphonePortrait {
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
        @content;
    }
}

@mixin landscape {
    @media screen and (orientation: landscape) {
        @content;
    }
}

@mixin portrait {
    @media screen and (orientation: portrait) {
        @content;
    }
}

@mixin print {
    @media print {
        @content;
    }
}