// Path source
$urlImg: 'assets/images';
$urlFont: 'assets/fonts';

@font-face {
  font-family: 'Roboto';
  src: url(#{$urlFont}/roboto-bold-webfont.woff2) format('woff2'),
       url(#{$urlFont}/roboto-bold-webfont.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(#{$urlFont}/roboto-light-webfont.woff2) format('woff2'),
       url(#{$urlFont}/roboto-light-webfont.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(#{$urlFont}/roboto-regular-webfont.woff2) format('woff2'),
       url(#{$urlFont}/roboto-regular-webfont.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url(#{$urlFont}/robotocondensed-bold-webfont.woff2) format('woff2'),
       url(#{$urlFont}/robotocondensed-bold-webfont.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url(#{$urlFont}/robotocondensed-light-webfont.woff2) format('woff2'),
       url(#{$urlFont}/robotocondensed-light-webfont.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url(#{$urlFont}/robotocondensed-regular-webfont.woff2) format('woff2'),
       url(#{$urlFont}/robotocondensed-regular-webfont.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url(#{$urlFont}/RobotoMono-Bold.woff2) format('woff2'),
       url(#{$urlFont}/RobotoMono-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url(#{$urlFont}/RobotoMono-Light.woff2) format('woff2'),
       url(#{$urlFont}/RobotoMono-Light.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url(#{$urlFont}/RobotoMono-Regular.woff2) format('woff2'),
       url(#{$urlFont}/RobotoMono-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

// Font family
$font-roboto: 'Roboto', sans-serif;
$font-roboto-condensed: 'Roboto Condensed', sans-serif;
$font-roboto-mono: 'Roboto Mono', sans-serif;

// Color
$green: #01b9a6;
$greenLight: #bee6cb;
$greenMedium: #4cb050;
$greenDark: #008275;
$greenHover: #92caa4;
$greenDetails: #e7fbde;
$greenHeavy: #2e4a4c;
$red: #D11338;
$redSolid: #F58D90;
$redHeavy: #ED1E24;
$cyan: #009e85;
$cyanLight: #b2e7ea;
$gray: #4D4D4D;
$grayBright: #333333;
$graySlate: #EFEFEF;
$grayLight: #95989A;
$grayMedium: #D5D5D5;
$graySoft: #E5E5E5;
$graySolid: #F5F5F5;
$grayBar: #f2f2f2;
$grayAsh: #e0e0e0;
$grayLine: #adadad;
$grayBron: #555555;
$grayDroid: #999999;
$grayPen: #f0eeee;
$cerulean: #6CA8AA;
$charcoal: #6acfd6;
$purple: rgb(49, 56, 126);
$purpleLight: #f2d5fd;
$yellow: #F8F01D;
$blueDark: #00acc0;
$blueMedium: #21252D;
$blueLight: #0C3B53;
$mainGray: #464646;
$mainBlue: #00bcd5;
$mainPink: #ff4181;
$pinkSoft: #f1d3dd;
$mainOrange: #f7520e;
$blueTald: #007acc;
$blueSoft: #dae6ec;
$wheat: #F3E7DE;
$mainBrown: #A34F18;
// Font-faceregular
$light: 300;
$regular: 400;
$bold: 700;
// Transition
$cubic1: cubic-bezier(0.19, 1, 0.22, 1);
$cubic2: cubic-bezier(.48, .48, .57, .57);
$cubic3: cubic-bezier(0.215, 0.61, 0.355, 1);
$cubic4: cubic-bezier(0.4, 0, 0.2, 1);
