<template>
  <div id="app">
    <div class="loading-box">
      <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
      </div>
    </div>
    <router-view/>
  </div>
</template>
<script>
  import { globalStore } from '@/global/global.js';
  export default {
    name: "App",
    methods: {
      detectScreenSize() {
        let windowHeight = window.innerHeight;
        if(windowHeight > 1000) {
          document.body.classList.add('is-large-screen');
        }
      }
    },
    created() {
      globalStore.baseUrl = global_backend;
      globalStore.db = backend_db;
      this.detectScreenSize();
    },
  };
</script>
<style lang="scss">
  @import "css/main.scss";
</style>
