.category-page-list {
  background: $mainBrown;
  .wrapper {
    display: flex;
  }
  .list-item-box {
    flex: 1;
    display: flex;
    padding-right: 10px;
    .list-item-data {
      display: flex;
      flex-wrap: wrap;
      padding: 5px;
      flex: 1;
      .single-item {
        width: 25%;
        color: $gray;
        font-weight: $regular;
        font-size: 17px;
        text-align: center;
        padding: 2px;
        cursor: pointer;
        &.item-type-1 {
          .single-item-details {
            background: $purpleLight;
          }
        }
        @include device {
          font-size: 12px;
        }
        &:hover {
          .single-item-details {
            background: $greenHover;
          }
        }
        .single-item-details {
          background: $greenDetails;
          padding: 5px 8px;
          border-radius: 3px;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          transition: all 0.3s $cubic3;
          font-weight: $bold;
        }
      }
    }
    .page-box {
      width: 130px;
      display: flex;
      flex-direction: column;
      @include device {
        width: 90px
      }
      .page-item {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $blueTald;
        color: white;
        cursor: pointer;
        font-weight: $regular;
        font-size: 19px;
        text-transform: uppercase;
        transition: all 0.3s $cubic3;
        @include device {
          font-size: 15px;
        }
        &:hover {
          background: $blueLight;
        }
        &.page-next {
          margin-bottom: 5px;
          border-radius: 0 0 3px 3px;
          span {
            padding-right: 32px;
            @include device {
              padding-right: 21px;
            }
            &::before {
              right: 0;
              top: 0;
            }
          }
        }
        &.page-prev {
          margin-top: 5px;
          border-radius: 3px 3px 0 0;
          span {
            padding-left: 32px;
            @include device {
              padding-left: 21px;
            }
            &::before {
              left: 0;
              top: 0;
              background-image: url(#{$urlImg}/double-arrow-left-white-2.svg);
            }
          }
        }
        span {
          position: relative;
          &::before {
            content: '';
            height: 21px;
            width: 30px;
            position: absolute;
            background: url(#{$urlImg}/double-arrow-right-white-2.svg) no-repeat center;
            background-size: auto 100%;
            @include device {
              height: 14px;
              width: 20px;
            }
          }
        }
      }
    }
  }
  .total-amount-box {
    width: 195px;
    font-weight: $regular;
    background: $grayBron;
    color: white;
    text-align: center;
    padding: 2px 5px;
    @include device {
      width: 155px;
    }
    .total-amount-box-data {}
    .total-amount-item {
      margin-bottom: 10px;
      @include device {
        font-size: 13px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      p {
        margin: 0;
        line-height: 1.3;
        font-weight: $bold;
        @include device {
          font-size: 14px;
        }
        &.item-title {
          font-size: 17px;
          text-transform: uppercase;
          letter-spacing: 1px;
          @include device {
            font-size: 14px;
          }
        }
      }
    }
  }
}

body.is-large-screen {
  .category-page-list {
    .total-amount-box {
      padding: 8px 5px;
    }

    .list-item-box {
      .list-item-data {
        .single-item {
          font-size: 17px;
        }
      }
      .page-box {
        .page-item {
          font-size: 21px;
        }
      }
    }
  }
}
