.category-list-wrapper {
  background: $mainBrown;
  display: flex;

  .category-list-nav {}

  .category-list-items {
    @include display-flex();
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    border-right: 2px solid $graySolid;
    border-top: 2px solid $graySolid;

    .category-item {
      @include flex(1 1 auto);
      border-left: 2px solid $graySolid;
      border-bottom: 2px solid $graySolid;
      background: $green;
    }

    .item-link {
      text-transform: uppercase;
      padding: 10px 30px;
      display: block;
      text-align: center;
      font-weight: $regular;
      color: white;
      @include transition(all 0.5s $cubic3);

      &.is-active {
        background: $greenDark;
      }

      &:hover {
        background: $greenDark;
      }
    }
  }

  .category-list-child {
    overflow: auto;
    flex: 1;
    height: calc(100vh - 586px);

    &::-webkit-scrollbar {
      display: none;
    }

    @include device {
      height: calc(100vh - 536px);
    }
  }

  .category-child-items {
    display: flex;
    @include flex-wrap(wrap);
    padding: 0 8px;

    .child-item {
      width: calc(100% / 6);
      margin-bottom: 0px;
      padding: 2px;

      &.item-type-2 {
        .child-link {
          background: $pinkSoft;
        }
      }
    }

    .child-link {
      padding: 10px;
      height: 110px;
      background: $blueSoft;
      @include box-shadow(0px 0px 9px 0px rgba(0, 0, 0, 0.2));
      @include display-flex();
      @include flex-direction(column);
      font-weight: $regular;
      cursor: pointer;
      @include transition(all 0.5s $cubic3);
      position: relative;

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 3;
        left: 0;
        top: 0;
      }

      @include device {
        height: 73px;
        padding: 2px;
      }

      &:hover {
        background: $greenHover;
        color: $mainGray;
      }
    }

    .child-price {
      @include display-flex();
      margin-bottom: 6px;
      height: 24px;

      @include device {
        margin-bottom: 3px;
        height: 20px;
      }

      span {
        background: $purple;
        color: white;
        padding: 1px 7px;
        font-size: 17px;

        @include device {
          font-size: 14px;
        }
      }
    }

    .child-name {
      line-height: 1.3;
      position: relative;
      font-size: 15px;
      overflow: hidden;
      height: calc(100% - 25px);

      @include device {
        font-size: 12px;
        height: calc(100% - 20px);
      }
    }

    .child-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 5;
    }
  }

  .product-list-scroll-box {
    border: none;
    width: 80px;
  }
}

body.is-large-screen {
  .category-list-wrapper {
    .category-list-child {
      height: calc(100vh - 684px);
    }
    .category-child-items {
      .child-link {
        height: 109px;
        padding: 2px;
      }

      .child-price {
        span {
          font-size: 17px;
        }
      }

      .child-name {
        font-size: 17px;
        font-weight: $bold;
      }
    }
    .product-list-scroll-box {
      width: 107px;
    }
  }
}