.footer-list-data {
  height: 100px;
  width: calc(100vw - 80px);
  background: $mainBrown;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0;
  .total-box {
    width: 100%;
    background: transparent;
    display: flex;
    .total-box-details {
      font-size: 27px;
      .details-content {
        &.type-red-color {
          color: $red;
        }
        &.type-text-bigger {
          font-size: 32px;
        }
      }
    }
  }
}

.not-login {
  text-transform: uppercase;
  font-size: 65px;
  letter-spacing: 1px;
}