.form-fields {
  .form-row {
    display: flex;
    align-items: center;
    .form-col {
      display: flex;
      align-items: center;
      padding: 10px;
      font-size: 21px;
      flex: 1;
      &.right-align {
        justify-content: flex-end;
      }
      &.col-center {
        justify-content: center;
      }
      &.col-big {
        font-size: 30px;
        font-weight: $bold;
      }
      .form-label {
        margin-right: 20px;
        width: 140px;
        text-align: right;
        font-weight: $bold;
      }
      .form-input {
        flex: 1;
      }
    }
  }
  .input-text {
    padding: 5px;
    border: 1px solid black;
    width: 100%;
  }
  .form-select {
    width: 100%;
  }
  button, input, optgroup, select, textarea {
    font-weight: $regular;
  }
  .form-action-group {
    display: flex;
    .btn-form-action {
      margin: 0 10px;
      cursor: pointer;
      .btn-form-action-icon {
        width: 55px;
        height: 50px;
        @include background-image;
        background-size: auto 100%;
        &.btn-refresh {
          background-image: url(#{$urlImg}/refresh-icon.svg);
        }
        &.btn-save {
          background-image: url(#{$urlImg}/save-icon.svg);
        }
        &.btn-edit {
          background-image: url(#{$urlImg}/edit-icon.svg);
          background-color: $green;
          background-size: auto 80%;
        }
      }
    }
  }
  .form-button {
    display: inline-block;
    padding: 20px 30px;
    background: $cyan;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
  }
}

.form-add-new-data {
  .form-row .form-col {
    padding: 3px 10px;
  }
}