header {
  position: relative;
  z-index: 3;
  background: $mainBlue;
  @include box-shadow(0px 2px 16px -5px rgba(0, 0, 0, 0.7));
  color: white;
  height: 64px;
  @include l-device {
    height: 54px;
  }
  a {
    color: white;
    &:hover {
      color: $mainGray;
    }
  }
  >.container,
  .header-wrapper {
    height: 100%;
  }
  .header-wrapper {
    @include display-flex();
    @include justify-content(space-between);
    &.center-element {
      justify-content: center;
    }
  }
  .header-side-box {
    @include display-flex();
  }
  .logo-box {
    min-width: 180px;
    padding: 0 40px 0 10px;
    @include display-flex();
    @include align-items(center);
    .logo-img {
      width: 150px;
      height: 100%;
      @include background-image;
      background-size: contain;
    }
  }
  .header-name {
    @include display-flex();
    background: $blueDark;
    @include align-items(center);
    padding: 0 20px; // font-weight: $regular;
    // font-size: 18px;
    min-width: 150px;
  }
  .header-order {
    background: $greenDark;
    padding: 0 20px;
    .header-order-list {
      height: 100%;
      @include display-flex();
      @include align-items(center);
      .header-order-list-item {
        margin-left: 10px;
        padding: 0 10px;
        height: 70%;
        background: $green;
        @include display-flex();
        @include align-items(center);
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
  .button-tool-box {
    background: $greenMedium;
    @include display-flex();
    @include align-items(center);
    padding: 0 20px;
  }
  .logout-box {
    background: $cyan;
    @include display-flex();
    @include align-items(center);
    padding: 0 20px;
    .logout-btn {
      position: relative;
      padding-left: 28px;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: -2px;
        width: 21px;
        height: 20px;
        background: url(#{$urlImg}/logout.svg) no-repeat;
        background-size: 21px auto;
      }
      &:hover {
        color: white;
        text-decoration: underline;
      }
    }
  }
  .header-bedi {
    display: flex;
    align-items: center;
    .header-bedi-title {
      font-weight: $regular;
      margin-right: 15px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 15px;
      background: $blueTald;
      cursor: pointer;
    }
    .list-header-bedi-data {
      display: flex;
      height: 100%;
      .header-bedi-data {
        height: 100%;
        background: $cyanLight;
        color: $gray;
        font-weight: $regular;
        display: flex;
        align-items: center;
        padding: 0 24px;
        cursor: pointer;
        color: $grayBron;
        border-left: 1px solid $grayBron;
        &:first-child {
          border: none;
        }
        &.is-active {
          background: $mainOrange;
          color: white;
        }
      }
    }
    .header-bedi-add-more {
      height: 100%;
      min-width: 30px;
      padding: 0 15px;
      background: $grayDroid;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s $cubic2;
      &:hover {
        background: $grayBright;
      }
      .add-more-btn {
        width: 35px;
        height: 35px;
        position: relative;
        &:before,
        &:after {
          content: '';
          width: 100%;
          height: 6px;
          position: absolute;
          transform: rotate(90deg) translate(-5px, 0%);
          background: white;
          top: 50%;
        }
        &:after {
          transform: rotate(0deg) translate(0px, -5px);
        }
      }
    }
  }
}

body.is-large-screen {
  header {
    height: 90px;
  }
}
