.vue-touch-keyboard {
  width: 100%;
  margin: 30px 0;
  padding: 20px;
  background: white;
  &.keyboard-search-list-order {
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 80px);
    margin: 0;
  }
  body.is-device & {
    display: none;
  }
}

.keyboard-nav-search-product {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  margin: 0;
  padding: 5px;
  body.is-device & {
    display: none;
  }
  .keyboard {
    .key {
      height: 3.5em !important;
      line-height: 3.5em !important;
    }
  }
}

.keyboard-return-product {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 220;
  &.no-margin {
    margin: 0;
  }
  &.no-padding {
    padding: 0;
  }
}

.keyboard-new-customer {
  .keyboard {
    .key {
      height: 2.8em !important;
      line-height: 2.8em !important;
    }
  }
}

body.is-large-screen {
  .vue-touch-keyboard {
    .keyboard {
      .key {
        height: 3.2em !important;
        line-height: 3.2em !important;
      }
    }
  }
  .keyboard-nav-search-product {
    .keyboard {
      .key {
        height: 4em !important;
        line-height: 4em !important;
      }
    }
  }
}