.container {
    width: 1540px;
    margin: 0 auto;
    @include l-device {
        width: 100%;
    }
}

category-bar-component {
    width: calc(100% - 500px);
}

order-bar-component {
    width: 500px;
    border-right: 1px solid $grayAsh;
}