.vdp-datepicker__calendar header .up:not(.disabled):hover {
  background: $grayBron !important;
}

.box-wrapper {
  position: relative;
  .bill-scroll-box {
    position: fixed;
    height: calc(100vh - 64px);
    top: auto;
    bottom: 0;
    @include device {
      height: calc(100vh - 54px);
    }
  }
}

.list-ordered-wrapper {
  // width: calc(100% - 80px);
  width: 100%;
  &.list-scroll {
    .row-body {
      overflow-y: auto;
      height: 100%;
      max-height: calc(100vh - 167px);
    }
  }
  &.list-cs-screen {
    .row-body {
      &::-webkit-scrollbar { 
        display: none !important;
      }
      .row-pl {
        .col-pl {
          font-weight: $bold;
        }
      }
    }
  }
  .list-order-toolbar {
    background: $grayAsh;
    padding: 10px 17px;
    position: relative;
    display: flex;
    justify-content: space-between;

    @include vertablet {
      flex-wrap: wrap;
    }
    .go-to-home {
      position: relative;
      display: flex;
      align-items: center;
      font-weight: $regular;
      font-size: 22px;
      padding: 4px 35px 4px 10px;
      background: $mainGray;
      color: white;
      height: 100%;
      cursor: pointer;
      &:after {
        content: '';
        width: 20px;
        position: absolute;
        height: 20px;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        background: url(#{$urlImg}/double-arrow-right-white-2.svg) center no-repeat;
        background-size: auto 100%;
      }
    }
    .search-box-toolbar {
      .search-nav {
        height: 100%;
        width: 230px;
        .input-search-default {
          height: 100%;
          color: $mainGray;
          border-color: $mainGray;
          background-image: url(#{$urlImg}/search-gray.svg);
          background-size: 22px auto;
        }
      }
    }
  }
  .product-list-box {
    font-size: 21px;
    font-weight: $regular;
    @include vertablet {
      font-size: 19px;
    }

    @include xsm {
      font-size: 15px;
    }

    @include xxsm {
      font-size: 14px;
    }
    &.has-scroll-inside {
      
    }
    &.is-visible-scrollbar {
      position: relative;
      .row-header {
        padding-right: 80px;
        @include vertablet {
          padding-right: 0;
        }
      }
      .arrow-direction-box {
        display: block;
        @include vertablet {
          display: none;
        }
      }
    }
    .arrow-direction-box {
      position: absolute;
      right: 1px;
      top: 0;
      width: 80px;
      height: 41px;
      background: $greenDark;
      display: none;
      .arrow-direction-box-wrapper {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        .single-arrow {
          width: 50%;
          height: 100%;
          cursor: pointer;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 25px auto;
          &.single-arrow-up {
            background-image: url(#{$urlImg}/ic_arrow_drop_up_black_24px.svg);
          }
          &.single-arrow-down {
            background-image: url(#{$urlImg}/ic_arrow_drop_down_black_24px.svg);
          }
        }
      }
    }
    .row-pl {
      .col-pl {
        text-align: left;
        justify-content: flex-start;
        padding: 8px 0 8px 10px;

        @include xxsm {
          padding: 5px 0 5px 5px;
        }
        &.col-return-product {
          max-width: 120px;
          padding-right: 15px !important;
          .return-input {
            width: 100%;
          }
        }
        &.col-product-name {
          min-width: 520px;
          max-width: 520px;
          @include device {
            min-width: 410px;
            max-width: 410px;
          }
        }
      }
    }
    .row-body {
      overflow-y: auto;
      height: 100%;
      padding-bottom: 50px;
      &::-webkit-scrollbar { 
        display: block;
        width: 80px;
        @include vertablet {
          display: none;
        }
      }
      &::-webkit-scrollbar-track {
        background: $grayDroid;
      }
      &::-webkit-scrollbar-thumb {
        background: $red;
      }
      .row-pl {
        height: auto;
        .col-pl {
          padding: 15px 0 15px 10px;
          @include vertablet {
            padding: 5px 0 5px 5px;
          }
        }
      }
    }
  }
}

body.is-large-screen {
  .list-ordered-wrapper {
    .product-list-box {
      font-size: 22px;
    }
  }
}
