.data-content-header-toolbar {
  background: $grayAsh;
  padding: 10px 17px;
  position: relative;
  display: flex;
  justify-content: space-between;
  &.content-right-align {
    justify-content: flex-end;
  }
  .search-box-toolbar {
    display: flex;
    align-items: center;
  }
  .go-to-home {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: $regular;
    font-size: 22px;
    padding: 4px 35px 4px 10px;
    background: $mainGray;
    color: white;
    min-height: 55px;
    &:after {
      content: '';
      width: 20px;
      position: absolute;
      height: 20px;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      background: url(#{$urlImg}/double-arrow-right-white-2.svg) center no-repeat;
      background-size: auto 100%;
    }
  }
  .search-nav {
    .input-search-default {
      height: 100%;
      color: $mainGray;
      border-color: $mainGray;
      background-image: url(#{$urlImg}/search-gray.svg);
      background-size: 22px auto;
    }
  }
}

.add-more-customer {
  width: 150px;
  background: $mainOrange;
  position: relative;
  height: 60px;
  &::before {
    content: '';
    width: 80px;
    height: 46px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url(#{$urlImg}/add-customer.svg) center no-repeat;
      background-size: auto 100%;
  }
}