.login-box {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: $grayBar;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  flex-direction: column;
  &.login-error {
    .focus-input {
      &:before {
        background: $red;
      }
      span {
        color: $red;
      }
    }
  }
  .wrap-login {
    width: 450px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 35px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    @include device {
      padding: 50px 35px;
    }
  }
  .login-form-title {
    margin-bottom: 50px;
    @include device {
      margin-bottom: 20px;
      font-size: 35px;
    }
  }
  .login-form-button-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .login-form-button {
    padding-top: 30px;
    width: 48%;
    &.btn-kasse {
      button {
        background: $red;
      }
    }
    @include device {
      padding-top: 20px;
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 60px;
      text-transform: uppercase;
      color: white;
      background: $greenDark;
      font-weight: $bold;
      border-radius: 10px;
      cursor: pointer;
    }
  }
  .login-failed {
    text-transform: uppercase;
    font-weight: $bold;
    text-align: center;
    margin-top: 40px;
    color: $red;
    font-size: 20px;
    letter-spacing: 1px;
    @include device {
      margin-top: 20px;
    }
  }
  .vue-touch-keyboard {
    margin: 25px 0 0 0;
  }
}

.change-lang-box {
  position: fixed;
  right: 40px;
  top: 40px;
  .change-lang-content {
    display: flex;
    // border: 2px solid $grayBron;
    flex-direction: column;
    .lang-item {
      cursor: pointer;
      background: $grayBron;
      color: white;
      font-weight: $regular;
      font-size: 20px;
      text-transform: uppercase;
      padding: 10px 17px;
      display: flex;
      align-items: center;
      &.is-actived {
        background: $blueTald;
      }
      &.lang-de {
        .lang-item-flag {
          background-image: url(#{$urlImg}/flag/flag-ger.jpg);
        }
      }
      &.lang-vi {
        .lang-item-flag {
          background-image: url(#{$urlImg}/flag/flag-vi.jpg);
        }
      }
      .lang-item-flag {
        width: 42px;
        height: 27px;
        @include background-image;
        margin-right: 16px;
      }
    }
  }
}
