.menu-board-box {
  @include display-flex();
  @include flex-direction(column);
  padding: 0 4px;
  height: 55%;
  @include device {
    padding: 0 2px;
  }
  &.full-height {
    height: 100%;
  }
  .list-menu-board {
    @include display-flex();
    @include flex-wrap(wrap);
    .menu-board-item {
      font-size: 16px;
      padding: 5px;
      font-weight: $bold;
      &.btn-icon {
        span {
          padding-left: 40px;
        }
      }
      &.icon-1 {
        span {
          &:before {
            background-image: url(#{$urlImg}/ic_assignment_black_24px.svg);
          }
        }
      }
      &.icon-2 {
        span {
          &:before {
            background-image: url(#{$urlImg}/ic_dashboard_black_24px.svg);
          }
        }
      }
      &.icon-3 {
        span {
          &:before {
            background-image: url(#{$urlImg}/ic_dns_black_24px.svg);
          }
        }
      }
      &.icon-4 {
        span {
          &:before {
            background-image: url(#{$urlImg}/ic_donut_large_black_24px.svg);
          }
        }
      }
      &.icon-5 {
        span {
          &:before {
            background-image: url(#{$urlImg}/ic_snooze_black_24px.svg);
          }
        }
      }
      &.icon-6 {
        span {
          &:before {
            background-image: url(#{$urlImg}/ic_receipt_black_24px.svg);
          }
        }
      }
      &.icon-7 {
        span {
          &:before {
            background-image: url(#{$urlImg}/ic_turned_in_black_24px.svg);
          }
        }
      }
      span {
        background: rgba(0, 173, 192, 0.6);
        display: block;
        padding: 14px 20px;
        cursor: pointer;
        border-radius: 2px;
        @include transition(all 0.5s $cubic3);
        position: relative;
        &:hover {
          background: $blueDark;
        }
        &:before {
          content: '';
          position: absolute;
          left: 13px;
          top: 46%;
          @include transform(translateY(-50%));
          width: 19px;
          height: 19px;
          background-size: auto 19px;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
}

.calculator-box {
  font-weight: $bold;
  padding: 0 4px;
  height: 65%;
}

.calculator-btns {
  @include display-flex();
  height: 100%;
  .btns-col-numbers {
    width: 100%;
    height: 100%;
    .list-btns-calc {
      @include display-flex();
      @include flex-wrap(wrap);
      text-align: center;
      border-right: 1px solid $grayBron;
      border-top: 1px solid $grayBron;
      height: 100%;
      .number-btn {
        flex: 1 0 33.33%;
        background: $wheat;
        font-size: 23px;
        padding: 15px 5px;
        border-left: 1px solid $grayBron;
        border-bottom: 1px solid $grayBron;
        cursor: pointer;
        @include transition(all 0.5s $cubic3);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        @include device {
          font-size: 18px;
          padding: 20px 5px;
        }
        &:hover {
          background: $blueDark;
        }
        &.is-active {
          background: $mainOrange;
        }
        &.btn-wide {
          flex-basis: 66.67%;
        }
        &.btn-delete {
          &:before {
            content: '';
            width: 40px;
            height: 37px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotateY(-180deg);
            background: url(#{$urlImg}/ic_forward_black_24px.svg) center no-repeat;
            background-size: cover;
          }
        }
        &.btn-loschen {
          @include device {
            font-size: 15px;
          }
        }
        &.btn-incr-height {
          height: 110px;
        }
        .overlay-btn {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 30;
        }
      }
    }
  }
  .btns-col-prm {
    .list-btns-prm {
      width: 60px;
      border-top: 1px solid $graySolid;
      border-right: 1px solid $graySolid;
      .prm-btn {
        background: rgba(0, 173, 192, 0.6);
        font-size: 23px;
        padding: 15px 7px;
        border-bottom: 1px solid $graySolid;
        cursor: pointer;
        @include transition(all 0.5s $cubic3);
        text-align: center;
        &:hover {
          background: $blueDark;
        }
      }
    }
  }
  .btns-col-anz {
    @include flex(1);
    border-top: 1px solid $graySolid;
    border-right: 1px solid $graySolid;
    >div {
      cursor: pointer;
      height: 50%;
      @include display-flex();
      @include justify-content(center);
      @include align-items(center);
      text-align: center;
      border-bottom: 1px solid $graySolid;
      background: $cyanLight;
      @include transition(all 0.5s $cubic3);
      &:hover {
        background: $blueDark;
      }
    }
  }
}

.payment-box {
  padding: 4px;
  display: flex;
  flex-direction: column;
  height: 32%;
  .payment-btn {
    background: $mainOrange;
    text-align: center;
    margin: 4px 0;
    color: $grayBright;
    text-transform: uppercase;
    font-weight: $bold;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s $cubic3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
    @include device {
      padding: 15px 5px;
    }
    &:hover {
      background: $charcoal;
      color: $grayBright;
      a {
        color: $grayBright;
      }
    }
    &.btn-barzah {
      background: $redSolid;
      font-size: 20px;
      // height: 65%;
      height: 100%;
      &:hover {
        background: $charcoal;
      }
    }
  }
}
