.nav-box-wrapper {
  @include display-flex();
  @include justify-content(space-between);
  @include align-items(center);
  background: $blueMedium;
  color: white;
  a {
    color: white;
  }
  .main-menu {
    margin-left: 10px;
    @include display-flex();
    .main-menu-item {
      display: flex;
      align-items: center;
      font-size: 14px;
      @include device {
        font-size: 12px;
      }
      &:after {
        content: '';
        width: 26px;
        height: 50px;
        background: url(#{$urlImg}/arrow-right-white.svg) no-repeat center;
        background-size: cover;
        margin: 0 15px;
        @include l-device {
          height: 40px;
          width: 18px;
        }
      }
    }
    .breadcrumb-item {
      cursor: pointer;
    }
    .home {
      font-size: 0;
      background: url(#{$urlImg}/home.svg) no-repeat center;
      width: 46px;
      height: 36px;
      background-size: cover;
    }
    .seprate {
      height: 45px;
      width: 15px;
      position: relative;
    }
  }
}

body.is-large-screen {
  .nav-box-wrapper {
    .main-menu {
      .main-menu-item {
        font-size: 16px;
        &:after {
          height: 48px;
          width: 23px;
        }
      }
    }
  }
}
