.order-bar-box {
  width: 325px;
  border-right: 1px solid $mainBrown;
  background: $mainBrown;
  @include device {
    width: 250px;
  }
  &.ready {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 5;
    }
  }
  &.big-size {
    width: 400px;
    .calculator-btns {
      .btns-col-numbers {
        .list-btns-calc {
          .number-btn {
            min-height: 74px;
            @include device {
              font-size: 21px;
            }
          }
        }
      }
    }
    @include l-device {
      width: 350px;
    }
    @include device {
      width: 320px;
    }
  }
}
