.package-bar-box {
  padding: 4px;
  height: 47%;
  .list-package {
    display: flex;
    flex-flow: row wrap;
    height: 81%;
    .package-item {
      flex: 1 1 50%;
      color: $gray;
      font-weight: $regular;
      padding: 4px;
      position: relative;
      min-height: calc(100% / 4);
      @include device {
        padding: 2px;
      }
      &.is-off {
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 5;
        }
        .btn-item {
          opacity: 0.8;
        }
      }
      .btn-item {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        background: white;
        flex-direction: column;
        padding: 8px;
        height: 100%;
        text-align: center;
        cursor: pointer;
        @include device {
          padding: 4px;
        }
        &:hover {
          background: $cyanLight;
        }
        &.is-active {
          background: $mainBlue;
        }
        &.is-active-eu {
          background: $mainOrange;
        }
        &.item-coupon {
          .item-package-icon {
            background-image: url(#{$urlImg}/ic_redeem_white_24px.svg);
          }
        }
        &.item-next-page {
          .item-package-icon {
            background-image: url(#{$urlImg}/double-arrow-right-white.svg);
          }
        }
        &.item-sell-list {
          .item-package-icon {
            background-image: url(#{$urlImg}/ic_inbox_white_24px.svg);
          }
        }
        &.item-bon {
          .item-package-icon {
            background-image: url(#{$urlImg}/ic_save_white_24px.svg);
          }
        }
        &.item-discount {
          .item-package-icon {
            background-image: url(#{$urlImg}/ic_wb_iridescent_white_24px.svg);
          }
        }
        &.item-price {
          .item-package-icon {
            background-image: url(#{$urlImg}/ic_monetization_on_white_24px.svg);
          }
        }
        &.item-amount {
          .item-package-icon {
            background-image: url(#{$urlImg}/ic_memory_white_24px.svg);
          }
        }
        &.item-cancel {
          .item-package-icon {
            background-image: url(#{$urlImg}/ic_cancel_white_24px.svg);
          }
        }
        &.item-logout {
          .item-package-icon {
            background-image: url(#{$urlImg}/baseline-exit_to_app-24px.svg);
          }
        }
        &.item-prev-page {
          .item-package-icon {
            transform: rotateY(180deg);
            background-image: url(#{$urlImg}/double-arrow-right-white.svg);
          }
        }
        &.item-restore {
          .item-package-icon {
            background-image: url(#{$urlImg}/baseline-restore-24px.svg);
          }
        }
        &.item-alle {
          .item-package-icon {
            background-image: url(#{$urlImg}/baseline-no_sim-24px.svg);
          }
        }
        &.item-reload {
          .item-package-icon {
            background-image: url(#{$urlImg}/baseline-autorenew-24px.svg);
          }
        }
        &.item-priceInfo {
          .item-package-icon {
            background-image: url(#{$urlImg}/baseline-contact_support-24px.svg);
          }
        }
        &.item-absch {
          .item-package-icon {
            background-image: url(#{$urlImg}/baseline-scatter_plot-24px.svg);
          }
        }
        &.item-umsatz {
          .item-package-icon {
            background-image: url(#{$urlImg}/baseline-insert_chart-24px.svg);
          }
        }
        &.item-credit {
          background: $redSolid;
          .item-package-icon {
            background-image: url(#{$urlImg}/ic_credit_card_gray.svg);
          }
        }
        &.item-refresh {
          .item-package-icon {
            background-image: url(#{$urlImg}/baseline-refresh-24px.svg);
          }
        }
        &.item-remove-customer {
          .item-package-icon {
            background-image: url(#{$urlImg}/baseline-person_add_disabled-24px.svg);
          }
        }
        .item-package-icon {
          width: 30px;
          height: 25px;
          margin-bottom: 8px;
          @include background-image();
          background-size: 100% 100%;
        }
        .item-package-text {
          @include device {
            font-size: 13px;
          }
        }
      }
      .link-item {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
      }
    }
  }
  .action-pack-box {
    display: flex;
    height: 19%;
    .btn-action {
      padding: 4px;
      flex: 1;
      font-weight: $regular;
      color: white;
      letter-spacing: 1px;
      text-transform: uppercase;
      cursor: pointer;
      height: 100%;
      @include device {
        padding: 2px;
      }
      .do-action {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $greenMedium;
        border-radius: 3px;
        height: 100%;
      }
    }
  }
}
