.paymet-details-box {
  flex: 1;
  background: $grayPen;
  @include l-device {
    height: calc(100vh - 54px);
  }
  .payment-details-with-card {
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    margin-top: 10px;
  }
  .total-payment-title {
    color: $red;
    width: calc(100% - 135px);
  }
  .btn-payment-card-type {
    height: 86px;
    width: 135px;
    display: flex;
    flex-direction: column;
    background: $cerulean;
    color: $grayBright;
    font-size: 19px;
    font-weight: $bold;
    cursor: pointer;
    .btn-payment-card-type-text {
      margin: 0 5px 2px 5px;
      height: 23px;
      text-align: center;
    }
    .btn-payment-card-type-img {
      height: calc(100% - 25px);
      background: url(#{$urlImg}/bildschirmfoto.jpg) no-repeat center;
      background-size: auto 100%;
      &.cash-type {
        background-image: url(#{$urlImg}/cash-money.png);
      }
    }
  }
}

.rabatt-box {
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
  margin-top: 50px;
  @include device {
    padding: 0 20px;
    margin-top: 10px;
  }
  .rabatt-col {
    background: $greenMedium;
    width: 37%;
    border-radius: 5px;
    padding: 11px 15px;
    @include l-device {
      width: 47%;
    }
    h3 {
      font-size: 27px;
      margin: 4px 0;
      @include device {
        font-size: 22px;
      }
      &.money-rabatt {
        margin-top: 13px;
      }
    }
  }
  .rabatt-details {
    display: flex;
    font-size: 25px;
    font-weight: $bold;
    color: $grayBright;
    margin: 8px 0 4px;
    .rabatt-details-input {
      flex: 1;
      input {
        width: 100%;
        text-align: center;
        padding: 5px;
        font-size: 25px;
        font-weight: $bold;
        color: $grayBright;
        border: 1px solid $grayLight;
      }
    }
    .rabatt-details-type {
      width: 40px;
      justify-content: center;
      display: flex;
      align-items: center;
    }
  }
}

.gegeben-box {
  display: flex;
  padding: 0 50px;
  margin-top: 30px;
  flex-direction: column;
  @include device {
    padding: 0 20px;
  }
  &.wt-type {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    @include device {
      width: 90%;
    }
    .wrapper {
      padding: 15px 20px;
    }
    h3 {
      font-size: 40px;
      @include device {
        font-size: 30px;
      }
    }
    .gegeben-data {
      input {
        font-size: 35px;
        padding: 10px;
      }
    }
  }
  &.name-type {
    .wrapper {
      background: none;
      padding: 0;
    }
  }
  &.total-type {
    .wrapper {
      background: $blueDark;
      display: flex;
      justify-content: space-between;
    }
    .total-price {
      font-size: 40px;
      font-weight: $bold;
      color: $grayBright;
      @include device {
        font-size: 30px;
      }
    }
  }
  .wrapper {
    padding: 10px;
    background: $cerulean;
  }
  h3 {
    font-size: 32px;
    text-align: left;
    margin-bottom: 10px;
    @include device {
      font-size: 22px;
    }
  }
  .gegeben-data {
    position: relative;

    input {
      width: 100%;
      padding: 5px;
      font-size: 25px;
      font-weight: $bold;
      color: $grayBright;
      border: 1px solid $grayLight;
    }

    .gegeben-data-overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.wechsel-box {
  padding: 0 50px;
  margin-top: 30px;
  @include device {
    padding: 0 20px;
  }
  h3 {
    font-size: 30px;
    @include device {
      font-size: 22px;
    }
  }
  .wrapper {
    display: flex;
    padding: 10px;
    background: $cerulean;
    justify-content: space-between;
  }
}

.money-box {
  padding: 0 50px;
  margin-top: 70px;
  @include device {
    padding: 0 20px;
    margin-top: 10px;
  }
  .coin-row {
    display: flex;
    justify-content: center;
    li {
      margin: 4px;
      span {
        cursor: pointer;
      }
    }
    &.money-paper-row {
      flex-wrap: wrap;
      li {
        padding: 0 4px;
        margin: 8px 0;
        width: calc(100% / 3);
        text-align: center;
        img {
          max-width: 200px;
          @include device {
            max-width: 155px;
          }
        }
        span {
          position: relative;
          display: inline-block;
          .overlay-coin-btn {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: $redHeavy;
            opacity: 0;
            &.is-active {
              opacity: 0.6;
            }
          }
        }
      }
    }
  }
}

body.is-large-screen {
  .paymet-details-box {
    height: calc(100vh - 90px);
    .total-payment-title {
      font-size: 65px;
    }
    .btn-payment-card-type {
      height: 125px;
      width: 180px;
    }
  }
  .rabatt-box {
    margin-top: 25px;
  }
}
