.payment-calculator {
  margin-top: 8px;
}

.btn-bestigen-box {
  display: flex;
  padding: 0 5px;
  margin-top: 6px;
  span {
    display: flex;
    width: 100%;
    background: $redHeavy;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-weight: $bold;
    letter-spacing: 1px;
    font-size: 24px;
    padding: 80px 0 55px;
    position: relative;
    cursor: pointer;
    @include device {
      padding: 55px 0 30px;
    }
    &:before {
      content: '';
      width: 40px;
      height: 40px;
      background: url(#{$urlImg}/ic_done_all_white_24px.svg) no-repeat center;
      background-size: cover;
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
      @include device {
        top: 15px;
      }
    }
  }
}

.btn-zuruck-box {
  margin: 6px 0;
  padding: 0 5px;
  a {
    display: block;
    text-align: center;
    position: relative;
    padding: 57px 0 30px;
    background: $grayDroid;
    color: white;
    font-weight: $regular;
    @include device {
      padding: 47px 0 20px;
    }
    &:before {
      content: '';
      background: url(#{$urlImg}/ic_reply_white_24px.svg) no-repeat center;
      background-size: cover;
      width: 35px;
      height: 22px;
      position: absolute;
      left: 50%;
      top: 20px;
      transform: translate(-50%, 0);
    }
  }
}
