.popup-common {
  z-index: 200;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s $cubic4;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  .reduce-row-spacing {
    .row-spacing-bottom {
      margin-bottom: 5px;
    }
    .row-keyboard
      .calculator-btns
      .btns-col-numbers
      .list-btns-calc
      .number-btn {
      padding: 30px 5px;
    }
  }
  .popup-overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.4s $cubic4;
    cursor: pointer;
    z-index: 201;
  }
  .popup-content-wrapper {
    position: relative;
    .popup-type {
      display: none;
      &.type-confirmAbschluss {
        .popup-data {
          min-width: 690px;
          position: relative;
          padding: 20px 60px;
          &:before,
          &:after {
            content: "";
            width: 70px;
            height: 70px;
            background: url(#{$urlImg}/round-warning-24px.svg) no-repeat center;
            background-size: contain;
            position: absolute;
            left: 10px;
            top: 10px;
          }
          &:after {
            left: auto;
            right: 10px;
          }
        }
      }

      &.type-product-kg {
        .popup-row-heading-title {
          display: flex;
          .popup-row-heading-title-text {
            flex: 1;
            padding-right: 8px;
          }
          .type-popup-kg-status {
            width: 115px;
          }
        }
      }

      &.type-product-expend-price,
      &.type-product-totaldiscountinput {
        .wrapper {
          display: flex;
          .discount-default-button-box {
            padding: 20px 30px 20px 0;
            margin-left: -15px;
            .discount-default-btn {
              height: calc(100% / 4);
              &:not(:last-child) {
                padding-bottom: 10px;
              }
              span {
                font-weight: $bold;
                font-size: 25px;
                padding: 0 60px;
                background: $charcoal;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
              }
            }
          }
        }
        .popup-data {
          padding: 20px 30px;
        }
      }

      &.type-showWarning {
        .popup-data {
          @include xs {
            min-width: 500px;
          }

          @include xsm {
            min-width: 310px;
          }
        }
      }

      &.type-increase-quantity {
        .popup-row-heading-title {
          margin-bottom: 20px;
        }

        .row-input-data-type {
          font-size: 25px;
          display: flex;
        }

        .text-title {
          flex: 1;
        }

        .model-showup {
          padding-left: 10px;
          width: 37%;
        }

        .number-btn.large-btn {
          flex: 1 0 66.67%;
        }
      }
    }
  }
  .popup-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    position: fixed;
    z-index: 202;
    border-radius: 5px;
  }
  .popup-heading {
    font-size: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  .close-popup {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    .close-popup-btn {
      background: $red;
      color: white;
      border-radius: 4px;
      padding: 16px 28px;
      cursor: pointer;
      text-transform: uppercase;
      &:hover {
        background: $greenHeavy;
      }
    }
  }
  .popup-data {
    min-width: 620px;
    padding: 20px 40px;
    font-weight: $regular;
    font-size: 21px;
    ul {
      li {
        margin: 0 0 20px 0;
        color: black;
        &.type-priceInfo-salePrice {
          font-size: 28px;
          font-weight: $bold;
        }
      }
    }
  }
  .popup-confirm-box {
    display: flex;
    justify-content: space-around;
    &.is-disable-click {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
      }
    }
    .popup-confirm-btn {
      color: white;
      border-radius: 4px;
      padding: 20px 22px;
      cursor: pointer;
      text-transform: uppercase;
      a {
        color: white;
      }
      &.popup-confirm-box-yes {
        background: $red;
        &:hover {
          background: $blueTald;
        }
      }
      &.popup-confirm-box-no {
        background: $mainGray;
        &:hover {
          background: $grayDroid;
        }
      }
    }
  }
  .require-password-box {
    .row-input-data {
      margin-bottom: 30px;
    }
  }
  .row-input-data-type {
    display: flex;
    &.right-align {
      display: flex;
      justify-content: flex-end;
      text-align: right;
    }
    .model-showup {
      &.big-size {
        font-size: 35px;
      }
    }
    .data-type-expend {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 10px;
      &.big-size {
        font-size: 35px;
      }
    }
  }
  .row-input-data-error {
    color: $red;
    text-align: center;
    font-weight: $bold;
  }
  input {
    width: 100%;
    padding: 5px;
    border: 2px solid $grayBron;
    font-weight: $regular;
    &.big-size {
      height: 60px;
      font-size: 42px;
    }
  }
  ul {
    overflow: hidden;
  }
  .data-pack-carton {
    background: $cyanLight;
    padding: 20px 12px 0 12px;
    margin-top: 15px;
  }
  .data-buy-price-info {
    color: black;
    margin: 20px 0;
  }
  .popup-row-btn-heading {
    display: flex;
    justify-content: space-between;
    .popup-btn-heading {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 195px;
      height: 70px;
      background: $charcoal;
      font-size: 25px;
      cursor: pointer;
      &.is-active {
        background: $redHeavy;
        color: white;
      }
    }
  }
  .popup-row-heading-title {
    font-size: 30px;
  }
  .row-spacing-bottom {
    margin-bottom: 30px;
  }
  .row-spacing-bottom-small {
    margin-bottom: 5px;
  }
  .row-keyboard {
    .calculator-btns {
      .btns-col-numbers {
        .list-btns-calc {
          .number-btn {
            margin: 0;
          }
        }
      }
    }
  }

  .type-popup-kg-status {
    margin-bottom: 8px;
    display: flex;
    justify-content: flex-end;
    span {
      padding: 12px 18px;
      color: white;
      font-size: 18px;
      cursor: pointer;
      &.status-1 {
        background: $greenDark;
      }
      &.status-2 {
        background: $redHeavy;
      }
    }
  }
}

.popup-cs {
  .popup-common {
    .close-popup,
    .data-pack-carton,
    .data-buy-price-info {
      display: none;
    }

    .popup-heading {
      font-size: 36px;
    }

    .popup-data {
      min-width: 700px;
      ul {
        li {
          font-size: 36px;
          &.type-priceInfo-salePrice {
            font-size: 38px;
            font-weight: $bold;
            color: $mainOrange;
          }
        }
      }
    }
  }
}
