.main-box {
  &.without-header {
    .bill-layout-wrapper {
      height: calc(100vh - 96px);
      @include xs {
        height: calc(100vh - 68px);
      }
    }
  }
  &.bericht-page {
    .print-box {
      height: 114px;

      @include device {
        height: 96px;
      }

      @include vertablet {
        height: 70px;
      }

      @include xsm {
        height: 55px;
      }
    }
  }
}

.bill-details-box {
  background: $graySoft;
  flex-direction: column;
  align-items: center;
  font-family: $font-roboto-condensed;
  color: black;
  position: relative;
  font-weight: 300;
  h1,
  h3 {
    color: black;
    font-size: 33px;
    margin-bottom: 5px;
  }
  h3 {
    font-size: 19px;
  }
  p {
    margin: 0;
  }
}

.bill-layout-wrapper {
  width: 100%;
  height: calc(100vh - 160px);
  overflow-y: auto;
  padding-bottom: 30px;
  &::-webkit-scrollbar {
    display: block;
    width: 80px;

    @include vertablet {
      display: none;
    }
  }
  &::-webkit-scrollbar-track {
    background: $grayDroid;
  }
  &::-webkit-scrollbar-thumb {
    background: $red;
  }
  // &::-webkit-scrollbar-button:vertical:decrement {
  //   width: 100%;
  //   height: 52px;
  //   background: url(#{$urlImg}/ic_arrow_drop_up_black_24px.svg) no-repeat center $greenDark;
  //   background-size: auto 35px;
  //   display: block;
  // }
  // &::-webkit-scrollbar-button:vertical:increment {
  //   width: 100%;
  //   height: 52px;
  //   background: url(#{$urlImg}/ic_arrow_drop_down_black_24px.svg) no-repeat center $greenDark;
  //   background-size: auto 35px;
  //   display: block;
  // }
  @include l-device {
    height: calc(100vh - 150px);
  }
}

.bill-layout {
  margin: 20px auto 0 auto;
  width: 302.36px;
  background: white;
  border: 1px solid $grayDroid;
  padding: 10px;
  font-weight: $regular;
  letter-spacing: 0.5px;
  overflow: hidden;

  &.bill-angebot {
    font-family: $font-roboto-mono;
    word-spacing: -2px;

    .bill-datetime {
      margin-bottom: 15px;
    }

    &.bill-fontsize-16 .bill-col {
      font-size: 15px;
    }
  }
  &.bill-layout-type2 {
    .bill-row {
      margin-bottom: 6px;
      &.bill-row-heading {
        margin-bottom: 6px;
      }
    }
    .bill-datetime {
      p {
        margin: 0 0 3px 0;
      }
    }
  }
  &.bill-fontsize-16 {
    .bill-col {
      font-size: 16px;
      &.bill-col-brutto {
        font-size: 20px;
      }
    }
    .bill-row {
      .bill-col-heading {
        font-size: 17px;
      }
    }
  }
  &.bill-fix-height {
    height: 1040px;
  }
  .bill-header {
    text-align: center;
    font-weight: bold;
    font-size: 17px;
  }
  .bill-datetime {
    text-align: right;
    font-size: 16px;
    p {
      margin: 0;
    }
  }
  .bill-user {
    text-align: right;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .bill-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
    &.bill-row-heading {
      margin-bottom: 3px;
    }
    &.bill-row-summe {
      font-weight: $bold;
      .bill-col {
        font-size: 17px;
      }
    }
    .bill-col-heading {
      text-transform: uppercase;
      font-size: 15px;
    }
    &.bill-row-full {
      flex-direction: column;
      .bill-col {
        max-width: 100% !important;
      }
    }
  }
  .bill-col {
    font-size: 15px;
    &.bill-col-product {
      max-width: 197px;
    }
    &.bill-col-rabatt {
      font-size: 10px
    }
    &.bill-col-brutto {
      font-size: 20px;
    }
  }
  .bill-single-item {
    margin-bottom: 3px;
  }
  .bill-zwis {
    margin-top: 35px;
    .bill-col {
      font-size: 15px;
      &.bill-col-brutto {
        font-size: 20px;
      }
    }
    .bill-col-sperate {
      width: 100%;
      text-align: right;
    }
  }
  .bill-row-footer {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 25px;
    .bill-col {
      font-size: 15px;
    }
    .bill-row-barzah {
      margin-bottom: 15px;
    }
    .bill-row-footer-star {
      font-weight: bold;
      justify-content: center;
      font-size: 27px;
      span {
        margin: 0 6px;
      }
    }
  }
  p {
    &.heading-type {
      font-weight: $bold;
      font-size: 16px;
    }
  }
}

.bill-scroll-box {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 80px;
  .scroll-box-wrapper {
    background: $grayDroid;
  }
}

.print-box {
  height: 96px;
  background: $mainBrown;
  display: flex;
  justify-content: space-between;
  padding-right: 120px;
  position: relative;
  @include vertablet {
    padding-right: 0;
    height: 70px;
  }

  @include xsm {
    height: 55px;
  }
  &.center-element {
    justify-content: center;
  }
  .btn-print-box {
    background: $green;
    color: white;
    font-weight: $regular;
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    @include xs {
      width: 130px;
    }

    @include xxsm {
      width: 90px;
    }
    &.do-print {
      .icon-box {
        background-image: url(#{$urlImg}/ic_print_white_24px.svg);
      }
    }
    &.do-next {
      .icon-box {
        background-image: url(#{$urlImg}/ic_forward_white_24px.svg);
      }
      &.is-inactive {
        &:before {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 5;
          left: 0;
          top: 0;
        }
      }
    }
    &.close-box {
      .icon-box {
        background-image: url(#{$urlImg}/ic_cancel_white_24px.svg);
      }
    }
    &.do-download {
        .icon-box {
          background-image: url(#{$urlImg}/download.svg);
        }
      }
    .icon-box {
      margin-bottom: 8px;
      width: 42px;
      height: 36px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @include xsm {
        width: 30px;
        height: 20px;
      }
    }
    a {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
    &.btn-print-center {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
    }
    &.is-disable {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9;
        width: 100%;
        height: 100%;
      }
      .icon-box,
      .text-box {
        opacity: 0.3;
      }
    }
  }
}

.bill-sticky {
  position: absolute;
  min-width: 210px;
  min-height: 210px;
  background: $mainPink;
  color: white;
  font-weight: bold;
  left: 35px;
  top: calc(50% - 64px);
  transform: translateY(-50%);
  .bill-sticky-wrapper {
    min-width: 210px;
    min-height: 210px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .bill-sticky-row {
    font-size: 36px;
    margin: 8px 0;
    text-transform: uppercase;
    .bill-sticky-row-data {
      text-align: center;
    }
  }
}

.offer-print-cal {
  position: absolute;
  min-width: 210px;
  min-height: 210px;
  right: 35px;
  top: calc(50% - 64px);
  transform: translateY(-50%);
  margin: 0;
  padding: 0;

  &.has-scroll {
    right: 85px;
  }
}

body.is-large-screen {
  .print-box {
    height: 120px;
  }
  .bill-layout-wrapper {
    height: calc(100vh - 210px);
  }
  .bill-sticky {
    min-width: 280px;
    min-height: 280px;
    .bill-sticky-wrapper {
      min-width: 280px;
      min-height: 280px;
    }
    .bill-sticky-row {
      font-size: 40px;
    }
  }

  .offer-print-cal {
    min-width: 280px;
    min-height: 280px;

    &.has-scroll {
      right: 115px;
    }
  }
}

@media print {
  @page {
    margin: 0;
    padding: 0;
    size: portrait;
  }
  .bill-layout-wrapper {
    height: auto;
    margin-top: -40px;
  }
  .bill-details-box {
    background: white;
    align-items: flex-start;
  }
  .bill-layout {
    width: 335.36px;
    margin: 0;
    border: none;
    padding: 0 0 0 15.8px;
    letter-spacing: 0.5px;
    // font-weight: $bold;
    .bill-col-total-amount {
      padding-top: 0.2px;
    }
  }
  body,
  html,
  main,
  .main-box,
  .bill-details-box,
  .bill-layout-wrapper {
    margin: 0;
    padding: 0;
  }
  header,
  .print-box,
  .bill-scroll-box,
  .bericht-header,
  .bill-sticky,
  .hide-on-print {
    display: none;
  }
}
