.product-list-box {
  background: white;
  font-size: 16px;
  display: flex;
  @include device {
    font-size: 15px;
  }
  &.disable-click {
    .product-list-wrapper {
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
    }
  }
  &.table-border-cell {
    .product-list-wrapper {
      .row-pl {
        border-bottom: 1px solid #D1D1D1;
      }
      .col-pl {
        border-left: 1px solid #D1D1D1;
        &:first-child {
          border-left: none;
        }
      }
    }
  }
  .product-list-wrapper {
    border: 1px solid $grayBright;
    flex: 1;
    position: relative;
    .row-header {
      border: none;
    }
    .row-pl {
      cursor: pointer;
      .col-pl {}
      &.single-row-product-order {
        &.isClicked {
          background: $charcoal;
        }
        &.is-storno,
        &.is-zero {
          color: $red;
        }
        &.is-geschenk {
          color: $blueTald;
        }
        &.is-geschenk-storno {
          color: $mainBrown;
        }
      }
    }
    .return-input-wrapper {
      .return-input {
        padding: 5px 10px;
        border: 1px solid $grayDroid;
        font-weight: $regular;
      }
    }
  }
  .product-list-body {
    height: 229px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

body.is-large-screen {
  .product-list-box {
    font-size: 18px;
    .product-list-body {
      height: 285px;
    }
    .product-list-header {
      .row-pl {
        .col-pl {
          height: 37px;
          font-size: 18px;
        }
      }
    }
  }
  .product-list-scroll-box {
    width: 85px;
  }
  .btn-scroll {
    height: 65px;
  }
  .row-body.product-list-body {
    .row-pl {
      height: 57px;
    }
  }
}