.return-details-wrapper {
  width: 100%;
  .return-details-box {}
  .return-details-header {
    padding: 10px 0;
    display: flex;
    .link-item {
      position: relative;
      display: flex;
      align-items: center;
      font-weight: $regular;
      font-size: 22px;
      padding: 4px 10px 4px 35px;
      background: $mainGray;
      color: white;
      &:after {
        content: '';
        width: 20px;
        position: absolute;
        height: 20px;
        left: 10px;
        top: 6px;
        background: url(#{$urlImg}/double-arrow-left-white-2.svg) center no-repeat;
        background-size: auto 100%;
      }
    }
  }
  .order-return-details {
    margin: 10px 0 25px 0;
    background: $grayBar;
    padding: 10px;
    .order-return-details-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h3 {
        color: $green;
        font-size: 19px;
        text-transform: uppercase;
      }
      .return-complete-btn {
        display: flex;
        padding: 20px 25px;
        color: white;
        background: $greenMedium;
        font-weight: $regular;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        &:hover {
          background: $greenDark;
        }
      }
    }
    .order-return-details-data {
      font-weight: $regular;
      margin-top: 30px;
      .list-return-data {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1200px;
        .return-data-item {
          flex: 0 0 50%;
          display: flex;
          padding: 3px 0;
          >div {
            font-size: 20px;
            padding-right: 8px;
          }
          .return-data-title {
            min-width: 120px;
          }
        }
      }
    }
  }
  .product-list-box {
    font-size: 20px;
    .col-pl {
      font-weight: $regular;
      &.col-return-quantity {
        .return-quantity-input-wrapper {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .row-header {
      .row-pl {
        .col-pl {
          font-weight: $bold;
          padding: 5px 2px;
        }
      }
    }
    .row-body {
      .row-pl {
        height: auto;
        .col-pl {
          padding: 5px 2px;
        }
      }
    }
  }
  .return-item-row {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    padding: 0 10px;
    cursor: pointer;
  }
  .return-item-btn {
    background: $red;
    color: white;
    text-transform: uppercase;
    font-weight: $regular;
    padding: 20px 25px;
    letter-spacing: 0.5px;
    cursor: pointer;
  }
  .order-return-sub-details {
    margin-top: 10px;
    background: $grayBar;
    padding: 10px;
    .order-return-sub-details-list {
      display: flex;
      align-items: center;
      font-weight: $regular;
      flex-wrap: wrap;
      width: 100%;
      max-width: 1200px;
      .order-return-sub-details-item {
        flex: 0 0 50%;
        display: flex;
        padding: 3px 0;
        font-size: 20px;
        .sub-details-title {
          padding-right: 8px;
        }
      }
    }
  }
}

.list-return-reason {
  li {
    border: 2px solid $grayBright;
    padding: 8px;
    margin: 4px 0;
    cursor: pointer;
    text-align: center;
    font-size: 25px;
    padding: 12px 8px;
  }
}