.pos-slider {
  width: 100%;
  height: 100%;
  position: relative;
  .pos-slider-item {
    width: 100%;
    height: 100%;
    @include background-image();
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 1.5s $cubic4;
    &.is-active {
      opacity: 1;
      visibility: visible;
    }
  }
}