.total-box {
  display: flex;
  background: $blueLight;
  color: white;
  padding: 5px 15px;
  font-weight: $bold;
  font-size: 20px;
  @include device {
    font-size: 15px;
  }
  .total-box-title {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    display: flex;
    align-items: center;
    padding-right: 15px;
    cursor: pointer;
  }
  .total-box-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background: white;
    color: $mainOrange;
    .details-content {
      margin: 0 10px;
      text-align: center;
      flex: 1;
    }
    p {
      margin: 0;
    }
  }
}

body.is-large-screen {
  .total-box {
    font-size: 18px;
  }
}
