.umsatz-box {
  .umsatz-wrapper {
    display: flex;
    justify-content: center;
  }
  .list-umsatz {
    background: white;
    padding: 20px;
    margin-top: 20px;
    .umsatz-item {
      display: flex;
      margin-bottom: 10px;
      font-size: 20px;
      &:last-child {
        margin-bottom: 0;
      }
      .umsatz-data-title {
        width: 155px;
      }
    }
  }
}